[2013-12-18 18:47] searchivarius opened #1 "Ensure that maxNumQuery > 0"
It should also have a default positive value.

[2013-12-18 18:48] searchivarius opened #2 "Support maxLeavesToVisit in sa-tree"

[2013-12-23 18:35] searchivarius opened #3 "Efficient distances for sparse vector spaces"
1. Efficient computation of scalar products: file distcomp_cosine.cpp
2. Efficient intersection of sparse vectors: function ComputeDistanceHelper

[2013-12-23 21:40] searchivarius opened #4 "Fixing JSPrecompSIMDApproxLog for Intel"
Currently, I use JSPrecompSIMDApproxLog instead (see src/space/space_js.cpp)

[2013-12-23 22:40] searchivarius opened #5 "Separate tests of distance efficiency and regular unit tests."

[2013-12-25 03:15] #1 closed, assigned to searchivarius

[2013-12-25 17:53] searchivarius opened #6 "Logging improvements"
Need to handle logging better than just dumping everything to the screen. Two improvements are needed
1) Log-level control through a switch
2) An ability to redirect non-fatal errors to the separate log-file

[2013-12-27 02:29] #4 closed, assigned to searchivarius

[2013-12-27 04:26] searchivarius opened #7 "Class hierarchy for objects"
We absolutely need to have a hierarchy of objects, which can do the following

1) Read an object from input stream
2) Write object to an output stream
3) How to provide access to the data to compute distances.

Currently there is no way to write objects (not even for debug purposes). Reading is done by classes inherited from the Space. This is not a good practice, we need to decouple this object-r

[2013-12-28 04:34] searchivarius opened #8 "Perhaps, there is a minor bug in the evaluation code"
This one happens only for float, see TODO in eval_resulst.h:

[code]

[2013-12-28 07:10] searchivarius opened #9 "128-bit alignment"
We need to ensure that all data arrays of integers, floats, and doubles are aligned on 128-bit boundaries. This needs to be done in two places
1) When the object is created (this would automatically be ensured if the header size is 16k, k some int)
2) When we "chunk" bucket objects, i.e., put them into a single contiguous memory chunk.

Otherwise, we may crash
http://searchivarius.org/blog/what-yo

[2014-01-20 22:02] searchivarius opened #10 "Record the # of queries per second"
This is a necessary (but missing) statistics for multi-threading testing. Even though, it is possible to compute it from the average query time, it will be best to produce it automatically.

[2014-01-20 22:03] searchivarius opened #11 "Implement a new version of inverted index"
Uncompressed and simplified (mergesort-based intersection instead of adaptive intersection) index from the paper:

Succinct Nearest Neighbor Search

[2014-01-26 07:56] searchivarius opened #12 "Caching of ground-truth data"
Currently, in each test we randomly divide the data set into testing and indexable subsets. Then, for each division we compute the exact result set for the NN or range search through sequential searching. In that, we also memorize the search time of sequential searching.

This is ok for fast distances and small datasets. Yet, it is rather slow for large data sets (and slow distances). We should su

[2014-03-31 22:20] searchivarius opened #14 "Documentation improvement"
Give an example to start each method in the manual (command line).

[2014-04-01 03:50] searchivarius opened #15 "Separate indexing and searching parameters"
We need to be able to specify search parameters that can be changed during the search phase. In this way, we can modify them and re-run queries without rebuilding the index.

[2014-05-16 13:53] #11 closed, assigned to bileg

[2014-05-16 13:54] #3 closed, assigned to searchivarius

[2014-05-16 13:55] searchivarius opened #16 "Make it possible to compile and run on Windows"

[2014-05-16 16:05] #15 closed, assigned to searchivarius

[2014-05-16 16:05] #6 closed, assigned to searchivarius

[2014-05-20 01:53] #16 closed, assigned to searchivarius

[2014-05-20 01:54] searchivarius opened #17 "Permutation index (perm_incsort) crashes on Windows (with default parameters)"

[2014-05-23 09:17] #17 closed, assigned to searchivarius

[2014-05-23 09:20] searchivarius opened #18 "Visual Studio sub-projects should build code in separate directoriers"
Currently they overlap and the build might fail sometimes. It is a minor problem that occurs only when projects are built in parallel. Typically, just hitting F7 another time lead to a successful build.

[2014-05-23 20:49] searchivarius opened #19 "Build a 64-bit version of GSL for Windows."
Looks like it should be possible. At least, there are project files to build libGSL with VC 8.

[2014-05-29 03:04] searchivarius opened #20 "Implement an approximate version of AESA/LAESA"

[2014-06-02 05:14] searchivarius opened #21 "Add an implementation of a kernelized hashing"
http://www.cse.ohio-state.edu/~kulis/klsh/klsh.htm

Papers:

Kernelized Locality-Sensitive Hashing for Scalable Image Search
Brian Kulis & Kristen Grauman
In Proc. 12th International Conference on Computer Vision (ICCV), 2009.
[pdf]
Also see the following related papers, which apply LSH to learned Mahalanobis metrics:

Fast Similarity Search for Learned Metrics
Brian Kulis, Prateek Jain, & Kristen

[2014-06-02 05:15] searchivarius opened #22 "Implement rank-cover tree"
1. The faster cover trees can be implemented based on paper "Faster cover trees
M Izbicki, C Shelton"
2. The code for faster rank-cover tree can be found here: https://github.com/DBWangGroupUNSW/nns_benchmark

[2014-06-06 09:45] #5 closed, assigned to searchivarius

[2014-06-18 03:49] #18 closed, assigned to nobody

[2014-06-18 03:52] searchivarius opened #23 "Support minimalistic objects without the wrapper Object class"
Currently, we place all our data objects inside instances of the class Object. However, it is a bit complicated for users. Perhaps, a better approach is to work directly on  pointers. We sure need to store object meta information somewhere (id, class label, type, and the size of the data). Yet, this can be kept in a separate hash table,  where object pointers are keys.

Perhaps, one solution is a

[2014-06-21 12:29] searchivarius opened #24 "Write tests for the evaluation components"

[2014-06-21 12:31] searchivarius opened #25 "Finish implementing test_integr"
PS: a regression utility that test our methods using a variety of parameters, in a single and multithread modes. Then, it checks if recall and the improvement in the # of distance computation matches pre-recorded values.

[2014-06-24 08:14] #8 closed, assigned to searchivarius

[2014-06-24 21:13] #24 closed, assigned to searchivarius

[2014-07-09 19:10] #14 closed, assigned to searchivarius

[2014-07-09 22:43] #25 closed, assigned to searchivarius

[2014-07-19 23:58] searchivarius opened #26 "Implement M-index"
Metric Index: An efficient and scalable solution for precise and approximate similarity search
David NovakCorresponding author contact information, E-mail the corresponding author,  Michal Batko E-mail the corresponding author,  Pavel Zezula E-mail the corresponding author.

Source code is available at:

http://mufin.fi.muni.cz/trac/m-index

[2014-10-16 21:55] searchivarius opened #27 "Embed LM-tree"
An efficient tree structure for indexing feature vectors
The-Anh Pham, a, b, , Sabine Barrata, Mathieu Delalandrea, Jean-Yves Ramela

[2014-12-19 05:40] searchivarius opened #29 "Porting LSH forest"
http://scikit-learn.org/dev/modules/neighbors.html#approximate-nearest-neighbors

[2014-12-23 21:37] searchivarius opened #30 "Implementing advanced projection trees and hierarchical k-means"
1) FLANN
2) Trees from "Trinary-Projection Trees for Approximate Nearest Neighbor Search"

[2014-12-26 06:00] searchivarius opened #31 "Implmenting DynDex: A Dynamic and Non-metric Space Indexer"
In the new version, it is named: **nonmetr_list_clust**

[2015-01-18 21:11] searchivarius opened #32 "Implement Fagin's rank aggregation methods"
Efficient similarity search and classification via rank aggregation
R Fagin, R Kumar, D Sivakumar - Proceedings of the 2003 ACM …, 2003 - dl.acm.org

It's also patented:

Efficient similarity search and classification via rank aggregation
United States Patent Application 20040249831 Kind Code: A1

[2015-01-19 06:56] aponom84 commented on #32
úÁÂÁ×ÎÏ. ÷Ó£ ÐÁÔÅÎÔÕÀÔ )

On 19 January 2015 at 01:11, Leonid Boytsov <notifications@github.com>
wrote:

[2015-01-19 07:08] searchivarius commented on #32
Some working version https://github.com/searchivarius/NonMetricSpaceLib/commit/64e6910dfaa6c3b4a398faaac879415a732b79b1

[2015-01-20 03:10] searchivarius commented on #32
Actually, for L2, I would need to implement LSH-like projections.

[2015-02-03 03:16] searchivarius opened #33 "Getting rid of LOG(LIB_FATAL)"
In many places, we use LOG(LIB_FATAL), but it kills the app. This call can also reside inside CHECK.

This is hardly acceptable for a good library. We should replace most such calls with throwing an exception. Some care should be taken to ensure this doesn't cause *leaked memory*.

[2015-02-03 15:42] searchivarius opened #34 "Better proxy for distance computations"
Space objects can be used to compute distances only during indexing time.
   search time, all distance computations are proxied through a query object.
   During the indexing time, the query parameter can be NULL, but during
    search time, one needs to supply the actual query.

   This is actually not such a good approach, we need a separate
   object to proxy distance computations. It should no

[2015-02-06 05:52] #32 closed

[2015-02-11 07:37] #12 closed

[2015-02-11 07:39] searchivarius opened #35 "Better caching of ground-truth data"
Currently, we are going to save only a fixed number of GS entries, which is 1000 by default. This is fine for most kNN scenarios, however, may be insufficient for range searching. We need a "knob" to specify what is the maximum number of entries we want to save, but *relative* to the result size.

In addition, storing complete set of all GS entries uses a lot of memory. In some case, we simply run

[2015-02-11 11:54] searchivarius opened #36 "Port NN-descent"
We need at least one MORE implementation of a knn-graph. Don't forget to update the list of publications.

[2015-02-16 06:15] searchivarius opened #37 "Move all utility code to a separate util library"
Visual studio project files should be changed as well. Currently, we have the following utility binaries, which are better in separate util/apps folder. Now they are either in the _src_ or in the _test_ folder:
1) bench_distfunc
2) bench_projection
3) tune_vptree
4) dummy_app
5) report_intr_dim

[2015-02-16 06:48] searchivarius commented on #9
Actually we do need some kind of portable memalign.

[2015-02-17 10:43] #36 closed

[2015-02-18 02:53] searchivarius opened #38 "Segfaulting when the cache file is created for a larger data set than required"
Try to create for 100K records and then run with 10K.

[2015-02-22 01:39] searchivarius opened #39 "Reporting memory for the case when query-time parameters are being changed"
If the index is not recreated, but rather only query-time parameters are changed, we report the correct memory usage only once. For the subsequent testing bouts, the memory consumption is equal to the size of the data size. This need to be fixed.

[2015-02-22 07:31] searchivarius opened #40 "Need to add a check for unused/wrong params in every method"
See, e.g., how it's done in VP-tree:
https://github.com/searchivarius/NonMetricSpaceLib/commit/7538b4a66db19fa912eedae3240bd787822103a4
Previously, this check was done in the AnyParamManager destructor. Yet, this was problematic for several reasons.

[2015-02-24 21:36] searchivarius opened #41 "Incremental sorting bug"
Try e.g., commenting out incremental sorting for now

release//experiment --dataFile /home/leonid/TextCollect/sift_texmex_learn5m.txt --maxNumData 1000000 --maxNumQuery 200 --distType double --spaceType l2 --knn 10 --testSetQty 1  --cachePrefixGS /home/leonid/GIT/NonMetricSpaceLib/similarity_search/gs_cache/sift1M --method proj_incsort:projType=rand,projDim=1024,knnAmp=60   --method proj_incsort:p

[2015-02-24 22:12] searchivarius commented on #41
Glad I caught this one quickly. This is actually my own stupidity. It looks like nasty (perhaps, NANs or INF) values were generated by the random projection with normalization when the number of dimensions was *much larger* than the number of dimensions in the source space. Fixed by normalizing only nSrcDim vectors.

https://github.com/searchivarius/NonMetricSpaceLib/commit/eab68e0b4f0efe7ba13bfa1

[2015-02-24 22:12] #41 closed

[2015-04-02 15:48] searchivarius opened #42 "Don't disable copy protect for MSVC for Windows"
Currently, DISABLE_COPY_AND_ASSIGN is not used under Windows, because it generates a lot of wranings C4661. Instead of making DISABLE_COPY_AND_ASSIGN void, just disable the warning.
https://msdn.microsoft.com/en-us/library/2c8f766e.aspx

[2015-04-06 21:38] searchivarius opened #43 "Implement an SIMD version for dense-vector cosine similarity"
The current implementation is vectorized automatically by ICC and GCC. However, not by CLang yet. In addition, we can't rely on automatic vectorization, as it is fragile and may stop working any time.

[2015-06-09 07:44] #43 closed

[2015-06-09 07:44] searchivarius commented on #43
done

[2015-06-09 22:10] searchivarius opened #44 "Save the time to build index"
Save the time to build index in the output file.

[2015-06-09 22:10] searchivarius opened #45 "Consider method/space name renaming"
For example, cosinesimil will become cosine
small_world_rand -> sw-graph

**Important** keep older names as synonyms.

[2015-06-09 23:54] searchivarius opened #46 "The VP-tree should be able to call the tuning procedure itself"
Make it possible to call the tunning procedure (current you can only run tune_vptree) from vp-tree automatically. They user may be able to specify the following parameters:
*minExp (default 1)
*maxExp (defalt 1)
*maxTuneQty (default 10000)
*bucketSize (50)

**Require the following ** bucketSize** maxTuneQty  >= dataQty.

[2015-06-09 23:57] searchivarius opened #47 "Improve the search algorithm of NN-descent"
Recently, the algorithm of the small_world_rand was made about 3x faster. Port these improvements to the algorithm that runs on top of NN-descent.

[2015-06-10 00:11] searchivarius commented on #46
This is not simple, b/c it requires the modification of ExperimentConfig.

[2015-06-10 02:06] searchivarius opened #48 "Object class improvements"
In version 2, we will introduce several types of memory allocators (available to indexing methods, which will do memory allocations for data themselves) that will take care of

An Object will be renamed to **DataPoint**

1. allocating
2. freeing
3. properly aligning memory (previously #9)

Hierarchy of class objects referenced in #7 will also be very useful

These allocators will allow several mod

[2015-06-10 05:53] #47 closed

[2015-06-10 12:25] searchivarius opened #49 "Don't duplicate memory in MPLSH"
sic

[2015-06-10 13:04] searchivarius opened #50 "Sync the documentation"
Cover several issues:
1) New methods
2) New utilities.
3) Changes in the interface of the Space
4) Auto-tuning for VP-tree (in the VP-tree section).

[2015-06-10 13:06] searchivarius opened #51 "Sync the integration utility (test_integr_util)"
Some parameters changed, some new methods were added.

[2015-06-12 20:25] #46 closed

[2015-06-14 20:44] searchivarius opened #52 "Improve a vp-tree pivot-selection procedure (for low-dimensional spaces)."
While in higher-dimensional spaces (e.g., SIFT) with narrow histograms of distances (between random pairs of points), random pivots may be almost as good as any other pivots, this is not the case of lower dimensional spaces, or high-dimensional spaces with very low intrinsic dimensionality. A user should be able to specify an option for a better pivot-selection. In particular, trying several pivot

[2015-06-15 17:04] searchivarius opened #53 "Further improving the speed of SW-graph"
* Experiment with replacing two priority queues (in each of the search functions) with a single sorted array.
* Try a faster priority queue.
* See how well it fares compared to priority ques for **both** small and large k.

[2015-06-15 17:05] #19 closed

[2015-06-21 15:14] erikbern opened #54 "Can't compile on Ubuntu 12.04"
I keep getting this issue:
[code]

This is with the following environment variables:
[code]

It seems like the makefile doesn't respect the environment variables so I can't override the default ones (Ubuntu 12.04 defaults to GCC 4.6)

[2015-06-21 15:25] erikbern commented on #54
Realized this is specifically for python bindings. I also figured out I can build them using "make CC=$CC" as a workaround so this might not be a huge issue

[2015-06-21 15:26] erikbern commented on #54
https://github.com/erikbern/ann-benchmarks/blob/master/install/nmslib.sh#L18

[2015-06-21 17:27] searchivarius commented on #54
This is not right, there is a mistake in the Makefile.

[2015-06-21 17:40] searchivarius commented on #54
Now seems to be working with both
[code]
and
[code]

[2015-06-21 17:40] #54 closed

[2015-06-21 17:52] erikbern commented on #54
Cool thanks

[2015-06-21 20:09] searchivarius commented on #54
Please, note that make CC=... won't work any more. Sorry, it was some typo and CXX-variable in the makefile becamse CC.

[2015-06-22 13:31] searchivarius opened #55 "Improve the auto-tuning procedure of the VP-tree."
Make it more robust. Avoid throwing exceptions when the combination of parameters isn't best.

[2015-08-12 15:54] searchivarius commented on #44
https://github.com/searchivarius/NonMetricSpaceLib/issues/44#

[2015-08-12 15:57] #2 closed

[2015-08-13 07:00] #55 closed

[2015-08-13 07:16] searchivarius opened #56 "Update the utility genplot.py"
It uses old names for pp-index, napp, mi-file, etc... These names should also be update in the toString() method. Both old and new version should be understood in genplot.py though.

[2015-08-15 03:50] searchivarius commented on #50
mostly done, only some proof-reading is needed.

[2015-08-15 03:50] #50 closed

[2015-08-15 03:51] searchivarius commented on #40
let's postpone this, not very critical.

[2015-08-15 04:37] #39 closed

[2015-08-15 04:38] #44 closed

[2015-08-15 04:38] #10 closed

[2015-08-16 02:57] searchivarius opened #57 "A nearly full reproducibility with a given seed"
We should be able to specify the seed for all random generators in initLibrary. Would allow a nearly fully reproducible results if an index is built in a *single*-thread model. We don't aim to reproduce lshkit and nndes baselines though, only NMSLIB-"native" methods.

[2015-08-16 03:29] #51 closed

[2015-08-16 03:48] searchivarius opened #58 "Fix Windows build"

[2015-08-16 21:57] #42 closed

[2015-08-16 22:04] #56 closed

[2015-08-16 22:06] searchivarius opened #59 "Improving stability of test_integr"
For better stability we need to use data sets of higher dimensionality. What would be ideal: having an application that can run the method one and produce a piece of code to be be added to test_integer.

[2015-08-16 22:10] searchivarius opened #60 "Update README.md"
* Proof-read the manual
* Put manual to the arxiv
* Sync "Quick Start on Linux" with the manual

[2015-08-17 03:07] #58 closed

[2015-08-19 07:48] searchivarius opened #61 "Bug in saving/retrieving gold standard cache on Windows"
First, let's write a test to see if binary entries can be written and read correctly.

[2015-08-19 09:05] searchivarius commented on #61
One must use ios :: binary to ensure that streams are opened in the binary mode.

[2015-08-19 09:05] #61 closed

[2015-08-25 02:56] #60 closed

[2015-10-01 17:26] searchivarius commented on #23
Too much trouble, too little utility.

[2015-10-01 17:26] #23 closed

[2015-10-14 14:05] searchivarius opened #62 "Continuous integration support"
Consider using https://travis-ci.org/

[2015-10-21 15:12] searchivarius opened #63 "Compare against simmachines some day"
http://simmachines.com/we-discover/

[2015-11-02 21:19] searchivarius opened #64 "Manual improvements & changes for the upcoming version"
1. Removal of HiddenClone() in Space
2. Recommendation to use DISABLE_COPY_AND_ASSIGN,
3. **but** Now each space should have an explicit constructor
4. Object.id() function clarifications
5. No functions SetQueryTimeParamsInternal & GetQueryTimeParamNames in the Index function.
6. However, you have the function SetQueryTimeParams(...), CreateIndex(params), LoadIndex(string location), SaveIndex(str

[2015-11-03 21:22] #45 closed

[2015-11-03 21:22] searchivarius commented on #45
Mostly done, more renaming in the future will be done if necessary.

[2015-11-06 15:45] searchivarius opened #65 "Improving distance computation and solving the alignment problem"
For short vectors our SIMD implementations aren't optimal, in particular, because we use dim % 4 scalar operations to compute the tail. Only this alone requires an expensive integer division. Plus, there are potential branch mispredictions when considering if the tail needs to be evaluated. Instead, we can pad vectors with zeros and always have 4x integer numbers (easy to tackle with SIMD).

Credi

[2015-11-10 04:00] searchivarius commented on #33
Will be solved in pserv. CHECK & CHECK_MSG now throw errors. LOG(LIB_FATAL) is still used sometimes, e.g., in utility/evaluation code, but not by the core functions.

[2015-11-10 04:00] #33 closed

[2015-11-11 00:03] searchivarius opened #66 "Not properly resetting query-time parameters when testing with several values of k or r."
Reported by David Novak. If you specify several values of k and several query-time parameters, after the first round of testing (for one k), query-time parameters are not always set correctly. Affected branches: master & dev, but not pserv.

[2015-11-11 05:37] #66 closed

[2015-11-14 03:28] searchivarius commented on #49
Because these methods will never be main workhorses (they will in the future be moved into the experimental part of the library), it is sufficient that the framework takes this extra memory into account. In the pserv version this is done via function **DuplicateData**

[2015-11-14 03:28] #49 closed

[2015-11-14 03:29] searchivarius commented on #40
Mostly resolved in branch pserv

[2015-11-14 03:29] #40 closed

[2015-12-06 17:27] searchivarius opened #68 "dbScanFrac/knnAMP should be really optional in NAPP"

[2015-12-10 03:05] searchivarius opened #69 "stringstream is horribly slow on Windows"
Reading of text data should use something like this (though there should be data-specific implementations, i.e. for ints, floats, etc... as well as for sparse data):

[code]
An already existing implementation is here: http://www.chokkan.org/software/sample/strsplit.h.html

Also, some **unit tests** must be written to verify that faster functions are correct.
PS: may be it's worth looking at what t

[2015-12-10 16:00] searchivarius opened #70 "Make a CMakeList.txt for the server"

[2015-12-10 17:29] searchivarius opened #71 "Remove boost from the core library"
You only need to replace the command-line option parser. Good alternatives are described here:
http://stackoverflow.com/questions/989980/how-do-you-handle-command-line-options-and-config-files
**The most compelling option so far:**  ezOptionParser

[2015-12-24 06:24] searchivarius opened #72 "I think that computation of fast sparse cosine similarity fails if one vector is empty"
Likely the result is NAN

[2015-12-28 07:56] FangLinHe opened #73 "Possible to continue setting data after building index?"
Hello,

I really appreciate your great work, which is really efficient and high quality!

However, I am encountering a problem: since my dataset is big (more than 1 million features with 4096 dimension), I would like to build the index only one time, and when the new dataset comes in, I could simply call `nmslib.setData(self.index, i, feature)` where i would be greater than `n` specified during in

[2015-12-28 15:30] searchivarius commented on #73
Hi, thank you for the kind words.

Are you asking whether it is possible
1) save/restore index
2) add more data after the index is created (i.e., incremental updates).

[2015-12-29 02:55] FangLinHe commented on #73
Hello searchivarius,

Thank you for your prompt reply! By that I meant whether it is possible to 2) add more data after the index is created (i.e., incremental updates).

As what I have read in the manual, it seems that some methods have to be re-indexed for new coming data, e.g. small-world graph. But for projection-based methods, I believe it is possible to achieve the goal of incremental update

[2015-12-29 03:04] searchivarius commented on #73
@FangLinHe, interestingly sw-graph index *IS* created incrementally. This is also true for some other methods. Yet, the generic API doesn't allow you to do so. Do you play to use the code from Python?
BTW, we have a branch where two most important indices can be read/written. But, it is not well tested yet.

[2015-12-29 07:12] FangLinHe commented on #73
@searchivarius Oh, that is my fault to misunderstood.  I am actually a newbie at this area.
Yes, I am using Python API; so you may mean that, in C++ it allows me to incrementally update the index?  It would be great if you could give me some hint how to achieve it by modifying the Python API, or even better if you also plan to do so in the future release. :)
And great to know that you have a branc

[2015-12-29 08:46] searchivarius commented on #73
@FangLinHe , eehh, actually it wouldn't be possible without rewriting the code quite a bit. I think it's a shame we can't support it yet, given that many method, in principle, can do it easily. I have added the issue to the release 2.0.

[2015-12-31 07:16] FangLinHe commented on #73
@searchivarius So sad to hear that, but you really did a good job.  I will still use it and wait for the release 2.0 to support incremental update!  Thank you so much for the discussion and answering my doubts! :)

[2015-12-31 15:27] searchivarius commented on #73
Please, don't close the issue though :-)

[2015-12-31 15:49] FangLinHe commented on #73
Oops, my fault. Sorry!

[2015-12-31 15:50] FangLinHe commented on #73
Reopen

[2015-12-31 15:50] FangLinHe commented on #73
Reopen

[2016-01-04 04:22] searchivarius opened #74 "Replace a portable alignment macro with a C++11 expression"
Instead of of
``
#if defined(__GNUC__)
#define PORTABLE_ALIGN16 __attribute__((aligned(16)))
#else
#define PORTABLE_ALIGN16 __declspec(align(16))
#endif
``
use [alignas](http://en.cppreference.com/w/cpp/language/alignas)

[2016-01-09 03:28] searchivarius opened #75 "Switch to more efficient cosine distance"
This is for the case of the word embedding space with the cosine similarity distance. In this case, vectors should be normalized during loading. Then, cosine similarity can be computed using a faster & simpler function ScalarProductSIMD.

[2016-01-15 07:06] agangzz commented on #64
Hi, thank you for you great work for this fast and effective nmslib. I am looking forward for the upcoming version. so what's the release schedule of this upcoming version?

[2016-01-15 13:36] searchivarius commented on #64
Hi, thank you for the kind words. The server version is basically ready (though some testing is needed), so it is a question of couple of months, but some testing is necessary (and the manual needs to be updated). A more advanced version will take longer to produces.

[2016-01-20 02:43] agangzz commented on #64
Hi, searchivarius
Thanks for your prompt reply.
According my evaluation (index DB: 10 million * 50 dimension), the nmslib(SW-grap) is much better than other NNS method(such as FLANN, LSHKIT, E2LSH) in accuracy and efficiency, but the index building process of SW-grap is very expensive (for me, it cost me about 6 hours using 4 threads), which may limit the application of SW-grap.

So is there any s

[2016-01-20 14:13] searchivarius commented on #64
Hi, thank you for the evaluation. Indexing time is, indeed, a concern, so we should look into ways of improving it. So, this is, indeed, a great feature request and there are some ways that can potentially speed up indexing quite a bit. It will not happen very soon though (unless somebody helps us). One quick solution is to merely add more threads (e.g., on Amazon you can have up to 18 real cores)

[2016-01-20 14:42] searchivarius opened #76 "Improvement in indexing speed"
We need to make SW-graph indexing faster.

[2016-01-23 10:28] aponom84 commented on #76
need to think how to do it

[2016-01-29 17:32] searchivarius commented on #76
It's been parallel for ages.

[2016-01-29 17:39] searchivarius commented on #48
As suggested by Yury, let's keep Object instances, not pointers. It's not easy to implement though if combined with optimizing memory layouts. For example, many methods keep a pointer to the Object. If Object data is moved to a new location, the code doesn't "notice" the difference. However, if the code "clings" to the Object instance, it will not notice that the data is moved to a new location. T

[2016-01-29 19:25] searchivarius commented on #64
Hi @agangzz , on a second thought, two things can be done very soon (and some immediately):
1) There are CPUs with a lot of cores. Amazon AWS servers have up to 18 real cores. Indexing scales well with the number of threads. So, indexing of 10 billion will take more like 1.5 hour.
2) Indexing slows down as the collection size increases. It is usually beneficial to index the largest data set as pos

[2016-01-30 07:29] agangzz commented on #64
Hi, searchivarius
I have run my code in a server with 24 cores @ 1.9GHz
(1) for indexing DB with 10 million * 50 dimension, the indexing time decreased from 6 hours(4 threads) to 1.3 hours(24 threads).
(2) but our target indexing DB may be larger than 200 million. In the algorithm verification phase, the indexing time with several days may be very expensive.

Splitting data is a good idea, I will

[2016-01-30 17:29] searchivarius commented on #64
Hi, @agangzz

(1) Great!
(2) For fast in-memory search, you would need to split among machines anyways. I think it may not be impossible to have 20-30 million per node.

Regarding your questions. Why don't we continue our discussion via e-mail (leo at boytsov.info).
(1) Yes, there is. It's not very fast, but still muuuch faster than recreating it :-)
(2) Unfortunately, not. In theory, you can easi

[2016-02-11 12:56] searchivarius opened #77 "Potential performance deterioration for integer-valued distances"
When dealing with results queue, we often push a (distance) value onto the queue. If the number of entries is > the expected size of the queue (e.g., k as in k-NN), we pop one value. However, there may be ties (several entries at the same distance). This way we may lose answers.

[2016-02-24 04:10] #35 closed

[2016-02-25 03:53] searchivarius opened #78 "Potenial inefficiencies related to virtualization of distance function computation."

[2016-02-26 17:59] searchivarius opened #79 "Port improved computation of the gold-standard to the pserv branch"

[2016-02-29 19:53] searchivarius opened #80 "Query creation time isn't included into the overall processing"
CreateObjFromStr  c an do some non-trivial data processing to make search faster. Sometimes, this processing can take substantial time that is currently **NOT INCLUDED** into overall search time.

[2016-03-06 05:40] searchivarius opened #81 "Confidence intervals are screwed up"
Instead of root(N), we divide STD by N. Also, need to double-check the formula for the meta-aggregation: can be screwed up as well.

[2016-03-16 19:30] searchivarius opened #82 "Supporting computation of only recall"
We need a flag to switch off computation of everything else but recall. An additional flag might disable the check of consistency of gold standard data and actual results: currently we check that the obtained distances are never closer than to the query than distances memorized in GS cache.

[2016-03-29 19:01] searchivarius opened #83 "Modify a CMake so that one can build the project on Windows without MSVC project files"
See e.g., an example of doing this here:
https://github.com/lemire/FastPFor/commit/8aa0f8528c8d4750f6561cce7403881722ec3ba7

[2016-04-19 05:03] #31 closed

[2016-04-19 05:04] #79 closed

[2016-04-19 05:04] #75 closed

[2016-04-19 12:24] musicformellons opened #85 "Hierarchical NSW"
This article:
http://arxiv.org/abs/1603.09320

mentions: "An implementation of the Hierarchical NSW algorithm presented in this paper is also will
be distributed as a part of the open source Non Metric Space Library."

So I was wondering if you could an indication when that might be as it looks like this is not yet the case.

[2016-04-19 12:56] yurymalkov commented on #85
Hierarchical NSW (or HNSW) was added to the pserv branch (https://github.com/searchivarius/nmslib/tree/pserv) less than a day ago. It is functional, but does not have any documentation yet. By the end of this week we are going to add it to ann bechnmark.
And as far as I know @searchivarius is going to make soon a major merging (pserv has many new features), with the documentation updates, so Hiera

[2016-04-19 12:59] musicformellons commented on #85
Wow, that's cool! Thanks for your swift reply.

[2016-04-19 13:00] #85 closed

[2016-04-19 16:23] searchivarius commented on #85
That was easy :-) I will update docs very soon.

[2016-04-27 13:26] searchivarius commented on #81
Closed in pserv.

[2016-04-27 13:26] #81 closed

[2016-04-29 02:49] searchivarius opened #87 "Test a new release on MAC OS"

[2016-04-29 03:15] searchivarius opened #88 "Documentation updates"
1. Adding efficiency/effectiveness plots to README
2. Uncommenting:
[code]
3. Committing the manual to GitHub.

[2016-05-03 03:06] #53 closed

[2016-05-03 04:20] searchivarius opened #90 "Some tuning guidelines for version 1.5?"

[2016-05-03 18:14] searchivarius opened #91 "Test a new release on Windows"

[2016-05-05 20:24] #64 closed

[2016-05-06 03:31] #90 closed

[2016-05-07 14:55] #68 closed

[2016-05-19 02:34] #88 closed

[2016-05-19 14:16] #91 closed

[2016-05-20 14:49] searchivarius opened #95 "A more accurate processing of kNN results"
The function checkAndAddResults should treat ties, i.e., points at equal distances from the query more carefully. Currently, if you have the k-th element at distance d, and you call CheckAndAddResult(...,d) with another data point, one of the points will get expelled. We must keep all of them. To this end, one needs to do the following:

1) Replace the priority queue with this one: https://github.

[2016-05-26 03:20] searchivarius opened #97 "Enable memory leak-detection flags"
See details here:
http://lemire.me/blog/2016/04/20/no-more-leaks-with-sanitize-flags-in-gcc-and-clang/

[2016-05-31 09:40] jknair opened #98 "SIGSEGV: Seg Fault in similarity::SpaceCosineSimilarity<float>::HiddenDistance"
After loading an index file which was created using hsnw loading about 5M vectors of 200 dimensions and issuing a knnQuery the code seg faults:

[code]
I am unclear how to debug this further.

versions used:
[code]

[2016-05-31 10:26] yurymalkov commented on #98
@jknair  What kind of distance are you using?

[2016-05-31 10:40] jknair commented on #98
@yurymalkov Cosine Similarity

[code]

[2016-05-31 11:52] searchivarius commented on #98
@jknair Could you post a complete Python example? Also what's the version of **C++ compiler**?

thanks!

[2016-05-31 12:03] jknair commented on #98
just loaded the word2vec vectors and added them to the index. A doubt about the index passed to the ```addDatapoint``` method, do they need to be incremental or can they be used a label to the datapoint ? Can I add them from multiple threads ? I think this could be the issue.
[code]

[2016-05-31 12:46] searchivarius commented on #98
@jknair a complete example will be extremely helpful. `addDataPoint` should be called **after** init, but before `createIndex` and **before** `loadIndex`. Each data point has an integer ID passed to `addDataPoint`. Please, check the example here: https://github.com/searchivarius/nmslib/blob/master/python_vect_bindings/test_nmslib_vect.py#L23
Shouldn't crash anyways, but I guess we still need more

[2016-05-31 13:14] yurymalkov commented on #98
@jknair It seems that addDataPoint is not thread-safe (it is calling vector.push_back which is not synchronized), so potentially multiple threads might be the reason for this.

[2016-05-31 13:15] searchivarius commented on #98
@yurymalkov @jknair It's not. We should probably make it very clear.

[2016-05-31 13:33] searchivarius commented on #98
PS: To further clarify: points should be added in a single thread. In any case, Python doesn't have real threads.

[2016-05-31 13:45] jknair commented on #98
I tried sequentially and the knnQuery still seg faults
so the code isnt much
[code]

[2016-05-31 14:09] searchivarius commented on #98
@jknair ok, let me try to reproduce this by just using the parameters that you specified.

[2016-05-31 14:15] searchivarius commented on #98
ok, it does crash, sorry about this. So, I wonder how ann-benchmarks worked. anyways, should be easy to fix.

[2016-05-31 14:26] jknair commented on #98
@searchivarius oh great, hope I dont have to reindex. Also some pointers on how to debug such problems would be really helpful ;)

[2016-05-31 17:22] searchivarius opened #99 "Simplify space names"
It's ok to have a verbose space descriptions returned by an API function. However, a simpler version is also required. There should be **two** functions that return space mnemonic names with and another **without** space pramters

[2016-06-01 03:18] searchivarius commented on #98
@jknair I have created a bugfix release version 1.5.1. I am sorry that you need to re-create an index. Unfortunately, the problem was exactly in not saving everything necessary to the index. However, you can re-create the index much faster if you don't care about squeezing most performance.

For example, for the purpose of testing I was using the following indexing parameters
``
index_param=['M=12

[2016-06-02 13:34] jknair commented on #98
@searchivarius worked perfectly. From the commit it seems adding searchMethod will throw a runtime error. So not add it to either the index params or the search params.

for 5M vectors of 200d and query of 100 NN
index param : ["M=96", "efConstruction=1600"]
query param : ['ef=1600']
the response times are around 47ms (95th percentile) and 91ms (99th percentile)

still have to calculate precision.

[2016-06-02 13:34] #98 closed

[2016-06-02 13:46] searchivarius commented on #98
@jknair thanks a lot for testing. searchMethod is not required now, so no need to specify. However, it will be ignored anyways.

Feel free to post indexing time and accuracy here.

[2016-06-06 19:35] searchivarius opened #100 "Port the latest k-graph"

[2016-06-06 19:36] searchivarius opened #101 "Port FALCONN"

[2016-06-09 08:37] honeytidy opened #102 "nmslib_vector.knnQuery() return query result count less then specify number k"
For instance:
[code]
But the return result `idx` items some time less than 10:
[code]
By the way, my data count to be indexed is about 20, not too may. But I think it should also return 10-NN result.

[2016-06-12 02:51] honeytidy commented on #102
I used the `small_world_rand` method.
This is my code:
[code]
My test data set is also attached.
[test_data.txt](https://github.com/searchivarius/nmslib/files/310621/test_data.txt)

[2016-06-13 19:50] searchivarius opened #103 "Additional measures of intrinsic dimensionality"
port/implement the following metrics:

1) Local Intrinsic Dimensionality: L. Amsaleg, O. Chelly, T. Furon, S. Girard, M. E. Houle,
K. Kawarabayashi, and M. Nett. Estimating local intrinsic
dimensionality

2) Relative Contrast: J. He, S. Kumar, and S. Chang. On the difficulty of nearest
neighbor search. In ICML, 2012.

[2016-06-14 17:30] searchivarius commented on #102
Hi @honeytidy your code is fine, it's a bug. For very small data sets, this may happen. I will try to fix this in later versions. However, for such small data sets you are better off using brute-force, e.g., like this:

[code]

[2016-06-14 17:31] searchivarius commented on #102
PS: I cannot fix this immediately, b/c too many methods are involved. Later, we will separate methods into core and experimental and I will fix this only for core methods (who cares about small bugs in experimental ones)? :-)

[2016-06-15 01:46] honeytidy commented on #102
OK, I got it. Thank you, @searchivarius.

[2016-06-15 06:33] funtusov opened #104 "HNSW memory footprint"
I am working with large image descriptors datasets (1e8-1e9 32-d vectors) and, based on initial tests, HNSW has an excellent scaling complexity. However, the problem arises from the memory footprint, and I am not sure whether this is the limitation of my usage, the method or, maybe, some inefficiency in the implementation.

I have read somewhere that a high-recall graph index is possible while tak

[2016-06-15 10:50] yurymalkov commented on #104
Thank you for the tests.
At the default settings HNSW takes a lot of memory in case of L2 and cosine distance. This is because HNSW makes a full copy of index+data in the optimized form. This doubles the amount of memory used, but speeds up the search, especially when fast distance functions are used. In future the issue can be solved by building the optimized index from the scratch.

There are se

[2016-06-15 10:59] searchivarius commented on #104
Hi @yurymalkov, Greg is saying that his memory footprint is 10x compared to what's possible. It's not clear how this happens, I am running some tests now.

[2016-06-15 11:11] funtusov commented on #104
@yurymalkov thank you for the suggestions, I will run some tests with those amendments!

[2016-06-15 11:40] searchivarius commented on #104
Dear @funtusov one more note.

I have just finished running a test with 5M sift vectors (0.5KB per vector). After reading the data, I get 3.3 GB virtual and 2.7 GB resident, which seems to be ok, because data would use 2.5 GB. After creating an index with skip_optimized_index=1 and M=15, the memory footprint is: 5.7 GB virtual and 4.7 GB resident.

It's larger than expected, so we will have to inv

[2016-06-15 12:27] funtusov commented on #104
@searchivarius Thanks for the clarifications! Another potential improvement would be to be able to store data points with a user-defined type. For instance, I am using ORB descriptors, which are 256 bits, and OpenCV stores them as 32 8-bit integers, which could give a 4x memory reduction compared to a 32bit float

[2016-06-15 12:30] searchivarius commented on #104
This is currently possible, but it requires implementing a custom space. It's a bit of a headache, but it's not overly complicated.

[2016-06-15 14:11] funtusov commented on #104
@searchivarius Could you please point to the general direction (which custom space/at what step is it used)? Is it possible on the python side?

[2016-06-15 14:47] searchivarius commented on #104
Unfortunately, this requires dabbling with C++ code first. A basic description is given regarding creating a space in C++ is given in https://github.com/searchivarius/nmslib/blob/master/docs/manual.pdf section 7.2 (creating a space).

At the very least, one has to implement the function that creates an object from the string and the function that computes the distance.

Furthermore, a custom space

[2016-06-16 22:18] chaz9456 opened #105 "Error in make on Mac OS"
in /similarity_search/include/method/hnsw.h
: error: use of undeclared identifier '_MM_HINT_T0' _mm_prefetch((char _)(_iter)->getData(), _MM_HINT_T0);

-did notice issue for testing Mac OS on new version.
-issues also arise with "__m128" and others in /similarity_search/src/method/hnsw_distfunc_opt.cc when bypassing the previous errors with a workaround

[2016-06-16 23:17] searchivarius commented on #105
Hi, thank you for reporting. Yes, the current version may not build on Mac. Our next goal is to make it fully Mac compatible. HNSW also won't work properly if you build using Clang. We are working on fixing this.

BTW, which compiler do you use?

[2016-06-17 18:31] chaz9456 commented on #105
i was using clang. thank you.

[2016-06-28 14:27] searchivarius opened #108 "HNSW new Object"
get rid of

[2016-07-08 15:45] w4nderlust opened #109 "Python 3 compatibility"
Make the python bindings for Python 3

[2016-07-08 16:20] searchivarius commented on #109
Thank you for the suggestion! We also appreciate people helping us with these kind of things.

[2016-07-10 18:45] searchivarius commented on #52
Sometimes, we can get up to 1.5x reduction in retrieval time.

[2016-07-10 18:45] #52 closed

[2016-07-10 19:39] searchivarius opened #110 "Implement a fast inner-product and query-side normalized inner product space"

[2016-07-11 17:22] searchivarius opened #112 "Create a SCALA example of using NMSLIB query server"
It looks like one can create wrapper classes using https://github.com/twitter/scrooge

[2016-07-11 17:23] #110 closed

[2016-07-25 07:30] johanneshk opened #114 "Error in make on Linux"
Hi,

I'm trying to build this project, but I have some issues:
https://gist.github.com/johanneshk/dfb170acc469047b6aac108ed3d3f4a4

Any ideas? Thanks!
 Johannes

[2016-07-27 02:08] searchivarius commented on #114
Hi, thank you for reporting this.
Please, tell me more about:

CPU
Linux Version
GCC version
many thanks!

[2016-07-27 08:55] micheleAlberto opened #115 "cmake fail in ubuntu 16.04"
Long story short: cmake fails because <PKGCONFIG() indicates that gsl is not installed>
I have no idea of what gsl is and i ll look around for similar errors. In the meantime the full report:

The system is a relatively fresh install of ubuntu 16.04 (less than one month)

Following the install instructions
[code]
The cmake output results in :
[code]

Said log file shows:
[code]

[2016-07-27 09:16] micheleAlberto commented on #115
Well
seems GSL is for gnu scientific library.
Being that not listed in the dependencies i guess this is something you want to track.

Some other people having a [similar problem in another project](https://github.com/ros/cmake_modules/issues/27) solved it by installing it with
[code]
But apt says libgsl0ldbl has no candidate to install

Again from the [robotics comunity](https://git.immc.ucl.ac.be

[2016-07-27 09:16] johanneshk commented on #114
CPU: Intel(R) Xeon(R) CPU E5-1620 0 @ 3.60GHz
Linux: 4.4.13-1-MANJARO #1 SMP PREEMPT Wed Jun 8 09:21:59 UTC 2016 x86_64 GNU/Linux
GCC: gcc (GCC) 6.1.1 20160602

[2016-07-27 15:21] searchivarius commented on #115
Hi, thank you for reporting!

Does installing libgsl0-dev on ubuntu help you?

[2016-07-27 16:11] #115 closed

[2016-07-27 16:16] searchivarius commented on #115
Hi, I will add this to the README. It is only mentioned in the manual. Thank you very much for checking this!
PS: In the future, we plan to separate core methods, so people don't have to build all the old and less efficient ones. But it will take us some time to implement.

[2016-07-27 16:21] searchivarius commented on #114
Thanks, I will have a look. We didn't test such new GCC yet.

[2016-07-27 16:37] johanneshk commented on #114
It's not to pressing for me at the moment, since I have to complete some other stuff before I look into this again. Plus, I can try an older version of GCC, which would be a good workaround: So from my side, as I said, it's not that important!

[2016-08-12 13:19] Orange15 opened #116 "make error"
CentOS 6.6 / gcc 4.9.3 / Intel(R) Xeon(R) CPU E5-2630 v3
/tmp/ccY4AmR9.s: Assembler messages:
/tmp/ccY4AmR9.s:402: Error: suffix or operands invalid for `vbroadcastsd'
make[2]: **\* [src/CMakeFiles/NonMetricSpaceLib.dir/utils.cc.o] Error 1
make[1]: **\* [src/CMakeFiles/NonMetricSpaceLib.dir/all] Error 2

[2016-08-12 13:40] searchivarius commented on #116
vbroadcastsd wow... could you replace -march=native in ``similarity_searchCMakeLists.txt`` with -march=core-avx2 and rebuild everything?
**you will need to delete all the caches first**
[code]
Thanks!

[2016-08-13 04:19] Orange15 commented on #116
thanks, but it is the same problem.

[2016-08-14 03:02] searchivarius commented on #116
Uuups, this vbroadcastsd is actually an AVX command.
and what if you have -msse4.2 instead ?
Please, make sure you replace it everywhere.
Do you run it on your machine, or somewhere in the cloud? I wonder what is the easy way for me to reproduce this. Interestingly, the command that the assembler complains about seems to be generated by gcc, i.e., we don't use use sort of the command.

[2016-08-15 18:33] bkj opened #117 "Python `rangeQuery`"
Is there a particular reason that `rangeQuery` has not been exposed through the Python bindings?  Or is it just a matter of writing the wrapper?

Thanks
Ben

[2016-08-15 19:47] searchivarius commented on #117
It is two things
1) There is no wrapper written (this is an easy part).
2) We don't really have an implementation of the range query in the case of our most efficient methods, i.e., SW-graph, HNSW, and NAPP. So, I didn't find it very useful to create a wrapper. We have been even thinking about removing range queries at all.
Do you find range queries useful?

[2016-08-16 15:40] bkj commented on #117
I haven't used the NMSLIB implementation of range queries, but generically I do find them useful -- there are IMO lots of settings where you'd want to find all sufficiently similar datapoints, rather than the top K.

I imagine that though you don't have range query implementations for your most efficient methods, does the NMSLIB implementation still provide significant speedup over brute force for

[2016-08-16 16:25] searchivarius commented on #117
He Ben, there are ways of implementing the range search. So, I will add this to our list.

Regarding the speed up: it depends on the data (as for nearly any other method). If generate vectors by randomly sampling vector elements from, e.g., U[0,1], I believe that any methods stop working efficiently with about 10-20 dimensions (unless this is a near-duplicate problem).

However, the real data sets

[2016-08-18 10:37] funtusov opened #119 ""Storing non-optimized index is not supported yet" for the bit_hamming space in HNSW"
Hi! I ran into an unexpected issue when trying out the `bit_hamming` space (and `INT` distance type): a `Storing non-optimized index is not supported yet` exception when trying to save the index.

During creation `skip_optimized_index` is set to 0

The same code works for `cosinesimil` space and `FLOAT` distance type

Is there an underlying reason why this isn't expected to work for the hamming sp

[2016-08-18 11:30] funtusov commented on #119
After further reading, the answer, probably, is that there are no optimized index implementations for spaces other than L2 and cosine similarity? Is index saving/loading not supported in those cases then?

[2016-08-18 12:07] funtusov commented on #73
@searchivarius I am sorry, it was a bit unclear, could you please clarify, whether appending data to an existing index isn't easily achievable only in the Python API or with C++ directly as well?

[2016-08-18 15:28] searchivarius commented on #73
@funtusov Currently, we support only fully static indices, sorry. At the high level, it isn't hard to make extendible data sets, but this would require change quite a few things all the way down.

[2016-08-18 15:42] searchivarius commented on #119
Hi Greg,

yes, this is not fixed yet, unfortunately. When do you need to have it working?

[2016-08-22 07:17] bittremieux opened #121 "HNSW post parameter & heuristics useful for clustering"
First off, thank you for your amazing effort in developing the nmslib.

I've previously used Annoy for some ANN searching, but I'm trying out the HNSW graph now because of its improved performance.
Unfortunately, although your documentation is very clear and comprehensive, it doesn't seem to mention the `post` parameter for the HNSW graph.

Judging from the erikbern/ann-benchmarks code, setting `p

[2016-08-22 09:52] funtusov commented on #119
Hi Leonid, not sure yet, we're still investigating potential ways to use the thing :) Is it something that needs to be done space-by-space, or is there a possible general solution for all custom spaces?

[2016-08-22 09:59] funtusov commented on #104
It dawned on me that the initial calculation of how much memory would the edges take (maxM0 = 30 * 130M vectors*(4-8) bytes) didn't include into account the enumeration of vertices.

Am I right that for each edge we store the id's of two vertices + the measure of distance between them? So, it would take, say, 2*32-bit unsigned integers + a 32 bit float?

If that is the case, is there any theoretic

[2016-08-22 11:31] yurymalkov commented on #121
Hello @bittremieux, thank you for the kind words!

The `post=2` adds an additional post-processing step to symmetrize the index. It is not documented yet in nmslib and do not presented in the paper on HNSW. In short, two indexes is build with different order of the data(direct and reverse), with following union of the produced connections. It does not affect directly the query time parameters, suc

[2016-08-22 15:31] yurymalkov commented on #104
Hello Greg,
The distance between the vertices is not stored in memory. Only one id per link is stored (links possibly can be non-symmetrical).
We have not yet investigated the reason of the excessive memory usage during the construction. I think this may be an overhead of using c++ structures, but I am not sure.
You can check the minimum memory footprint by looking at the disk size of stored hnsw

[2016-08-22 17:10] searchivarius commented on #104
Probably due to memory fragmentation one should multiply the minimum consumption by some coefficient (likely less than 2). A more compact version of the index can be created (or saved to disk and mmaped back), but it would require more work to implement.

[2016-08-23 06:22] bittremieux commented on #121
Ok great, thank you for the explanation.

[2016-08-23 13:26] searchivarius commented on #119
There is surely a general solution. It was postponed for a couple of uninteresting reasons.

[2016-08-23 13:43] searchivarius commented on #121
We will sure update the docs in some of the upcoming releases.
Thanks!

[2016-09-04 01:51] searchivarius opened #122 "Eval. metric renaming"
Rename "improvement in the # of distance computations" to "reduction in the number of distance computations" both in the manual and reports.

[2016-09-06 07:58] ajkl opened #123 "Best method for binary features"
Are there any guidelines on techniques well suited for binary feature vectors ?
Will SWG with cosine similarity still work with binary feature vector ?

[2016-09-06 12:56] searchivarius commented on #123
Hi @ajkl

I don't know what SWG is.

If this is a meaningful kNN problem, then it will likely be fine.
If you have something like an iris recognition problem where irisis of two different eyes (even from the same person), are at nearly equal distances from each other, then standard kNN techniques won't work and your only resort is near-duplicate detection.

[2016-09-06 20:35] ajkl commented on #123
My bad, I meant SW-graph. So you are saying SW-graph should still be fine ?
Is there an example where `bit_hamming` makes sense for distance type ? Didnt find any documentation on a real usecase of `bit_hamming`. I tried `bit_hamming` with SW-graph and it doesnt seem to work.

[2016-09-06 20:42] searchivarius commented on #123
What is the data set that you play with?

[2016-09-07 00:41] ajkl commented on #123
Binary features somewhat similar to this http://www.cs.ubc.ca/~lowe/papers/12mujaCRV.pdf So its like 2048 or 4096 dimensional binary features.

[2016-09-07 01:28] searchivarius commented on #123
At least BRIEF and ORB used in the cited paper are not very high-dimensional (128 and 256), only BRISK is. Muja and Lowe seem to claim that these descriptors have clusters! I would think that in the presence of clusters SW-graph or HNSW should work. However, if you got from 128-256 dimensions to 2048-4096 dimensions things may change.

**Did you try to plot the histogram of distance between two ra

[2016-09-07 01:38] ajkl commented on #123
No I have not tried that, can try to plot that. I guess that will provide an indication of how far it is from random?
 I didnt try this plot but I ran SW-Graph and it seems to work well with binary features. Just wanted to see if `nmslib` has specialized techniques like the multi-hierarchy clustering trees in the above paper which work specifically well with binary features.

[2016-09-07 02:12] searchivarius commented on #123
**No I have not tried that, can try to plot that. I guess that will provide an indication of how far it is from random?**
Right...
**Just wanted to see if nmslib has specialized techniques like the multi-hierarchy clustering trees in the above paper which work specifically well with binary features.**
No multi-hierarchy trees. One reason, why I didn't added them, b/c in my experience if you have c

[2016-09-07 02:14] searchivarius commented on #123
But if you have binary features of dimensionality 1024 with bits generated randomly, this is a very unfortunate situtation. The only exception is when your queries are obtained by a small distortion of data set points. Then you can do a near-duplicate detection (which is what they do for iris recognition).

[2016-09-07 02:28] agangzz opened #124 "Could HNSW and SW-grap support incremental indexing?"
As I know, the indexing process of HNSW and SW-grap algorithm is rather expensive. When we want to add new data to HNSW/SW-grap (this case may be more frequently), we must rebuild indexing which is time consuming.

So If HNSW and SW-grap can support incremental indexing, it may be more attractive efficient.

(  It is worth mentioning that the features of index save/load is very useful. )

[2016-09-07 02:36] ajkl commented on #123
No no, they are not generated randomly. They are learnt and have cluster information. Good to know that SW-Graph works better that multi-hierarchy trees if there is good enough cluster information within the binary features. I will stick to SW-Graph then. Thanks for the help!

[2016-09-07 02:41] searchivarius commented on #124
Hi, yes we have it in plans, see issue #73 . However, it will require a lot of changes to the library, so I don't know when it'll be done.

[2016-09-07 02:41] #124 closed

[2016-09-07 02:41] #123 closed

[2016-09-07 04:06] ajkl commented on #73
Looking forward to this feature.

[2016-09-08 01:12] ajkl opened #126 "Save/Load of SW-graph index"
I saw the index updating after its built is in plans. Till that sees the light of the day can I do a work around like this -
[code]

[2016-09-08 01:27] searchivarius commented on #126
No, createIndex should be called only once, after the data set is loaded.

[2016-09-08 01:27] #126 closed

[2016-09-08 02:24] ajkl commented on #126
The second createIndex will generate the index from scratch though (if not update)? That would at least save re-adding all the datapoints while reindexing. Thoughts ?

[2016-09-08 02:26] searchivarius commented on #126
It wasn't designed to work with a second createIndex call. Will it work? Who knows. Re-reading data points takes short time compared to building the index.

[2016-09-08 02:29] ajkl commented on #126
Fair enough. I read the SW-graph paper and the algorithm seems to support addition of data naturally, too bad if we cant take advantage of it. I will explore the SW-graph code ...

[2016-09-08 02:31] searchivarius commented on #126
It's rather easy to extend if you through away all the library contents, but SW-graph. However, changing API in a way that doesn't break things is hard.

[2016-09-08 02:52] ajkl commented on #126
I agree, I guessed that would be the reason why it was not supported. Will fork it and give it a shot.

[2016-09-08 08:24] agangzz opened #127 "NN-descent algorithm don't support save/load index?"
From my evaluation of my testset, the performance (such as precision, search speed) of  NN-descent algorithm is similar. When I further use, I found that the NN-descent algorithm don't support save/load index feature.

So do nmslib have plan to support save/load index feature for NN-descent algorithm?

Thanks.

[2016-09-08 15:06] searchivarius commented on #127
It's an old experimental version that was created before k-graph was open-sourced. So, definitely no saving index of this one. The current version of k-graph is much butter, but I believe that either SW-graph or HNSW should be either outperforming k-graph or have a comparable performance.

[2016-09-08 15:06] #127 closed

[2016-09-15 07:30] zommerfelds opened #128 "Can't load index?"
Hi, this might me more of a question than problem in the library.
I have created an index with NAPP and saved it using `saveIndex`. However when I load it with `loadIndex` I get the following error:

`Check failed: A previously saved index is apparently used with a different data set, a different data set split, and/or a different gold standard file! (detected an object index >= #of data points`

[2016-09-15 07:50] searchivarius commented on #128
Hi, this is not a true index in the sense that it doesn't memorize the data set. So, you have to load the same data set first, then you load the (meta)index.

[2016-09-15 08:12] zommerfelds commented on #128
Oh I see, thanks!
Is there a way to load vectors in parallel? For my data set loading takes 1.5h on a 32 cores machine. The process doesn't seem I/O bound (at least in Python). Depending on the parameters, indexing is faster than loading because I have many cores available. I'm loading sparse vectors using the generic loading function that takes a string as input.
I appreciate your time!

[2016-09-15 08:14] searchivarius commented on #128
How many data points do you have?

[2016-09-15 08:15] zommerfelds commented on #128
4.5M with each having an average of 1000 non-zero entries.
Is the method `nmslib_generic.addDataPoint` thread safe?

[2016-09-15 08:19] searchivarius commented on #128
This is way too long for 4.5M. No addDataPoint is not thread-safe. But are you sure it's not Python? How long does it take to read the data file without calling addDataPoint?

[2016-09-15 08:24] zommerfelds commented on #128
All I'm doing is decompressing (gzip) some text files and doing a few string transformations, but I'm going to try it out right now and let you know in a few minutes.

[2016-09-15 08:33] searchivarius commented on #128
BTW, do you use generic python bindings or vector ones?

[2016-09-15 08:37] searchivarius commented on #128
Also, although this is not yet document properly, for sparse spaces and NAPP you need to generate pivots randomly. Otherwise, performance is bad. Citing our paper: http://boytsov.info/pubs/cikm2016.pdf
[code]

[2016-09-15 08:54] zommerfelds commented on #128
Thanks for the citation. I've actually seen this, but I've been too lazy so far to look into the details of how to do that. Maybe it's time now ;)

You were right about Python Without calling `addDataPoint` the loading is still pretty slow (~1h estimate). Ungzipping was done on separate cores so it shouldn't affect the throughput. I'll try to optimize my loading code. Thanks for the help!

I use t

[2016-09-15 09:26] zommerfelds commented on #128
I parallelized the Python string processing and now it's working much faster. Thanks for the great library and support!

[2016-09-15 09:47] zommerfelds commented on #128
Actually no, sorry. Once I added back the call to `addDataPoint` it is now the bottleneck. It might be the speed of the Python processing on the generic bindings. It would still take ~1h to load the vectors.

[2016-09-15 13:37] searchivarius commented on #128
Aargh, loading data isn't our forte. However, after a bit of thought I came to a conclusion that it is trivial to make this function thread-safe. Could you try the attached version? Don't forget to re-install SO-file, if you installed it previously. I guess you can play with a small data set first (say 1/5 th of the size) to see if there's a difference.
[nmslib_generic.cc.zip](https://github.com/s

[2016-09-15 13:39] searchivarius commented on #128
PS: it's correct to use generic bindings for sparse vectors. A good question if we could avoid this conversion from the string... At the very least, I will try to make it faster.

[2016-09-15 14:13] zommerfelds commented on #128
Thanks I'll try it out now!

[2016-09-15 15:12] zommerfelds commented on #128
Hi again. I was using multiprocessing (multiprocessing.Pool) but that won't work because each process will end up with separate indices. Then I tried multithreading (multiprocessing.pool.ThreadPool) but the performance did not improve. This could because of the GIL (so the code that I had previously parallelized is no longer running in parallel and the bottleneck moved from the library to my code)

[2016-09-15 15:17] searchivarius commented on #128
Hi, thank you for trying. The updated version of bindings is actually trying to realease GIL. But I don't know if this works or not. Why do you think your code may be affected by GIL?

[2016-09-15 15:26] zommerfelds commented on #128
It is affected by the GIL because I want to parallelize the code that reads and converts the vector format:
[code]

I was a bit surprised that this is so slow so I simply parallelized it with `multiprocessing.Pool`. This made it much faster. But with threading your library seems to get faster but my code loses the speedup.

Either way, I think you improved your library with that change. Now it is

[2016-09-15 15:53] searchivarius commented on #128
Well, this code cannot be run in parallel AFAIK due to GIL. However, if you combine it with IO and a call to unzip contents, this may run in parallel if uncompressing code releases GIL.
PS: We really need to implement reading from binary formats.

[2016-09-15 16:09] zommerfelds commented on #128
Yeah, binary sounds great 👍 Thanks for all the help! You can close this issue if you want.

If I may, I have an unrelated question: we are actually building a full k-NN graph with your library, rather than just doing a few specific searches. So we load the data twice, once to index and once to query. Is there any kind of parameters/tricks you suggest for speeding up this case?

Also thanks for the

[2016-09-15 16:24] searchivarius commented on #128
You are welcome. I will keep the issue and reassing to some of the future releases.

Regarding the full k-NN graph. Why do you load things a second time? Why don't you start querying right after the index is created?

Regarding parameters: if you use NAPP, do make sure you play with proper generation of pivots. There are parameters to be tuned: numPivot (usually some reasonably large number), numP

[2016-09-15 16:42] zommerfelds commented on #128
Sorry, by loading I meant rereading the data from disk to generate query vectors (so I don't have to keep them in memory additionally to NMSLIB). I still keep the index and everything NMSLIB creates in memory though. I have to check if I have enough memory, if so of course I don't need to read twice. But this part is less problematic because I can spawn separate processes and format the data faste

[2016-09-15 17:57] searchivarius commented on #128
Hi Cristian,

Would you try the version that can extract data points stored in memory allocated by NMSLIB? See the attached zip. It also has an updated Python example. **Make sure you pass the object index**
[nmslib_generic.cc.zip](https://github.com/searchivarius/nmslib/files/475286/nmslib_generic.cc.zip)
, i.e., a zero-based position in the data array, not an id, which may be different.

Please,

[2016-09-15 17:58] searchivarius commented on #128
Sorry, please use this zip:
[nmslib_generic.cc.zip](https://github.com/searchivarius/nmslib/files/475293/nmslib_generic.cc.zip)

[2016-09-15 21:25] nliu86 opened #129 "Where are the query time results for HNSW?"
After going through all the documentation, I was not able to figure out where the query time results are for HNSW. It should have a file which lists all the K-NNs for the queries I'm interested.

Below are the two commands I used. The first one is for creating index. The second is for querying.

/Users/xxx/nmslib-1.5.3/similarity_search/release/experiment \
--distType float --spaceType l2 \
--knn

[2016-09-15 22:07] searchivarius commented on #129
Hi, please, check the files result_K=100.dat and result_K=100.rep.

[2016-09-15 22:07] #129 closed

[2016-09-15 22:34] nliu86 commented on #129
I checked the files result_K=100.dat and result_K=100.rep. They don't
contain the info I want.

What I need is  a function similar to python function nmslib_vector.
knnQuery(self._index, n, v.tolist())
-----------------------------------------------------

-0-xxx@xxx:~/xxx/result $ cat result_K\=100.dat

MethodName      Recall  Recall@1        PrecisionOfApprox       RelPosError
    NumCloser

[2016-09-15 22:49] searchivarius commented on #129
These are query results, no?

[2016-09-15 23:01] nliu86 commented on #129
Yes, that's result after I ran the following command:

/Users/naiping_liu/nmslib-1.5.3/similarity_search/release/experiment \
--distType float --spaceType l2 \
--knn 100 \
--dataFile ../head.num.txt --outFilePrefix result \
--queryFile ../head.num.txt_testset \
--method hnsw \
--queryTimeParams efSearch=100 \
--loadIndex hnsw_index \
--logFile logQuery.txt \
--threadTestQty 40

On Thu, Sep 15, 201

[2016-09-16 00:04] searchivarius commented on #129
If you need query timings. This is exactly what you need. If you need IDs you have two choices to retrieve them:
1) Use C++ API directly. The example is here: https://github.com/searchivarius/nmslib/blob/master/sample_standalone_app/sample_standalone_app1.cc
2) You can also use the query server:  https://github.com/searchivarius/nmslib/tree/master/query_server/cpp_client_server
Query server requir

[2016-09-16 00:13] nliu86 commented on #129
Yes, I need IDs. I will try the choices below. Thanks a lot!

On Thu, Sep 15, 2016 at 5:05 PM, Leonid Boytsov <notifications@github.com>
wrote:

[2016-09-16 00:14] searchivarius commented on #129
No problem. Hope this was helpful.

[2016-09-16 04:52] nliu86 commented on #129
Yes, this is helpful! I used to use Annoy for my similarity search until
one month ago I found your nmslib which I really like and plan to use as
one of most important piece of packages for my text deep learning efforts.
Is there a mailing list or discussion forum for this lib?

My data set is like 1 million items with each item 100 dimension vector.
There are two very important tasks:

1. For eac

[2016-09-16 13:04] searchivarius commented on #129
Hi,
there's no discussion board yet.
1 million items isn't a lot, especially if you use a reasonable efConstruction (200 is usually more than enough).
The query server is suitable for this task. The advantage of query server is that it's Apache thrift. Therefore, you can call it over TCP/IP from Java and Python (and actually you could probably generate Thrift classes for all Thrift-supported langa

[2016-09-16 18:00] nliu86 commented on #129
Thanks for your quick response and advice! I have the feeling that NMSLIB
will become very useful because we need to do similarity search everywhere.
Solr and Lucene are good for text similarity match. I have a way to turn
short text into numerical vectors and then do semantic similarity search
which has much better results.

Right now we're using Annoy in our offline and production system to find

[2016-09-16 22:16] searchivarius commented on #129
Hi Nick,

This is great. Would you mind answering a couple of question by e-mail (leo@boytsov.info)?

[2016-09-16 22:28] nliu86 commented on #129
sure, I'm happy to.

Nick

On Fri, Sep 16, 2016 at 3:16 PM, Leonid Boytsov <notifications@github.com>
wrote:

[2016-09-19 19:28] zommerfelds commented on #128
Thanks for this! I will hopefully test it before the end of the week, but can't guarantee.

[2016-09-19 19:29] searchivarius commented on #128
No rush, but, please, let me know about results. If this works for you, I will update the repo.

[2016-09-22 09:31] zommerfelds commented on #128
Hi again.
I'd like to report some first results for an experiment I did. This is without using your new code yet. Let me know if you have a different preference for communication or if this issue is getting bloated.

I have run NAPP on 10% my data set with and without external pivot generation. Without the initial loading time I got:

Method | Params | Time | % top K | diff sum sim
--- | --- | ---

[2016-09-22 17:40] searchivarius commented on #128
Hi,

le'ts keep it here until I setup some forum. BTW, which one do you think is good, gitter or something else?

Answering your question.
1) Frequent means term frequency. I include only indexed terms, so stop words should be excluded. The co-author who invented this tried different variants and found that focusing on high-IDF values doesn't help.
2) Sampling is **without** replacement, below's t

[2016-09-22 18:17] searchivarius commented on #128
Regarding your query stat: is it single-thread? So, if In understand it correctly it's about 450K queries answered in 400*60 seconds, or 18 queries per second. A question is whether it's single or multi-thread?

[2016-09-23 00:11] searchivarius commented on #128
PS: if term IDs are already sorted by frequency, you can use the following simple script to generate pivots:

[gen_pivots_sparse_cosine.py.zip](https://github.com/searchivarius/nmslib/files/488637/gen_pivots_sparse_cosine.py.zip)

[2016-09-23 16:13] zommerfelds commented on #128
It seems like I'm generating the pivots the same way.
I just added one more row to the table in my previous post. It doesn't seem that the generated external pivots are helping in this case.

I run the test on a 32 cores machine and it was running on multiple processes (100% usage). So that makes 450000/(400*60*32)=0.59 queries per second per core. However, this timing includes reading the vectors

[2016-09-23 17:15] searchivarius commented on #128
Interesting, I haven't seen yet a dataser where this didn't work. Would you mind sharing say 1m subset so that I can have a look? Better via e mail leo@boytsov.info
Please specify which distance you use
Thank you!

[2016-10-07 13:30] searchivarius opened #130 "Range queries for SW-graph & HNSW"
implement

[2016-10-08 15:20] tangbohu opened #131 "Can you give me an advise of using which method"
Excuse me.  In my work, I have  two sets of data with one set is small while the other is large, and all datas are in the form <x,y>, where x \in R and y in R.
I need to retrieve each data in the small dataset  for its neighbours in the large dataset with the distance
measure d=abs( ||x_i-x_j|| - ||y_i -y_j|| ). All the building library and searching should be online. Can you give me an advise whi

[2016-10-08 15:32] searchivarius commented on #131
Hi Nolan,

Is R actually R^n? One dimensional case isn't very challenging.

I also don't quite understand your distance metric description. Is it some
standard one?

Last, if you by "online" you mean that the index can be updated, then it's
not supported by API. Internally, many indices are built online, but to use
this, you need to hack the code.

---
Leo

On Sat, Oct 8, 2016 at 11:20 AM, Nolan <

[2016-10-09 00:10] tangbohu commented on #131
Thank you very much for you reply. Actually x or y are R^3, denoting a point in the 3D space.
X_i and X_j, Y_i and Y_j are two pair of corresponding points. In my research of 3D object recognition,
we denote d=abs( ||x_i-x_j|| - ||y_i -y_j|| ) as the isometric constraint, meaning that the distance between
X_i and X_j with it of Y_i and Y_j should be similar. However, with a large set, it is still

[2016-10-09 01:00] searchivarius commented on #131
Ohhh, I see you better write that your points are (x_1, x_2) and (y_1, y_2).

I think you can sure use SW-graph, HNSW. It works fine with many semi-metrics including crazy ones like KL-div and Renyi-div You would need to implement your own space (which is quite simple).

What is more challenging though: you would need to use our C++ code directly, because functionality to add data points isn't dir

[2016-10-10 02:15] tangbohu opened #132 "problem using HNSW"
Hello. I just replace the "small world rand" method in standalone app1 with "hnsw" like below.
Index<float>\*   indexSmallWorld =
                        MethodFactoryRegistry<float>::Instance().
                                CreateMethod(true /\* print progress */,
                                    //  "small_world_rand",
                    "hnsw",
                                        "cu

[2016-10-10 02:22] searchivarius commented on #132
Did it crash-crash or did it print any messages? Did you modify index-time parameters so that they match parameters required by HNSW?

[2016-10-10 09:42] tangbohu commented on #132
[code]

[2016-10-10 09:44] tangbohu commented on #132
It crashes in the step "doSearch",  and tell that "vector subscript out of range". Can you help me check it.

[2016-10-10 15:34] searchivarius commented on #132
Hi,

your code doesn't compile. However, when I remove the trailing '}', it seems to work fine.

Which system/compiler do you use?
If you run in a debugger where does exception happen?

Also, the sample app requires a prior installation of the library. Maybe, it's worth modifying makefile so it links the current built by including the following:
[code]
instead of
[code]

[2016-10-10 16:39] tangbohu commented on #132
I use the VS2015， and I have build the lib and link it.
I have test the method  "small_world_rand",  and it is OK, this may mean my configuration is right.
My code always crashs in the "baseSearchAlgorithmV1Merge"  function in hnsw.cc.

[2016-10-10 17:49] searchivarius commented on #132
This is helpful. It seems that there's a bug that manifests only on Windows.
I will have a look shortly, thank you!

[2016-10-11 13:56] tangbohu commented on #132
OK！ I  am looking forward to your revision and I will adopt it in my new current research.

[2016-10-13 15:56] searchivarius opened #133 "An "easy" variant of data binarization (with potential mmaping data later)"
We can do the following easy-to-emplement binarization of data:
1. A special utility would read Objects and save contents of objects buffers, i.e., in a **binary** format.
2. This binary format can be read more quickly.
3. In addition, instead of actually reading it all into memory we can simply mmap this.

This would allow to use methods such as NAPP in the scenario when the index sits in the mem

[2016-10-16 04:09] searchivarius commented on #132
Yes, sure. Should be ready soon, sorry I have been currently busy with other (rather urgent) tasks.

[2016-10-16 19:23] nguyenv7 opened #134 "Make failed in linking Boost library"
Hello,

I am facing an error in this step:

All of errors liked that:

I install latest libraries version and checked that libboost 1.58 is compatible with g++ 4.9. I think maybe it related with C++11, however It returns error in both g++ 4.9 and 4.7.

This is my system information:

I also install Clang and LLDB 3.6. I tried search many possible solution but can not fix that :(.

[2016-10-17 01:45] searchivarius commented on #134
Hi,

sorry about that. Did you try to remove CMake cache or build from clean
clone?

If all else fail you can try development branch. We are getting rid of
Boost to eliminate situations like yours.

On Oct 16, 2016 3:23 PM, "Linh Nguyen" <notifications@github.com> wrote:

[2016-10-17 06:28] nguyenv7 commented on #134
Hello,

I did that before and change version of g++ and gcc to hope it successful.

But still same errors, I will try the dev branch definitely.

Thanks you,

[2016-10-17 19:14] searchivarius commented on #134
Interesting,

What kind of OS do you use?

---
Leo

On Mon, Oct 17, 2016 at 2:28 AM, Linh Nguyen <notifications@github.com>
wrote:

[2016-10-17 19:53] nguyenv7 commented on #134
Hello,

I am using Ubuntu 16.04

[2016-10-18 02:41] searchivarius commented on #134
Try to install boost program options separately:
[code]

[2016-10-18 12:48] nguyenv7 commented on #134
Hello,

I installed it before. I just try to clean and remake the master branch but still fail.
Here is the libboost installation in my system.

I found that all of the error are came from

I search that article is very helpful, but I can not modify anything:
http://stackoverflow.com/questions/8454329/why-cant-clang-with-libc-in-c0x-mode-link-this-boostprogram-options-examp

[2016-10-18 14:16] searchivarius commented on #134
This makes sense, thank you. One more stimuls to get rid of boost as soon as possible :-)
However, I am a bit confused. Above you write that you use GCC not CLANG. With CLANG you can't use HNSW (it's not working with CLANG yet).

[2016-10-18 17:30] nguyenv7 commented on #134
Actually I used GCC, I installed Clang but not use. I also redefine the environment as

So what I can do now ? What specific version of your Gcc and libboost that are successful in install Nmslib ?

I am managing to use this library to add some binary distances for binary data.

[2016-10-18 17:34] searchivarius commented on #134
I just noticed that your find command to delete cache doesn't seem to be correct:
[code]
The issue that you linked above is only for Clang. It works with boost and Ubuntu 16 for me with g++-4.8.

So, may be your cmake version is much different, but I doubt. I use
[code]

[2016-10-18 17:37] searchivarius commented on #134
PS: I suspect that you didn't delete CMake cache.

[2016-10-18 17:51] nguyenv7 commented on #134
Hello,

I remove Clang and CMake cache, also make clean, my cmake version is 3.5.1. Of course, it rebuild from the beginning and same errors:

[code]

[2016-10-18 17:57] searchivarius commented on #134
Are you sure? What's the exact cleaning command line. The command that you cited above doesn't work. To reiterate, this one **is wrong**:
[code]

[2016-10-18 18:11] nguyenv7 commented on #134
Hello,

I removed all Cmake related files by hand in the last comment. This time I delete the nmslib folder and extract the archive file again, but the same error.
Thanks you for notification, the cmake cleaning command I copied in the manual does not work; I also recheck this, the find command syntax is not right.

I am sorry that maybe cost your time, but I honestly try many ways until now to ge

[2016-10-18 18:25] searchivarius commented on #134
Hi, ok, thank you for confirming.

Regarding the command in the manual: you seem to have lost two '`'.

I will try to reproduce this bug in a virtual machine (Ubuntu 16). Can't reproduce on my own machine which also uses Ubuntu 16, but this is not a clean install.

In any case, please, try the dev bracnh. Relatively soon, we will remove boost from the main build, so it won't be a pain (it is also

[2016-10-18 18:47] nguyenv7 commented on #134
Thanks you,

Actually, my Ubuntu system is not so clean too, but related things are in the right place. Hope you can find the reason. I am trying the dev branch now.

[2016-10-18 19:26] bileg commented on #134
It seems like that the linker can't find boost libraries (i.e. program options lib). So could you compile the code again:
     cmake .
     make VERBOSE=1
Then you should see -lboost_program_options-mt (or without -mt) in the linker command being run by cmake.

[2016-10-18 19:34] nguyenv7 commented on #134
Hello,

Thanks you for the suggestion. Here is the linker command for boost:

`-lboost_filesystem -lboost_program_options -L/usr/lib/x86_64-linux-gnu -lgsl -lgslcblas -lm -lpthread`

[2016-10-18 19:54] bileg commented on #134
OK.
Could you check the following code if it works for you:

[bileg@similarity_search]$ cat popt.cc
#include <iostream>
#include <boost/program_options.hpp>
namespace po = boost::program_options;
int main() {
  po::options_description cmd_opt("test");
  std::cout << "ok\n";
}
[bileg@similarity_search]$ g++ popt.cc
/tmp/cclO7B78.o: In function `main':
popt.cc:(.text+0xd): undefined reference to `bo

[2016-10-18 21:01] searchivarius commented on #134
I can actually reproduce this bug for the clean Ubuntu 16 install. I will try to @bileg's code

[2016-10-19 05:49] nguyenv7 commented on #134
I try to run @bileg code, the same problem in linking stage:

[code]

[2016-10-19 06:01] bileg commented on #134
OK. It means that /usr/lib/x86_64-linux-gnu doesn't contain required boost libraries. So you can do:
find /usr -name *boost*.so
If you find a directory that contains libboost_program_options.so then you need to add -L/usr/.... (the directory you just found)
If it doesn't work you could try another option:
https://github.com/searchivarius/nmslib/blob/master/similarity_search/CMakeLists.txt#L122
But

[2016-10-19 06:21] bileg commented on #134
somehow asterisk disappeared from the command it should be `find /usr -name *boost*.so`

[2016-10-19 06:22] nguyenv7 commented on #134
Hello,

I checked that library's location before in this comment:
https://github.com/searchivarius/nmslib/issues/134#issuecomment-254496558

Is it ok ?

[2016-10-19 06:30] bileg commented on #134
Sorry, I overlooked that then everything should be fine. Could you try the second approach that I suggested (CMakeLists.txt#L122)

[2016-10-19 06:33] nguyenv7 commented on #134
Thanks you,

Wait me a little bit, I will download and make a hardwired link to boost then.

[2016-10-19 11:21] svirg commented on #119
Hi, I'm also in need for bit_hamming space support for hnsw
Is there a lot of work to be done to implement this?
I consider doing it by myself, but I have no idea of how much effort it will take. Right now it seems for me that there are 2 things to do in order to make it work:
1) add specialized function that calculates hamming distances
2) use contiguous memory layout for storing data points and

[2016-10-19 12:39] yurymalkov commented on #119
Hi @svirg!
If you do not need index serialization, you can use any distance from the nmslib.
Currently hnsw uses its own element storage for making more fast optimized index; and the hnsw_distfunc_opt.cc file contains just a bit optimized **copies** of L2 and cosine similarity distances of the ones already implemented in the nmslib.

The major difference is in the input. In nmslib the input is lin

[2016-10-19 13:37] svirg commented on #119
Yury, thanks for your reply, things are getting clearer
I'm mostly concerned about memory footprint, not the search speed. Does optimized index consumes less RAM that unoptimized one?

[2016-10-19 14:01] yurymalkov commented on #119
The optimized index generally uses less memory (possibly because it holds straight memory constraints as in the paper), but it can be usefully only at runtime, since currently you cannot build the optimized index without building a non-optimized version. Moreover, the conversion of indexes is now done in the main memory, requiring even more RAM (this however can be fixed quite easily).

Potentiall

[2016-10-19 14:51] searchivarius commented on #119
@svirg no, I don't think that our current algorithms are will be memory-efficient for bit strings. Out of curiousity,  what kind of data set do you have (#of recs, #of bits)?

[2016-10-19 15:20] svirg commented on #119
@searchivarius, our dataset has roughly 1e10 elements
Currently we use sharded solution with cosine distance and 64-d float vectors. We would like to switch to hamming distance and  512-bit vectors. Supposedly, it will allow us to use 3x less space for out indices. We use default value for M (=16)

[2016-10-19 15:23] searchivarius commented on #119
@svirg thanks!

[2016-10-20 17:52] bkj opened #135 "Possible to delete data after index creation?"
I was wondering whether it's possible to delete the actual data after the index is created, as a potential way to save memory footprint.  I'm not super familiar with the underlying algorithms, so apologies if the data already gets deleted or this is an otherwise silly question.

Thanks

[2016-10-20 17:53] searchivarius commented on #135
Hi, data is needed.

PS: We should really think about implementing more memory efficient variants :-)

[2016-10-20 17:53] #135 closed

[2016-10-20 17:55] bkj commented on #135
Ah alright  Yes I agree about more memory efficient variants -- something similar to Annoy's `mmap` functionality would be really wonderful. Thanks for the quick reply!

[2016-10-20 17:56] searchivarius commented on #135
Yeah, I am actually thinking about mmap-ing data. This will be useful: https://github.com/searchivarius/nmslib/issues/133

[2016-10-21 13:50] searchivarius opened #136 "We need some alternative indexing approaches for bitstrings"
Leo knows what to do :-)

[2016-10-22 10:02] nguyenv7 commented on #134
Thanks @bileg and @searchivarius , after compiling and linking in CMakeLists.txt#L122. The library was built successfully.

[2016-10-22 10:03] #134 closed

[2016-11-04 09:06] svirg opened #137 "Memory leak in python binding"
Here is a snippet to reproduce:

[code]

The following patch solves the problem and the issue seems to be a HNSW method specific (due to dynamic allocation of `Object` that is never freed later on)
[code]

[2016-11-04 14:25] searchivarius commented on #137
Hi @svirg thank you for the report. HNSW is still an experimental implementation.

That said, I think I know how to fix the memory leak issue. Your fix, unfortunately, will work only for HNSW. Other methods return pointers to existing objects, so that your fix will cause the same object to be deleted twice.

[2016-11-05 14:42] yurymalkov commented on #137
@svirg great thanks for the fix! I think this can be helpful for those who use only HNSW in the nmslib.

The issue also can be possibly fixed by adding the storing the list of nmslib "Object"s in the HNSW, and return the list entities instead of creating the new instance every time (this would not interfere with other nmslib methods, but require a little bit more memory).

Alternatively, if you ne

[2016-11-07 06:58] alekk opened #138 "vectorized operation in Python"
First, many thanks for all the great work! This is extremely useful to the community.

When using the Python wrapper, I am wondering whether there is a way to avoid adding samples one by one through the function "nmslib_vector.addDataPoint" and querying samples by samples through the function "nmslib_vector.knnQuery". Loops are just too slow in Python!

Cheers!

[2016-11-07 07:17] bileg commented on #138
I think it's possible to support that. For vectors, probably it's better to use numpy arrays instead of python's lists. I can have a look at it.

[2016-11-07 07:21] alekk commented on #138
Numpy array support would be fantastic, indeed!

[2016-11-08 03:33] zjxheng opened #140 "nmslib support for external id"
hi,
I'm using nmslib, now I found hnsw can't support space "-s word_embed:dist=cosine" when  i want to save the index "-S test.index".   The err msg is below

2016-11-08 00:09:11 QueryService_server.cpp:130 (QueryServiceHandler) [INFO] Saving the index
terminate called after throwing an instance of 'std::runtime_error'
  what():  Storing non-optimized index is not supported yet!

Is't a bug?  Best

[2016-11-08 03:40] searchivarius commented on #140
No, unfortunately, this is indeed not supported yet, sorry.

[2016-11-08 12:38] zjxheng commented on #140
Thanks!  Now I find method hnsw support it , I will use sw-graph instead of hnsw.

[2016-11-08 13:04] zjxheng opened #142 "hnsw/sw-graph support Increment recoder??"
hi，

I want insert increment recoder into hnsw/sw-graph.  Do they support??

[2016-11-08 13:28] searchivarius commented on #142
Do you mean updating existing embedding and re-indexing them?

[2016-11-08 13:31] searchivarius commented on #140
Yes, we do plan to support it. Sorry, a lot of stuff is in the experimental state now, but we are working towards making it more robust.

[2016-11-08 13:31] #140 closed

[2016-11-08 13:46] searchivarius commented on #138
Hi @alekk after some discussion with @bileg we concluded that having a shared array is not such an easy thing to implement, b/c we store additional metadata with data. Sometimes, this is not necessary and sometiems it is. To remake the library so that it can switch between this alternatives depending on the space that we use, will not be easy.

[2016-11-08 23:39] nliu86 opened #143 "How to set parameter searchMethod in hnsw?"
When loading index, I noticed the following even though I didn't set this parameter
016-11-08 23:22:53 hnsw.cc:746 (LoadIndex) [INFO] searchMethod: 3

In the manual for hnsw, searchMethod is set to be 4
--createIndex M=10,efConstruction=20,indexThreadQty=4,searchMethod=4 \

Is this parameter similar to post parameter? How to set it?

[2016-11-08 23:53] searchivarius commented on #143
It is set automatically.

[2016-11-08 23:53] #143 closed

[2016-11-09 02:49] zjxheng commented on #142
oh,  sorry, i did't express clearly.
Dose the nmslib support updating/adding/delete like a database when it's providing the searching service?

[2016-11-09 02:52] searchivarius commented on #142
Not yet, but we plan to support updates. Do you need deletion as well as update?

[2016-11-09 05:17] alekk commented on #138
I see, thanks.

And how difficult would it be to have a routine that can quickly compute k-nearest neighbors, as done by the function "kneighbors_graph" of scikit-learn.

http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.kneighbors_graph.html

[2016-11-09 06:36] zjxheng commented on #142
Maybe  update can replace deletion.   Dose the nmslib supports  adding?

[2016-11-09 13:49] searchivarius commented on #142
Not yet.

[2016-11-09 16:16] searchivarius commented on #138
We currently have no plans to support such a function, but contributions are welcome.

Regarding your original question: one work around that other people were using is to call addDataPoint in a multi-threaded mode. **This still requires some updates to Python API**, but I am going to release them soon.

Also: would it be helpful if you have a function addDataPoints, which accepts an array or list

[2016-11-10 03:35] searchivarius commented on #132
@tangbohu could you pull the latest version from the master to check if it works?
Thanks!

[2016-11-10 03:43] alekk commented on #138
Thanks @searchivarius , that would indeed be very helpful to have such an array/list version of addDataPoints.

In my particular application, loading everything in memory is not the bottleneck. I must admit that I still do not perfectly understand why it is easier to have an array version for "addDataPoints" but not for "knnQuery"?

[2016-11-10 03:47] searchivarius commented on #138
It's not just keeping, it would keeping things twice.

I didn't get what do you mean by an array version of knnQuery?

[2016-11-10 04:21] searchivarius commented on #137
Hi @svirg could you check that the following fixes memory leak?
[fix137.zip](https://github.com/searchivarius/nmslib/files/582516/fix137.zip)

[2016-11-10 05:32] alekk commented on #138
by array version of knnQuery, I meant a version where I could do

instead of looping over "array_of_samples" and call  knnQuery(index, k,data) for each "data" in "array_of_data". This would output an array of dimension: (length of array_of_data) x k. Is it already doable in the current implementation, I am not sure?

[2016-11-10 08:52] svirg commented on #137
Yes, I confirm that it fixes the issue. Search results also look fine
I've tested it for both optimized and unoptimized indexes

[2016-11-10 20:17] searchivarius commented on #138
@alekk yes, it is doable. Moreover, it can be automatically thread-pooled. Well, this would be a time saving for sure. You are welcome to create a separate issue-feature request (or implement this code yourself and submit a pull request :-).

However, the major problem is that adding data points is slow adn there's no good work around except making it multi-threaded.

So, to sum up this thread: we

[2016-11-11 05:36] bileg commented on #138
@alekk could you check the following version in my repo if it works faster: https://github.com/bileg/nmslib/blob/bulk_index/python_vect_bindings/test_nmslib_vect.py#L29
https://github.com/bileg/nmslib/blob/bulk_index/python_vect_bindings/test_nmslib_vect.py#L96
https://github.com/bileg/nmslib/blob/bulk_index/python_vect_bindings/test_nmslib_vect.py#L129

[2016-11-11 16:06] bileg commented on #138
I did a bit refactoring so the line numbers that I previously mentioned are changed. Anyway the branch is https://github.com/bileg/nmslib/blob/bulk_index/python_vect_bindings (hope that it supports fast batch insertion and search)

[2016-11-25 08:32] cdump opened #145 "hnsw: loadindex segfault"
Hello!

Mininal example to reproduce the error:
run it first time as is, and run it second time after comment/uncomment saveindex/loadindex lines, as result you'll get `segmentation fault` error

[code]

GDB info
[code]

Looks like bug was introduced in 37cd6383

[2016-11-25 15:30] searchivarius commented on #145
I will have a look shortly, thanks! If this is indeed to the recent change, it will be easy to fix.

[2016-11-29 17:52] #142 closed

[2016-11-29 17:52] #137 closed

[2016-11-29 19:59] searchivarius commented on #145
@cdump please, check if this now works (in the master).

[2016-12-06 14:31] cjamin opened #148 "Any way to silence the logger?"
Hi,
I had a look at the code in `logging.h`, but it seems there is no way to silence the LOG macro. Am I right?
Thanks!

[2016-12-07 02:41] searchivarius commented on #148
No, you can silence logging/printing in 2 places:
1) When you call init_library
2) When you call createMethod, you can specify printProgress = false.
If you have further generic questions, please, use a newly created gitter forum https://gitter.im/nmslib/Lobby
Thank you!

[2016-12-07 02:41] #148 closed

[2016-12-07 07:55] cdump commented on #145
@searchivarius everything is good now, thank you!

[2016-12-07 07:55] #145 closed

[2016-12-07 09:11] cjamin commented on #148
Thanks. I had already set printProgress = false, but it was not enough.
initLibrary did the trick!

[2016-12-10 15:56] searchivarius opened #150 "Compare against fast min-wise hashing"
http://rush.rice.edu/Codes.html
by Anshumali Shrivastava

[2016-12-11 15:22] AdrianYu opened #151 "advice on choosing a proper method"
Say that I have half a million data points, each point is a sparse vector of length 1500. The average number of non-zero elements per sample is about 100 or more. I mainly care about querying speed. Index building procedure also need to be done around 10 minute or so. A recall accuracy of 80% should be enough. Given these requirements, which method should I choose? Or is it possible using nmslib?

[2016-12-11 20:07] searchivarius commented on #151
Hi @AdrianYu, let's move this discussion to https://gitter.im/nmslib/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge
thanks!

[2016-12-11 20:07] #151 closed

[2016-12-11 20:08] #108 closed

[2016-12-12 04:25] kinoyasu opened #152 "Hnsw saves and loads options in index file by wrong byte-size"
Hnsw::SaveIndex() and Hnsw::LoadIndex() write and read

maxlevel_
enterpointId_
totalElementsStored_
dist_func_type_

by "sizeof(size_t)"
(similarity_search/src/method/hnsw.cc)

But them are defined as "int" or "unsigned int".
(similarity_search/include/method/hnsw.h)

In 64bit environment, they are different size in bytes, should be same size for safe.

[2016-12-12 04:38] searchivarius commented on #152
Hi @kinoyasu

which system do you have. I believe that unsigned int should be normally the same size as int. E.g., try this program:
[code]

[2016-12-12 05:33] searchivarius commented on #152
@kinoyasu sorry, disregard my previous answer, I misread your report. Thank you for pointing this out, yeah, this seems like a problem.

[2016-12-13 02:41] kinoyasu commented on #152
@searchivarius Thank you. My comment was not accurate. The problem is mainly at 64bit GCC (int:32bits ; size_t:64bits ).  int at 64bit VisualStudio is 64bits.
The unsafe is that the read size might be larger than their memory allocation.
If their allocations are aligned with 32bit for saving memory, should cause overflow.

[2016-12-13 02:48] searchivarius commented on #152
@kinoyasu your comment is fine, fix is underway, thanks!

[2016-12-13 16:51] #131 closed

[2016-12-13 16:51] #128 closed

[2016-12-13 17:23] #87 closed

[2016-12-13 19:14] searchivarius commented on #152
I believe it should be fine now in *develop*. I will soon propagate these changes to other branches.

[2016-12-13 19:14] #152 closed

[2016-12-13 19:15] searchivarius commented on #82
Now works in develop. Will propagate to other branches as well.

[2016-12-13 19:15] #82 closed

[2016-12-13 20:36] #101 closed

[2016-12-14 19:27] searchivarius commented on #132
Ok, I recently check this on windows and I am pretty sure that thanks to @orgoro fix, it's working now. I will soon propagate this change to other branches from dev.

[2016-12-14 19:27] #132 closed

[2016-12-15 06:06] searchivarius opened #154 "Integration tests for FALCONN & pure inverted-file based solutions"

[2016-12-15 07:02] searchivarius commented on #138
Thanks to @bileg we have it in the develop version. @alekk would you care to try, thanks!
I am closing this issue.

[2016-12-15 07:02] #138 closed

[2016-12-15 07:04] searchivarius commented on #105
@chaz9456 could you try the develop branch? if clang doesn't work could you try gcc?
BTW, if you don't want to build fancy stuff, there are no dependencies on 3rd party libraries.
Thank you!

[2016-12-15 07:12] #71 closed

[2016-12-15 19:23] searchivarius commented on #105
It looks like the build should work now thanks to @bileg fixes. I am closing the issue.

[2016-12-15 20:07] chaz9456 commented on #105
Thanks! can't wait to give it a try.

[2016-12-15 20:11] searchivarius commented on #105
Actually @bileg used Clang, but if it works with GCC, it would be a nice confirmation.

[2016-12-15 20:12] searchivarius opened #156 "Updating the manual to reflect changes from 1.5.*"
Also include these two tickets (closed: this one is an umbrella ticket for manual changes)
1. #191
2. #121
3. #250

[2016-12-20 04:58] #37 closed

[2017-01-05 01:20] davidanastasiu opened #161 "Can't compile on Arch Linux"
I get a compile error using either GCC 6.2.1 or GCC 5.4.1. It starts with:
In file included from /usr/include/c++/6.2.1/random:50:0,
                 from /home/dragos/programs/nmslib/similarity_search/include/utils.h:33,
                 from /home/dragos/programs/nmslib/similarity_search/src/distcomp_bregman.cc:18:
/usr/include/c++/6.2.1/x86_64-pc-linux-gnu/bits/opt_random.h: In member function

[2017-01-05 01:50] searchivarius commented on #161
@davidanastasiu which version of archlinux? interestingly, it doesn't seem to complain about our SSE, it complains about ``/usr/include/c++/6.2.1/x86_64-pc-linux-gnu/bits/opt_random.h``

[2017-01-05 01:53] davidanastasiu commented on #161
I'm running Kernel linux 4.8.13-1.

[2017-01-05 19:38] searchivarius opened #162 "Make a portable_prefetch function"
1. We need to avoid explicit inclusion of platform-specific headers for the prefetch function as an example below
2. Should the platform not support _mm_prefetch, we need to define a dummy _mm_prefetch functions and hint constans _MM_* ourselves to prevent compilation from failing.
[code]

[2017-01-05 20:21] searchivarius commented on #161
Please, try an updated source from the master branch.

[2017-01-06 00:10] davidanastasiu commented on #161
It worked. What was the issue?

[2017-01-06 00:17] davidanastasiu commented on #100
If this is for http://www.kgraph.org/, you should know v.1.4 does not change the internals one little bit. The author just added a small API for returning the similarities in addition to the neighbors. Other than that, it's the same exact library is v.1.2.

[2017-01-06 00:27] searchivarius commented on #100
@davidanastasiu the title is a bit misleading, we don't even have a proper k-graph version yet, because it wasn't open-sourced until recently. What I ported was the old implementation of NN-descent, which ships with the search function.

Regarding the diffs in versions: one big difference was that the latest k-graph has symmetric neighboring links. SW-graph used symmetric links from the get-go, bu

[2017-01-06 00:32] searchivarius commented on #161
Thanks a lot for checking!

Due to lack of foresought, intrinsic headers were included **within our namespace**, which effectively excluded them from global workspace. The archlinux platform apparently uses an optimized version of the standard library that relies on intrinsics quite a bit. But we removed these intrinsics from the global space. So, the error message was very weird as if the platfor

[2017-01-06 00:32] #161 closed

[2017-01-06 00:36] davidanastasiu commented on #100
I'm not sure when v.1.2 was released. His web page does not record the date, and the repo does not have releases. I just remember going through the trouble of updating some of my code that used the library for 1.4 and running experiments, only to basically get identical results as previous experiments I had run on 1.2. I then looked at the code diff and found the minimal changes... If your code wa

[2017-01-06 00:38] davidanastasiu commented on #161
That makes sense. Thanks for the explanation!

[2017-01-06 00:40] searchivarius commented on #100
Good to know, thank you! The updates that I describe are dated by May-June 2016. Did you check the code before?

[2017-01-06 01:09] searchivarius opened #163 "Port L2-knng"
http://davidanastasiu.net/software/l2knng/

[2017-01-06 18:29] searchivarius opened #164 "Update CMakeLists.txt to enable build on Windows"
Now it's time to get rid of storing MSVC makefiles. Then could and should be generated by CMake GUI.

You would need to update manual to highlight the couple of nuances, the story would roughly unfold as follows:

In CMake GUI

1) Select the source code folder (root... similarity_search)
2) Select an arbitrary folder to store the MSVC project (screen shot)
3) Open a project in MSVC and modify the

[2017-01-06 20:13] searchivarius commented on #164
https://github.com/searchivarius/nmslib/commit/ded360bd199e867cf409c24bc865544462d0f0a3

[2017-01-07 02:17] searchivarius commented on #164
Actually, this may not be enough, we need to ensure the following options are set in the project file:
[code]

[2017-01-15 02:56] AdrianYu opened #165 "Memory leak in small_world_rand and space_sparse_vector_inter.cc"
In `src/method/small_world_rand.cc` line 727, a `MSWNode` is created for each line, and put in `ElList_`. But in deconstructor, pointers in `ElList_` are not deleted. In `src/space/space_sparse_vector_inter.cc` line 60, a new `Object` is returned, leaving the char array `pData` un-deleted.

[2017-01-15 15:56] searchivarius commented on #165
I will look into these, thanks a lot for checking!

[2017-01-16 08:55] saedrna opened #166 "HNSW Parameters for SIFT Matching"
Hi,

Thanks for this wonderful lib. And after check the benchmark results, I would like to change from [FLANN](https://github.com/mariusmuja/flann) (or [FASTANN](https://github.com/philbinj/fastann)) to this lib for SIFT descriptor matching. My sift descriptor is quantized as uint8_t for each element. And I am using HNSW as the index, because it has the best performance in the [benchmark](https://

[2017-01-16 13:52] searchivarius commented on #166
Hi,
1) There is a confusion between data structure and the distance **value** type. Your distance value should still be float. Again, what sort of data you have (it can be uint8_t* or it can be a string) is basically unrelated to the distance type.
2) Before using your custom space, I would recommend playing with the ``experiment`` binary and try to figure out parameter values. The tuning guidelin

[2017-01-16 13:52] #166 closed

[2017-01-24 08:39] rw opened #167 "Pip package"
I'm excited to try out this library in Python. Would it be feasible to provide a pip install-able package? Annoy is exceptionally easy to use in this regard.

[2017-01-24 16:23] searchivarius commented on #167
Yeah, we should do it some day (as well as Python 3 support). However, it will probably be after a few major changes.

[2017-01-26 17:05] searchivarius opened #168 "Better tests & benchmarks"
1. Refactor bench_distfunc so that it is a compile-time configurable simple utility (i.e., you can specify the data set source the number of tests, etc. programmatically) that produces nice output, not the current hard-to-understand gibberish.
2. (This one is lower priority) Refactor the testAgree* functions so that the code is more modular. Now that we can specify the random number seed, tests sh

[2017-01-31 03:34] searchivarius opened #169 "Compare against distance based hasing"
Compare against distance based hashing (DBH). It is frist described in "Nearest Neighbor Retrieval Using Distance-Based Hashing" by Vassilis Athitsos. However, it also has a follow-up paper with better results (there may be other followup papers):

Optimizing Hashing Functions for Similarity Indexing in Arbitrary Metric and Nonmetric Spaces
P Jangyodsuk, P Papapetrou, V Athitsos - Proceedings of t

[2017-02-11 04:12] kwangswei opened #170 "HNSW - one step is omitted for insertion."
When add the new element, we need to update the endpoints to the closest elements from friends list.
(line number 11 of algorithm 1 on page 6 in the paper - "Efficient and robust approximate nearest neighbor search using Hierarchical Navigable Small World graphs")

But in the Hnsw<dist_t>::add() function, there is no this process in the loop. (line number 520 of hnsw.cc). It doesn't change the "ep

[2017-02-11 04:35] searchivarius commented on #170
Thank you for comparing code with the manuscript! I have also looked at both and it seems that you are correct. The enterPoint (not endPoint I believe) is not updated in the second loop or so it seems to be. I tried to fix this:
[code]
and test on SIFT, but this didn't change results much. In fact, results slightly deteriorated (though this might be random). I hope @yurymalkov could provide more c

[2017-02-11 06:46] yurymalkov commented on #170
@kwangswei Thanks for the comment!
@searchivarius It affects only a fraction of element insertions which have level>0. I would expect there will be some notable difference in index time for huge low dimensional or clustered datasets (such as wiki8) with little effect on the accuracy.

[2017-02-11 06:50] searchivarius commented on #170
@yurymalkov thanks for clarifying. Do you think the above-mentioned fix is
1) correct
2) can potentially reduce indexing time?
BTW, Why do you think it will little effect on high-dimensional sparse data? I guess finding nearest neighbors in lower level should be faster if you start from a better point?

[2017-02-11 07:25] yurymalkov commented on #170
@searchivarius
1. It seems that the fix is correct. Maybe we should also rewrite the fragment to pass several closest elements instead of just one, it should also help. However tests are needed to check that it has only positive effect.
2. It think yes.
My intuition is: firstly, for high dimensional datasets higher M is usually better for performance. And the fraction of affected elements is rough

[2017-02-19 00:39] searchivarius opened #171 "Simplifications/improvements related to metric computations"
1. Don't compute confidence intervals, **only standard deviation**, but permit a user to save all query-specific values for every metric computed.
2. Simplify the text report:
2.1 The only effectiveness metric would be recall
2.2 Don't print confidence intervals
3. Make it possible to produce a probability to miss a neighbor at all ranks and save it to a file:
3.1. As an average for all queries +

[2017-02-20 17:00] shubaoliu opened #172 "kNN search returns less than K results"
When I experiment with the HNSW indexing method, kNN search returns less number of results than requested. Is this behavior normal? If normal, how does the algorithm decide how many neighbors to return? Thanks!

Here is a snippet of the relevant code
----
unsigned K = 100; // 100-NN query
KNNQuery<float>   knnQ(customSpace, queryObj, K);
index->Search(qobj);
----

[2017-02-20 17:28] searchivarius commented on #172
Well, currently the method doesn't guarantee returning at least K results. However, for large enough data set it should be at least K. How many data points do you have?

[2017-02-20 17:36] shubaoliu commented on #172
My dataset has about 150000 points, and I am requesting 100 neighbors. I only see cases that the returned number of values is less than K. You are saying that it could be greater than K in some cases?

[2017-02-20 17:42] yurymalkov commented on #172
@shubaoliu Hi! What is the value of "ef" parameter?

[2017-02-20 17:46] searchivarius commented on #172
@shubaoliu I am saying that there's no guarantee yet. However, if getting < K NNs happens on a large data set, we need to investigate.

[2017-02-20 18:00] shubaoliu commented on #172
@yurymalkov @searchivarius Thank you for the reply! Here is the parameter I use:
`AnyParams indexParams = AnyParams({"M=100”,
                        "efConstruction=50”,
                        "post=2",
                        "searchMethod=4"});
index->CreateIndex(indexParams);

AnyParams queryTimeParams = AnyParams({"efSearch =50”});
index->SetQueryTimeParams(queryTimeParams);`

Your reply mot

[2017-02-20 18:06] searchivarius commented on #172
@shubaoliu thank you for details. efConstruction shouldn't really affect this. Increase in efSearch can help, but I don't understand why there's any diff on a relatively large data set.

[2017-02-20 18:25] yurymalkov commented on #172
@shubaoliu If you set efs (both Search and Construction) lower than K (or M in case of construction), it is quite possible that the algorithm will return less than K approximate neighbors.
So to get high accuracy it is a good practice to set efConstruction>M, efSearch>K. Or even efConstruction>>M, efSearch>>K in case of high dimensionality data.

@searchivarius I suppose, in case efConstruction is

[2017-02-20 18:34] shubaoliu commented on #172
Thank you for the insights on setting these parameter!

[2017-02-20 18:35] searchivarius commented on #172
@yurymalkov yes, it's still not very likely for large data sets. Anyways, we should, perhaps, forbid setting efSearch < K. In fact, kgraph does so.

[2017-02-21 04:49] shubaoliu opened #173 "Possible memory leak in sample_standalone_app/sample_standalone_app1.cc?"
In sample_standalone_app/sample_standalone_app1.cc
[code]
Should we add
`delete res;`
at the end of the function to avoid memory leak?

[2017-02-21 06:25] searchivarius commented on #173
Good catch, you are absolutely correct. I have commited changes in master. In fact, we are more careful in Python bindings...

[2017-02-21 06:25] #173 closed

[2017-02-21 08:37] yurymalkov commented on #172
@searchivarius Maybe we should do it at least for efConstruction. For efSearch the problem is maybe somewhat less acute, since:  1) there is a second queue(and only one queue for efConstruction); 2) it is a run time parameter.

[2017-02-21 15:28] searchivarius commented on #172
@yurymalkov can't do it for efConstruction, because K isn't known in advance. Perhaps, the easiest solution is to
1) Fill the queue with K first data points
2) Use max(efSearch,K) instead of efSearch.
Perhaps, 1) can be implemented at the framework level (somehow).

[2017-02-21 22:08] shubaoliu opened #174 "minor fix (getting rid of labels alltogether)"
In similarity_search/include/object.h, line 93:
[code]

I guess it line 93 should be
[code]
, since we need to add the offset of "id" (instead of the offset of "label") to get the address of label.
This should have no effect on the result, since in the implementation, ID_SIZE == LABEL_SIZE.

[2017-02-21 22:14] searchivarius commented on #174
Yes, good point. But I am going to get rid of it anyways. Didn't prove to be useful. In the unlikely case, anybody wants to test classification accuracy, this can be done by the code that calls our API. That is, the mapping from IDs to labels can be kept by an external application.

[2017-02-21 22:33] searchivarius commented on #174
I am going to reclassify it a bit so that this objective (remove labels) isn't forgotten.

[2017-02-21 23:30] shubaoliu commented on #174
I agree. Label information is better kept outside, and focus this library on data indexing.

[2017-02-28 22:02] searchivarius opened #175 "Switching to use #pragma once"
Let's use #pragma once, b/c it's supported by all major compilers.

[2017-02-28 22:08] searchivarius opened #176 "Better intra-query || for brute-force search"
1. Implement a better batch-based balanced multi-threaded brute-force search
2. For contiguous data use a more efficient approach to access data in an array-like fashion (rather than through Object)

[2017-02-28 22:17] searchivarius opened #177 "Renaming files & simplifying descriptions"
1. Consider renaming C++ files for methods where we define a constant METH_*_SYN. For example, mi-file and napp will be simple method names.
2. StrDesc() for methods should return a short method mnemonic
3. StrDesc() for spaces should return a short method mnemonic (perhaps we should ignore parameters)

[2017-03-03 16:06] searchivarius opened #178 "Exceptions in threads"
For multi-threaded indexing, pass exceptions gracefully to the main thread wherever possible:
http://stackoverflow.com/questions/233127/how-can-i-propagate-exceptions-between-threads

[2017-03-08 09:40] lesteve commented on #161
FYI, I got the same error on Ubuntu 16.10 when trying to compile 1.6. Using master fixed it.

[2017-03-08 15:20] searchivarius commented on #161
@lesteve this is quite possible, b/c the fix wasn't included.

[2017-03-14 13:09] searchivarius opened #181 "Failure to re-use the GS-cache when the specified # of queries > larger one"
1. Create a data set with say 800 queries.
2. Run a test with the option -Q 1000. Gold standard cache should be enabled, but shouldn't exist before test beings.
3. Run a test a second time now reusing the gold standard cache. You would get something like this:
[code]

[2017-03-14 13:40] searchivarius commented on #181
See the commit in a special branch (will need to do the same in the main one).

[2017-04-02 21:44] ianseyer commented on #105
I still get this error on both `master` and `dev` running macOS Sierra. Have manually installed `gcc` via HomeBrew and run cmake with `-DCMAKE_C_COMPILER=`/usr/bin/gcc` to no avail.

[2017-04-03 01:09] searchivarius commented on #105
@ianseyer which branch?
Thanks!

[2017-04-06 19:16] searchivarius commented on #105
Hi @ianseyer thanks to @bileg this should now work in master. If it doesn't feel free to re-open the ticket and bug us.

[2017-04-06 19:16] #105 closed

[2017-04-11 21:28] lancifollia opened #183 "python building failed on non-extended version (Linux)"
The following command will be failed because `liblshkit.a` is not built on non-extra (without `-DWITH_EXTRAS=1`) version.

[code]

This issue can be fixed by adding statements at [setup.py](https://github.com/searchivarius/nmslib/blob/master/python_bindings/setup.py#L10).

[code]

[2017-04-11 21:30] lancifollia opened #184 "HNSW - Negative model size (caused by integer overflow)"
Since [model size is calculated by integer variable](https://github.com/searchivarius/nmslib/blob/master/similarity_search/src/method/hnsw.cc#L358), if a model size is greater than 2GB(=2^31, for 4byte signed integer) a wrong model size(this can be a negative number) will be printed [at here](https://github.com/searchivarius/nmslib/blob/master/similarity_search/src/method/hnsw.cc#L412).

How about

[2017-04-11 23:29] searchivarius commented on #184
I will look into this soon, thank you for reporting!

[2017-04-11 23:30] searchivarius commented on #183
thanks!

[2017-04-12 01:25] searchivarius commented on #183
@lancifollia  I have update setup.py, please, test an updated version. @bileg could you double check that you can still build bindings on MAC OS?

[2017-04-12 01:26] searchivarius commented on #184
Should be fixed now, please, check (in the master).

[2017-04-12 02:29] searchivarius opened #185 "Sometimes we don't see the error (apparently because an exception is thrown from a destructor while another exception is being fired)"
How to reproduce:
``
release/experiment -b 1 -k 10 -i ~/TextCollect/VectorSpaces/final8.txt -g gs_cache/final8_renyi_diverg_10 -s renyi_diverg:alpha=10  -Q 500 -m sw-graph -c NN=10,efConstruction=100,useProxyDist=1 -t efSearch=10 -t efSearch=20 -t efSearch=40 -t efSearch=80 -t efSearch=160
``
Error message:
``
terminate called after throwing an instance of 'terminate called recursively
terminate c

[2017-04-12 04:58] lancifollia commented on #183
@searchivarius I have tested setup.py. no problem

[2017-04-12 05:03] searchivarius commented on #183
thank you @lancifollia , on Linux, Mac, or both? :-)

[2017-04-12 05:03] #183 closed

[2017-04-12 05:16] bileg commented on #183
@searchivarius it works on MAC.

[2017-04-12 05:34] searchivarius commented on #183
@bileg cool, thanks!

[2017-04-12 05:34] #184 closed

[2017-04-12 05:57] lancifollia commented on #183
@searchivarius on Linux

[2017-05-01 02:09] searchivarius opened #186 "Improving Query object (CheckAndAddToResults)"
1. Eliminate the second set of identical checks when calling CheckAndAddToResults
2. Use FALCONN queue instead of push, pop.

[2017-05-01 02:57] searchivarius opened #187 "Problem with very small numbers"
Having zeros throws off computation of KL-div, Reniy-div, Itakura-Saito distance (and maybe some other divergences). We need some strategy to deal with it efficiently, should we use a threshold to enforce all vector elements are above say 1e-10?

[2017-05-02 19:51] searchivarius opened #188 "Integration testing util should be able to test methods selectively"

[2017-05-02 19:52] searchivarius commented on #188
Merged it with #168

[2017-05-02 19:52] #188 closed

[2017-05-03 08:08] rperrot opened #189 "Solving OS X compilation issue"
Hi,

I wanted to test the library on OS X using standard apple compiler. Using the develop branch, it fails to compile (I only tested similarity_search directory for now).

The issue is the following :

The _mm_prefect is an SSE instruction so you may include xmmintrin.h instead of mmintrin.h (which is MMX only). If I replace the include of mmintrin.h by xmmintrin.h in the following files :

now t

[2017-05-03 13:23] searchivarius commented on #189
Hi @rperrot thank you for the issue, this problems seems to be solved in the master branch: https://github.com/searchivarius/nmslib/issues/105 but it is certainly present in some versions. Which branch/release do you use?

[2017-05-03 13:27] rperrot commented on #189
I only tried the develop branch.

[2017-05-03 13:37] searchivarius commented on #189
@rperrot ohh, I see let me merge master into develop.

[2017-05-03 13:51] searchivarius commented on #189
@rperrot please, try to pull from the develop and recompile (please, do cmake . first and may be even remove cmake caches).

[2017-05-03 14:01] rperrot commented on #189
That's ok in develop branch now. (either with standard apple compiler and macports clang-4.0). Thanks for your support.

Finally, jjust a question to understand your development process : what is the most stable branch ? master or develop ?

[2017-05-03 15:06] searchivarius commented on #189
@rperrot thank you for checking. master is a bit more stable, but the library is being actively developed.

[2017-05-03 15:06] #189 closed

[2017-05-04 02:12] searchivarius opened #190 "Documentation updates for 2.0"
1. Check if SW-graph still has init*Attempts parameters.
2. Update manual readme to highlight examples of using library as explained in e.g., https://gitter.im/nmslib/Lobby?at=591a5f8c8a05641b11876827

Thanks!

[2017-05-09 00:39] jschmitz28 opened #191 "Fast (non-normalized) inner product search?"
Hello,

I've recently discovered nmslib and am very impressed!

Looking through the code and manual, I'm trying to figure out whether there is support for a fast/approximate non-normalized maximum inner product search. I've found this issue which appears to add support for normalized dot product: https://github.com/searchivarius/nmslib/issues/110

And I've also found an implementation of the exact

[2017-05-09 00:49] searchivarius commented on #191
Hi @jschmitz28 you need an inner-product search for dense vectors, right? Currently we support only sparse vectors, but supporting the dense inner-product search is easy to add.

[2017-05-09 01:00] jschmitz28 commented on #191
Thanks for the quick response! Yes, I'd be interested in dense vector support for inner product search.

[2017-05-09 01:29] searchivarius commented on #191
I added **negdotprod** to develop. It is also possible to reduce inner product search to cosine similarity search, but this requires data transformation. The benefit is that HNSW has an especially optimized implementation for cosine.

[2017-05-09 03:06] searchivarius commented on #191
Actually it seems that I forgot the sign https://github.com/searchivarius/nmslib/commit/3849cfa3b1e7c4414f52bfec1c05f40d1524be0e
I will have to look at this more carefully to make sure it works as intended.

[2017-05-09 06:45] jschmitz28 commented on #191
Awesome! Without knowing the code well it looks good to me - I wrote a basic unit test (d9665ba) which does the same sort of correctness verification as is done in test_lpnorm.cc for euclidean, and it looks like it works as expected (validated through bunit).

Regarding the reduction to cosine similarity, do you mean by first normalizing the vectors? The data I'm dealing with for this is the outpu

[2017-05-09 14:22] searchivarius commented on #191
@jschmitz28 thank you for checking. Would you submit a pull request? I had some doubts, b/c unnormlized inner product seems to be a harder distance than the normalized one. Although this wasn't the case for sparse vectors, it does make sense.

The reduction/normalization I talk about is invertible (which can be important for downstream components) and it produces the same set of neighbors. This in

[2017-05-09 14:22] #191 closed

[2017-05-09 15:39] jschmitz28 commented on #191
Added: https://github.com/searchivarius/nmslib/pull/192

Thanks for the link! That's super useful.

[2017-05-09 15:45] searchivarius commented on #191
cool, glad this was useful.

[2017-05-10 14:25] searchivarius commented on #124
Currently, there is an experimental support for incremental addition and/or deletion (all should be done in batches), but it requires using C++ directly.

[2017-05-10 14:25] searchivarius commented on #73
I have recently added  support for incremental addition and/or deletion (all should be done in batches), but it requires using C++ directly.

[2017-05-10 14:25] searchivarius commented on #73
I have recently added  support for incremental addition and/or deletion (all should be done in batches), but it requires using C++ directly.

[2017-05-11 18:49] JulianKingman commented on #190
@searchivarius is there documentation written for MACOS, or does that come in version 2?

[2017-05-12 00:26] searchivarius commented on #190
Hi @JulianKingman there's not special documentation for MACOS, but things are similar to Linux.

[2017-05-16 04:04] yaomingshr opened #193 "How can I use the lib in my own code?"
Hi, I want to use the lib in my own code to do some similar search. But in the manual I don't find any demo or API instructions. I want to do this in C++. Did I miss something? How can I user the lib in my own code?

[2017-05-16 04:10] searchivarius commented on #193
Hi, I just a similar question on gitter: https://gitter.im/nmslib/Lobby?at=591a5f8c8a05641b11876827

I should update the manual/README to make it easier to find these examples.

Thanks!

[2017-05-16 06:51] yaomingshr commented on #193
Here is what i want to do: In a offline task, create index with whole dataset and persist index into local file. In a online server, read index local file and offer query service.

Can I do this throw our lib now? If I can, is there any demo for me?

Thanks a lot!

[2017-05-16 11:17] searchivarius commented on #193
There are demos if you follow the above link. NMSLIB also has its own simple query server: So, there are demos to call the server as well: https://github.com/searchivarius/nmslib/tree/master/query_server

[2017-05-22 21:44] benfred commented on #109
Thanks for the amazing library - I've been playing with it for the last couple days and have been very impressed.

I made an initial attempt at bindings for NMSLIB  here https://github.com/benfred/nmsbind that supports both Python 2.7+ and 3.5+.

I'm using [pybind11](https://github.com/pybind/pybind11) to write this. Pybind11 radically simplifies writing bindings for C++ projects: it wraps the CPy

[2017-05-23 01:33] searchivarius commented on #109
Hi @benfred thank you for the kind words, there are several of us :-)
Regarding your suggestions: this would be totally awesome if multithreading functionality can be, indeed, implemented.

[2017-05-23 17:57] benfred commented on #109
Great! I'll work on putting this together - I don't think it will be too hard to get going.

I'm going to add the remaining missing features, and also make sure there is a layer for backwards compatibility so that existing tests will still work, and so that projects like https://github.com/erikbern/ann-benchmarks won't need updated.

[2017-05-23 18:00] searchivarius commented on #109
@benfred this would be great. Great that you mentioned  ANN-benchmarks. @bileg currently works on extending them, so it will be great if you coordinate efforts.

[2017-05-25 23:58] benfred commented on #109
I have a PR here https://github.com/searchivarius/nmslib/pull/195 .

I'm using openmp for the multithreaded knnQueryBatch code - it handles dynamic scheduling on the parallel for loop nicely (with the downside that its disabled on OSX): https://github.com/benfred/nmslib/blob/pybind/python_bindings/nmslib.cc#L124

I also added a compatibility layer here https://github.com/benfred/nmslib/blob/pybind

[2017-05-26 05:13] searchivarius commented on #109
Nice job @benfred many thanks! This worked fine for Python 2. However, I have troubles installing it for Python3 do you have any ideas why this might happen? Here is the build log:
[code]

[2017-05-26 05:19] benfred commented on #109
Hmm - haven't seen that before. If you're on ubuntu maybe try something like 'sudo apt-get install python3-dev'

[2017-05-26 05:58] benfred commented on #167
So - with that last PR I *think* everything is set up properly to publish to pypi.  Its a pretty easy process, some details are here: http://peterdowns.com/posts/first-time-with-pypi.html .

Basically there are just a couple things you need to do:

1) create an account on pypi: https://pypi.python.org/pypi?%3Aaction=register_form

2) Register nmslib with pypi (from nmslib/python_bindings folder):

[2017-05-26 06:23] searchivarius commented on #109
@benfred great that was necessary. In general, Python 3 installation seems to be a bigger pain-in-the-neck. For example, I had to do
[code]
probably because python2 is default. Before doing this, one actually needs to install pip for Python3:
[code]
Do you think it would be worth adding to README.me (I will update it)? Is there something else that I may miss?

[2017-05-26 06:30] searchivarius commented on #167
Great, I tried, but it seems to be a bit more complicated. I need a fresh head for this.
Thank for the help, this is greatly appreciated!

[2017-05-26 06:32] x10000year commented on #191
@searchivarius Does this method of additional dimension reduce the precision of query result? Especially when there are some outlier element that has extremely large l2 norm?

[2017-05-26 06:35] searchivarius commented on #191
@x10000year thank you for the interest in our library, what do you mean exactly by the method? We have search methods/algorithms and the so-called spaces, which are data+distance.

[2017-05-26 06:50] x10000year commented on #191
@searchivarius

I mean the method you mentioned for process non-normalized maximum inner product search:
"Basically you normalize each element by dividing its elements by the largest l2 in the dataset. You normalize queries by dividing elements by the query norm. Then you add an additional dimension. For the query it is zero. For a data point, it is equal to sqrt(1-squared norm of the data point).

[2017-05-26 06:55] searchivarius commented on #191
@x10000year NMSLIB doesn't use this method. I also don't know whether such a reduction affects performance. I have plans to check this, but I haven't done yet. In general, if you have outliers with the large l2 norm, you k-NN may become poorly defined, because outliers with large norms can often be huge attractors, i.e., they may be nearest neighbors for a majority of data set points. Needless to

[2017-05-26 16:17] searchivarius commented on #167
Ok, I have made a bit more progress. I uploaded the package to the test site, but I cannot re-install, @benfred would you care to try it on Linux: pip install -i https://testpypi.python.org/pypi -vvv nmslib
I am getting some weird errors:
[code]
I wonder if you have an idea regarding what's going on.
Thank you!

[2017-05-26 17:39] benfred commented on #167
I don't see the package on pypi, I would expect to see something here https://pypi.python.org/pypi/nmslib describing it.

Do you have the output for  'python setup.py register' and 'python setup.py sdist upload' commands?

[2017-05-26 17:41] benfred commented on #109
It might be worth adding a note to the README - though when I installed python3 myself, apt-get automatically installed pip3 and the python3-dev packages.

[2017-05-26 17:53] searchivarius commented on #167
@benfred please, note that I currently play with test pip server
https://testpypi.python.org/pypi
Thank you!

[2017-05-26 17:57] searchivarius commented on #109
Ohh, there's also pip3. This removes the concern, thank you!

[2017-05-26 18:05] benfred commented on #167
Thanks! I realized right after posting =)

So I think what pip is doing is downloading the page from https://testpypi.python.org/simple/nmslib/ and checking to see what links match the system.  There are two python eggs there, but no wheels or source packages which I think might be the problem.

When I was writing the new bindings, I tested out a pip installable package - you can see different pac

[2017-05-26 18:38] searchivarius commented on #167
Ohh, I see, it was recommended to use twine instead of sdist upload. I tried sdist upload and there are two issues:
1. We can upload for Python 2, Python 3 but not both versions.
2. An installation procedure tries to compile. This fails, b/c bindings come only with Python wrappers, but not NMSLIB sources.

[2017-05-26 19:25] benfred commented on #167
I think the sdist package that gets uploaded will work with both python 2 + 3 - the problem is that we're missing the sources here.

I think the problem there is that I messed up the MANIFEST.in file :  I tried to include the nmslib with a relative directory - but those don't get included in the package =(.

I tried to fix here: https://github.com/searchivarius/nmslib/pull/197

[2017-05-26 20:49] searchivarius commented on #167
Many thanks! It now works for Python3 (I mean pip3 install ...). However, not for Python2:
[code]
Another question would is related to additional packages that we don't build by default. But sometimes we want them for tests. Then, we do:
[code]
It also requires additional packages:
[code]
I hope I am not too annoying, but we need FALCONN and LSHKIT in ann-benchmark.

[2017-05-26 21:10] benfred commented on #167
Awesome! Glad its starting to come together.

For the python2 version - I think the error might be because pybind11 ins't registered with testpypi index  (like https://testpypi.python.org/pybind11/ returns a 404, vs https://pypi.python.org/pybind11/ which doesn't).  Installing pybind11 direct from pypi (pip install pybind11) should resolve, and I don't think this error will happen once you push nm

[2017-05-26 21:33] searchivarius commented on #167
1. You seem to be right, I am installing it now from the main web site.
2. Regarding extras: I didn't realize that. Indeed, for pypi we only want to ship the core library, which will, in fact, be much smaller in the future. For anything else, we can use the old procedure :
[code]
Overall, @benfred this was an awesome job, which will greatly help people to use the library. Many thanks!

[2017-05-26 21:33] #167 closed

[2017-05-31 14:10] ducha-aiki opened #199 "Memory leak in Python (again)"
Very similar to the old problem in https://github.com/searchivarius/nmslib/issues/137
Snippet to reproduce:

     import nmslib
     import numpy.random as npr
     import resource
     import numpy as np
     for i in range(10):
        index = nmslib.init('cosinesimil', [], 'hnsw',
    		                   nmslib.DataType.DENSE_VECTOR,
		                   nmslib.DistType.FLOAT)
        dataset

[2017-06-02 04:10] #109 closed

[2017-06-02 04:10] #62 closed

[2017-06-02 04:13] searchivarius commented on #199
Hi @ducha-aiki thank you for noticing this. It seems to be a different issue.

[2017-06-02 20:57] searchivarius commented on #83
This is actually possible now, but this needs to be tested properly.

[2017-06-02 20:57] #83 closed

[2017-06-02 20:58] searchivarius commented on #76
HNSW is quite fast on indexing.

[2017-06-02 20:58] #76 closed

[2017-06-04 05:12] searchivarius opened #212 "Update appveyor.com setup to run bunit.exe"

[2017-06-05 20:18] #193 closed

[2017-06-12 12:15] xreborner opened #213 "A bug in small_world_rand.cc"
The line 831:
  ElList_.insert(make_pair(node->getData()->id(), node.release()));

The evaluation order of "node->getData()->id()" and "node.release()" is implementation-dependent. In my gcc environment, the right part is evaluated first, causing a null dereference in the left part.

Furthermore, I found that pEntryPoint_ is not initialized in LoadIndex(), so knn-query failed after loading index.

[2017-06-12 22:23] searchivarius commented on #213
Hi @xreborner you are right about UB, I will look into this issue as well as into the issue with pEntryPoint_ ASAP. Thank you for reporting!

[2017-07-10 07:50] DavidGOrtega opened #214 "Support for ids as a string"
Hi, great work!

Supporting ids as a string would be extremely useful. For some cases ids are not just a number, so another structure is needed to be maintained.

[2017-07-10 15:21] searchivarius commented on #214
Hi, @DavidGOrtega thank you for the kind words. There is some support for strings, but this
1) requires a custom space
2) can be used from the query server only.
I am thinking about adding this to 2.0, but this is not going to be soon.

[2017-07-19 12:52] mrcsunshine opened #217 "About distance ‘nan’ in the result"
HI,
  I'm using 2000 dimension vector to construct index with HNSW. But when searching with knnQuery ,the searching results in distances are like this [nan,nan,nan,nan] . I changed different params for building and query time, but it still not work. Can someone help me with that?

[2017-07-19 13:26] searchivarius commented on #217
Hi @mrcsunshine ,
it's hard to tell without details:
1) What's the data
2) What's the distance
3) Which parameters do you use. Ideally a code snippet is needed.

[2017-07-20 20:59] searchivarius commented on #213
Hi @xreborner thanks again for reporting this. I believe that the master branch should be fine now. Sorry it took me a while.

[2017-07-20 20:59] #213 closed

[2017-07-20 21:00] searchivarius commented on #165
Hi @AdrianYu thanks again for reporting this. Sorry it took me a while, but I believe that the master branch should be fine now.

[2017-07-20 21:00] #165 closed

[2017-08-03 22:08] bluejay9676 opened #221 "python integration tests"
Both sparse_bench.py/test_nmslib.py give the following error:
Let's invoke the index-build process
2017-08-03 16:50:52 small_world_rand.cc:348 (CreateIndex) [INFO] NN                  = 17
2017-08-03 16:50:52 small_world_rand.cc:349 (CreateIndex) [INFO] efConstruction_     = 17
2017-08-03 16:50:52 small_world_rand.cc:350 (CreateIndex) [INFO] indexThreadQty      = 4
2017-08-03 16:50:52 small_world_

[2017-08-04 02:43] searchivarius commented on #221
Thank you for reporting, these are legacy parameters that are deleted. I will shortly update the test file.

[2017-08-04 13:55] searchivarius opened #222 "Better integration tests"
1. Add saveIndex, loadIndex to C++ integration tests

[2017-08-04 18:11] searchivarius commented on #221
Thanks again for being vigilant: when I fixed these integration tests they helped me find another recently introduced issue. I believe we are in the clear now, feel free to reopen this, if the issue doesn't resolve.

Don't forget to
1) pull the code rebuild NMSLIB
2) rebuild / reinstall python bindings

[2017-08-04 18:11] #221 closed

[2017-08-06 20:02] bluejay9676 opened #223 "Python binding inquiry"
[code]

would throw
[code]

same goes for when I used DOUBLE. What can I do to get through this? Thank you!

[2017-08-06 21:50] bluejay9676 commented on #223
Same thing happens when I use other sparse spacetype.

[2017-08-07 01:05] searchivarius commented on #223
LSH is only for evaluation purposes. In fact, we have to copy all the data to make it possible. In that, the only sparse LSH is a FALCONN port. However, HNSW is clearly a better choice. Also, if you have non-negative sparse vectors, NAPP (sometimes with **generated pivots**) can work better in some cases. It will also create an index faster.

[2017-08-07 01:05] #223 closed

[2017-08-07 06:21] hjain689 opened #224 "Documentation for python wrapper"
I am using the python wrapper for nmslib, however I couldn't find any documentation for it, apart from two small examples. Basically I want to do some parameter tuning etc. for eg. while using hnsw method I want to see what default values are being set for parameters like maxM0, maxM etc. and how can I specify these using python wrapper. Can you please provide some documentation, it will be really

[2017-08-07 13:25] searchivarius commented on #224
Hi @hjain689 we don't have a specific Python docs, there's a manual that discusses HNSW in more detail https://github.com/searchivarius/nmslib/blob/master/docs/manual.pdf

[2017-08-08 00:51] bluejay9676 opened #225 "hnsw searchMethod Parameter"
I couldn't find explanations on the searchMethod parameter for HNSW. I am curious if I am using the parameters in a wrong way.

[code]
With the above code, I am achieving relatively low similarity in total (3% similarity). I was wondering if anyone can spot anything that could improve this.

[2017-08-08 01:00] bluejay9676 commented on #225
However it works fine with the sparse matrix given by the sparse_benchmark.py yielding around 98% similiarity on average.

[2017-08-08 03:59] benfred commented on #224
The Python API should have decent documentation in the docstrings on each method/class .

I took a first pass at exposing this in this PR https://github.com/searchivarius/nmslib/pull/226 , using sphinx to build html pages and autodoc to automatically expose the docstrings from the python bindings.

You can view how this documentation looks here: https://benfred.github.io/nmslib/ The docstrings for

[2017-08-08 06:38] hjain689 commented on #224
Thanks a lot @benfred .. this is really helpful!

[2017-08-08 16:56] searchivarius commented on #225
Hi @bluejay9676 sparse_benchmark.py uses a different set of parameters and different (although similar) method SW-graph.
Shortly good efConstruction is in the range 50-300. 2000 is usually too much. M seems to small, the reasonably values of M are usually in the range of 10-50. efSearch is usually fine if selected from 100 to 2000.

We have tuning guidelines in the manual, but they are bit outdate

[2017-08-08 16:56] #225 closed

[2017-08-08 16:57] bluejay9676 commented on #225
I guess real question is:

Is the parameter I'm using accurate? (mostly searchMethod) Is searchMethod 0 corresponds to l2_sparse space type

[2017-08-08 16:59] searchivarius commented on #224
@benfred awesome, I am superbusy now, but I will look into this shortly. We need to update the manual + describing most important stuff online is superhelpful.

[2017-08-08 17:02] searchivarius commented on #225
Hi, this parameter is just for backward compatibility with ann_benchmarks. It doesn't affect anything. Sorry, we are redoing a lot of things (or planning to redo) so we don't have a truly stable-stable version yet with a complete docs.

[2017-08-09 10:32] blutooth opened #227 "Docs far too verbose"
Why do you have 82 pages of explanation in the manual without a simple explanation of how to run tests.
Something like ./test_run.sh giff.txt 235mb
Why?
Why is a simple explanation of how to tun the code  not included in the readme. Someone who has just downloaded your code has to scour 80 pages of manual or dive deep into the source code to stand a chance.
I'll bet you'd have twice as many github

[2017-08-09 16:55] searchivarius commented on #227
Hi @blutooth a vast majority of people are interested only in Python bindings, manual is written for people who extend and modify the library. If you think some additional info can be added to README to make the need to scan the manual less likely, feel free to send a pull request.

Thanks!

[2017-08-09 16:55] #227 closed

[2017-08-09 23:43] thess24 commented on #214
@searchivarius How do you format your data to include ids in the query server? I haven't been able to figure it out by looking through the examples/documentation. Right now, each row of my data that is being loaded into the query server is in the form:

.021 .045 .501 .099 .245

How do I go about adding numerical/string ids for each row?

[2017-08-10 03:10] searchivarius commented on #214
@thess24 this is currently supported only for custom spaces, which space do you need it for?

[2017-08-10 08:56] gokceneraslan opened #228 "pybind11 import error during nmslib Python installation on mac os"
Hi,

When I run `pip install nsmlib` on a mac where pybind11 is not installed, I get `ModuleNotFoundError: No module named 'pybind11'`:

![image](https://user-images.githubusercontent.com/1140359/29162691-76f9d610-7dba-11e7-8ddf-33f21cb975ce.png)

Maybe @benfred can help me with that. I think it's related to this line https://github.com/searchivarius/nmslib/blob/master/python_bindings/setup.py#L10

[2017-08-10 17:42] gokceneraslan commented on #224
@benfred can you maybe add a link to https://benfred.github.io/nmslib/ in https://github.com/searchivarius/nmslib/blob/master/python_bindings/README.md file?

[2017-08-10 17:50] searchivarius commented on #224
@benfred @gokceneraslan this needs to be eventually done by us, I mean there should be a proper github.io website. I will need to modify it tool

[2017-08-10 18:04] benfred commented on #228
We are using pybind11 to generate the python bindings for this library - it needs to be installed in order to compile the extension, and we import it there to get the header location of the pybind11 library here.

The 'install_requires' line in the setup.py file should install pybind11 + numpy if they aren't already installed:  https://github.com/searchivarius/nmslib/blob/master/python_bindings/se

[2017-08-10 21:38] benfred commented on #228
I tried again with miniconda - and going ```pip install nmslib``` installed nmslib properly, but it did at one point show the same error message as you before going on to successfully finish the build:

[code]

Given that it worked in the end (just displayed an error message half way through), I'm inclined to not worry about this...

[2017-08-11 10:37] gokceneraslan commented on #228
Yes, this is printed every time I install nmslib python bindings to a new computer. Maybe adding a `try/except` statement around `import pylib11` would fix it but it's not a big deal as you said.

Thanks!

[2017-08-11 10:37] #228 closed

[2017-08-18 13:15] hjain689 commented on #224
@searchivarius is there a python function available to store (and load) the nearest neighbor model that can be loaded later to query a new set of points?

[2017-08-18 15:47] benfred commented on #224
@hjain689 the saveIndex/loadIndex function calls will serialize the index to disk and load it back up
https://benfred.github.io/nmslib/api.html#nmslib.dist.FloatIndex.loadIndex

[2017-08-19 17:27] #224 closed

[2017-08-20 09:21] gokceneraslan opened #229 "Exact vptree"
Is there a way to set indexing and querying parameters of a vptree without auto tuning so that it's always exact for all datasets and queries?

[2017-08-20 17:13] searchivarius commented on #229
Yes, just don't specify any parameters.

[2017-08-20 17:13] #229 closed

[2017-08-21 17:03] gokceneraslan opened #230 "Python bindings produce incorrect results for arrays in Fortran order"
I realized that I'm getting very weird results when I read numpy arrays from csv files via the `as_matrix()` function of Pandas dataframes. Then, I found out that it's because of the order the matrices are stored in memory:

[code]

Produces following output:

[code]

As users may not really know about the order of the matrix, `nmslib` bindings must call `np.ascontiguousarray()` explicitly in `add

[2017-08-21 17:05] searchivarius commented on #230
@gokceneraslan thank you for looking into this, do I get it correctly that np.ascontigousarray() does help?

[2017-08-21 17:09] gokceneraslan commented on #230
Yes, because it changes the order from Fortran to C.

[2017-08-22 14:06] hjain689 commented on #224
Thanks a lot @benfred, actually when I use the saveIndex function with sparse data it gives the following error (works perfectly for dense):
RuntimeError: Storing non-optimized index is not supported yet!
Any idea as to what might be going wrong here?

[2017-08-22 14:08] searchivarius commented on #224
@hjain689 for HNSW and non-standard (i.e) sparse spaces, saving isn't not implemented. SW-graph can save indices for sparse spaces, and it often can have similar performance.

[2017-08-22 14:37] hjain689 commented on #224
okay .. will try that out, thanks!

[2017-08-24 20:40] knulph opened #231 "Python support for suppressing warnings"
The Python bindings produce several [INFO] messages when using the vptree model, such as:

2017-08-24 18:33:11 vptree.cc:72 (CreateIndex) [INFO] bucketSize          =30
2017-08-24 18:33:11 vptree.cc:73 (CreateIndex) [INFO] chunkBucket         = 1
2017-08-24 18:33:11 vptree.cc:74 (CreateIndex) [INFO] selectPivotAttempts = 1
2017-08-24 18:33:11 searchoracle.h:160 (LogParams) [INFO] alphaLeft = 1 exp

[2017-09-01 15:42] #230 closed

[2017-09-02 19:37] benfred commented on #231
So - I took a stab at this here: https://github.com/searchivarius/nmslib/pull/235

That PR lets you handle all the log messages produced by nmslib by a python handler, which means that instead of just logging to STDERR - you can log to any python handler. It also means you can quiet messages down to just warnings from nmslib by doing something like:

[code]

[2017-09-06 10:00] xueyouluo opened #236 "Python addDataPointBatch bug"
Here is the problem:

when I using the example:
[code]
the ids is :
`[   0, 8466, 9355, 5861, 1651,   18, 2474, 9736, 2172, 6289]`

***But*** when I add the data point batch by batch:
[code]
Then build the index and try knn search, the results becomes:
[code]

I tried different data, the ids are all in 0-30. What happens here???

[2017-09-06 13:16] benfred commented on #236
So addDataPointBatch takes two parameters: the data and the ids to index the data under:
https://searchivarius.github.io/nmslib/api.html#nmslib.dist.FloatIndex.addDataPointBatch

If the ids aren't set, it defaults to the row of the passed in matrix - which in your second case is always 0-30. If you set this it should work .

[2017-09-06 14:26] searchivarius commented on #236
@benfred shouldn't we make the IDs parameter mandatory?

[2017-09-06 14:42] xueyouluo commented on #236
@benfred Thanks for your explanation. I didn't notice the description of the ids parameter. I thought it would append the data to the previous added data.

Why do you need id here? I think usually user will add data to the index, then call the create index method when all data are added.

You can close this issue.

Thanks.

[2017-09-06 15:20] searchivarius commented on #236
@xueyouluo IDs are needed, because they can be different from the insertion order.

[2017-09-06 15:20] #236 closed

[2017-09-06 19:22] searchivarius commented on #236
PS: @xueyouluo but we shouldn't allow users to shoot in the feet.

[2017-09-18 20:47] mmcneill opened #238 "Version 1.6.3 - space and method functionality?"
I recently moved to version 1.6.3 (python) and have some questions about available functionality for using sparse vectors with the small_world_rand/hnsw methods and the ability to save/load an index.

* Can I use the cosinesimil_sparse space with small_world_rand and/or hnsw?
* Can I save/load an index built using either combination of cosinesimil_sparse/small_world_rand or cosinesimil_sparse/hnsw

[2017-09-19 02:28] searchivarius commented on #238
Hi @mmcneill thank you for the interest!
1) Yes
2) save/load with small_world, but not with hnsw. It's bloody shame that I haven't fixed this yet. Seems to become a priority.
3) space_params are empty for simple spaces.
Index params: reasonable values for NN to try 15-50. Then search parameter efSearch would range from say 10 to 1000 (again need to check empirically how it works).
For HNSW, M woul

[2017-09-19 22:42] mmcneill commented on #238
Thanks for your quick response, @searchivarius!  I appreciate you sharing the parameter information.

I am still having issues loading an index using small_world_rand.  I have attached a simple example that leads to a segmentation fault in the final line.  Any idea where I am going wrong?

[code]

[2017-09-20 00:50] searchivarius commented on #238
[test1.py.gz](https://github.com/searchivarius/nmslib/files/1316233/test1.py.gz)
Hmmm, will it work if you install a version that is currently in the master?
I slightly modified your script (see attached) to make it query from loaded index and it works on my machine.
**Important:** when you build the old version, please, make sure you delete the old installation files, e.g., for Python **2.7** on

[2017-09-20 13:12] DavidGOrtega opened #239 "Support for TS-SS similarity"
@searchivarius Would be an interesting similarity to be added. The report of improvement against cosine or euclidean is exciting at least...

https://github.com/taki0112/Vector_Similarity

[2017-09-22 06:58] searchivarius commented on #239
You are most welcome to do this :-)

[2017-10-05 09:52] Aljaksandr opened #240 "Bad precision. Choosing of index parameters"
Hello!
I run script to evaluate precision of indexed float arrays.

[code]

The problem is, that I get only 57% of precision. Are there any recommendations to choose index/search parameters to increase precision with minimal time spend on query?

[2017-10-05 12:20] searchivarius commented on #240
Hi @Aljaksandr

it's hard to tell without the data. What is the dimensionality? Also, is there a chance that you have a lot of ties. So, some things to try:

1) Increase ef (query time parameter) and/or M (index-time parameter)
2) Try say k = 10

This low precision is especially surprising given that you search for already indexed data. In this case, the precision would be higher than for searchin

[2017-10-05 13:52] Aljaksandr commented on #240
Hi, @searchivarius
Data are generated according numpy.random.randn() function. 100000 features x 100 floats each.
Increasing efConstruction from default 200 to 400 and M from default 16 to 32 allows reach 91.5% accuracy. But indexing takes much more time. Changing k from 1 to 10 doesn't affect.
Is it correct behavior?

[2017-10-07 03:48] searchivarius commented on #240
@Aljaksandr methods of k-NN search don't work well for randomly generated high-dimensional data. In fact, in this case, k-NN search stops being a meaningful operation. The only useful operation for such data is a near-duplicate detection, which is usually solved using hashing approaches. For near-duplicate detection a query should be really close to the data your search .

[2017-10-07 03:48] #240 closed

[2017-10-16 02:23] leafjungle opened #241 "difference between hnsw and sw-graph?"
I think I am a new comer.
I see in the benchmark: https://github.com/erikbern/ann-benchmarks, there are HNSW and SW-graph.
both of them are based on nmslib. But I am not sure the difference? And it seems hard to find the answer in Google.

[2017-10-16 02:37] searchivarius commented on #241
Hi @leafjungle HNSW is usually better (and sometimes substantially so), but there's currently a technical deficiency that HNSW can't save indices for spaces/distances other than dense vector spaces with L2/cosine.

[2017-10-16 02:37] #241 closed

[2017-11-01 11:14] swimmingsand opened #242 "genplot_configurable run error"
./genplot_configurable.py -i output_file_K=10.dat -o plot_10_NN -x 1~norm~Recall -y 1~log~ImprEfficiency -l '1~south west' -t 'Improvement in efficiency vs recall' -n MethodName -a axis_desc.txt -m meth_desc.txt
This is pdfTeX, Version 3.14159265-2.6-1.40.16 (TeX Live 2015/Debian) (preloaded format=pdflatex)
 \write18 enabled.
entering extended mode
! I can't find file `plot_10_NN'.
<*> plot_10_NN

[2017-11-01 15:06] searchivarius commented on #242
Hi @swimmingsand would you mind sharing some how (can be over e-mail) all input files (can be over e-mail leo at boytsov.info) Would be easier for me to reproduce. Thanks!

[2017-11-07 19:44] eracle opened #244 "docker"
Hello there!
Any plans to docker-ize it?
Regards

[2017-11-07 20:18] searchivarius commented on #244
@eracle A good idea: but I really need to fix a couple of deficiencies first. Not a lot of work, but I need to find a few days to do this.

[2017-11-10 08:18] lsorber opened #245 "Suggestion: simplify Windows build instructions"
The "Quick Start on Windows" part of the README says you need Visual Studio 2015 Express and CMake for Windows. A more lightweight solution is to ask users to install [Microsoft Visual C++ 2015 Build Tools](http://landinghub.visualstudio.com/visual-cpp-build-tools) (and make sure they keep the included Windows 8 SDK selected, which is the default), that's all they really need together with `pybind

[2017-11-10 13:57] lsorber commented on #119
This is a feature we would also be very happy to see from nmslib. Specifically, support for saving/loading sparse cosine distance spaces with hnsw. Without sparse support, we can only save (huge) dense models.

[2017-11-13 09:53] searchivarius commented on #119
@lsorber I have started working on this, hopefully it won't take longer than a couple of weeks.

[2017-11-13 09:58] searchivarius commented on #245
@lsorber I should really try this, besides there seems to be various issues with Windows builds.

[2017-11-13 12:12] lsorber commented on #245
Of course. Steps I took to reproduce on a fresh Windows environment:
1. Install Microsoft Visual C++ 2015 Build Tools with the Windows 8 SDK. The 2017 version doesn't work. The 2015 Build Tools with the Windows 10 SDK may work, haven't tested.
2. `conda install pybind11`
3. `pip install nmslib`

[2017-11-15 02:51] ijklr opened #246 "Conflicting description in the README"
Under the Prerequisites section, it mentions Clang 3.4
However, under the Limitations section, it says "HNSW does not work with Clang".

[2017-11-24 14:48] munitech4u opened #247 "Unknown MS compiler version 1900"
I am trying to pip install the package and it is throwing me error:

ValueError: Unknown MS compiler version 1900.

Is it a problem with my MS build compiler version?

I have MS build 15.0 installed on windows 7

[2017-11-24 16:03] rozyang opened #248 "How to get repeatable results?"
The library is very good. But I find the result is different in every run. How can I get repeatable results? Thanks.

[2017-11-24 16:17] searchivarius commented on #248
This has two issues to it
1) Multi-threaded creation of indices
2) Use of random generators without a specific seed
While the second issue is relatively easy to fix, the first one is quite serious. Basically, if you want totally repeatable results you need to create some indices in single-threaded mode only. I suspect that HNSW should recreate mostly the same index.
There is also an issue with non

[2017-11-24 19:40] searchivarius commented on #248
PS: results are repeatable in the sense that there is little difference among several runs with the same parameters.

[2017-11-25 01:59] searchivarius commented on #247
Which version of the Python?

[2017-11-25 08:01] rozyang commented on #248
I see. Could you tell me how to fix the random seed. Then I can use single-thread to achieve pretty repeatable results. Thanks.

[2017-11-26 23:26] searchivarius commented on #248
Ok, I am currently changing the code, it may be not so hard to do. I am closing this issue, it duplicates the previously open one #57

[2017-11-26 23:26] #248 closed

[2017-11-27 09:40] munitech4u commented on #247
3.5

[2017-11-27 14:14] searchivarius commented on #247
@munitech4u thank you, I will try to reproduce this week.

[2017-11-27 14:31] searchivarius opened #249 "Modify code of NAPP/SW-graph/Experiments/other places to using ParallelFor in index creation"

[2017-11-27 20:34] rozyang opened #250 "Where can I find description of the python parameters?"
I cannot find the description of the python parameters. In the API Reference there are only default values.  Especially, I want to know the other space names in init() except 'cosinesimil', as well as other valid index_params in createIndex() except 'post=2'. Thanks.

[2017-11-28 03:11] searchivarius commented on #250
@rozyang will sure need to expand Python docs. So far, parameters are described only in the manual. Check, e.g., pages 58 and 63 https://github.com/searchivarius/nmslib/blob/master/manual/manual.pdf

[2017-11-28 06:41] #239 closed

[2017-11-28 06:41] #178 closed

[2017-11-28 14:42] searchivarius commented on #242
I have to close this, b/c I have no information to reproduce the bug.

[2017-11-28 14:42] #242 closed

[2017-11-28 15:59] searchivarius commented on #119
Hi @lsorber could you test saving of the index in the dev version? There seems to be some issue on Windows, but the Linux version should work fine. Thanks!

[2017-11-28 20:21] searchivarius commented on #246
@ijklr this was true some time ago, I am going to re-test it shortly with a newer version of HNSW. Probably, this is not an issue anymore.

[2017-11-29 06:40] lsorber commented on #119
Hi @searchivarius, I would be glad to help. I have a Windows machine, do you want me to go ahead and test (since you mentioned there are still issues on Windows)?

[2017-11-29 09:37] leafjungle commented on #250
well, In the manual.pdf, I still can not found the explanation about {"post": 2}.

[2017-11-29 09:40] yurymalkov commented on #250
@leafjungle it is described in https://github.com/searchivarius/nmslib/issues/121

[2017-11-29 14:28] searchivarius commented on #119
@lsorber no, the index saving wasn't supported, but let me test this feature on Windows first.

[2017-11-30 08:58] munitech4u commented on #247
I found a workaround to let the windows compile it, by adding environment variable: VS90COMNTOOLS - value >>%VS140COMNTOOLS%. But it's unable to build wheel with error:

ws Kits\10\include\10.0.15063.0\winrt" "-IC:\Program Files (x86)\Windows Kits\10
\include\10.0.15063.0\ucrt" /EHsc /Tpnmslib\similarity_search\src\method\proj_vp
tree.cc /Fobuild\temp.win-amd64-3.5\Release\nmslib\similarity_search

[2017-11-30 14:34] searchivarius commented on #247
Hi @munitech4u this would be very helpful, I am still looking into this.

[2017-11-30 18:42] searchivarius opened #253 "Unifying Python & Integration test"
1. Unifying Python & generic integration tests.
2. We need to make C++ integration tests fully reproducible and very stable.
3. We will need to include functionality for saving/loading indices.
4. All the integration tests need to be run during a continuous integration check.

[2017-11-30 23:13] yonromai opened #254 "[Python API] Logging level control does not work"
According to the [Python doc on logging](https://github.com/searchivarius/nmslib/blob/master/python_bindings/docs/logging.rst), it should be possible to adjust the logging level:
[code]
Seems like it does not work.
Outputs:
[code]

[2017-11-30 23:18] yonromai opened #255 "[Python API] Opening a saved index doesn't behave correctly"
The behavior of a loaded index is different from a created one. `knnQuery` seems to work fine, but `len`, `[]` and `getDistance` are misbehaving:
[code]
Outputs:
[code]

[2017-12-01 01:30] #231 closed

[2017-12-01 01:31] searchivarius commented on #254
@yonromai sorry, it's only in the dev, I will propagate this into master shortly.

[2017-12-01 18:54] searchivarius commented on #255
Hi @yonromai thank you for reporting this: this isn't really a bug, but rather a feature. Currently, our indices aren't real indices (except in one case), b/c they don't store data. Data needs to be reloaded. However, HNSW has an exception in that regard. It can save data as well. It would be sufficient to search, but this data isn't visible to the generic function getDistance. A good question is

[2017-12-01 18:56] searchivarius commented on #217
I have to close this, b/c there's no data for reproducing this bug.

[2017-12-01 18:56] #217 closed

[2017-12-01 19:33] searchivarius commented on #170
Hi @kwangswei and @yurymalkov I eventually have implemented a fix: it doesn't make things worse and I can close this issue.

[2017-12-01 19:33] #170 closed

[2017-12-01 19:34] searchivarius commented on #222
I close it as it is consumed by a newer issue #253

[2017-12-01 19:34] #222 closed

[2017-12-04 02:22] yonromai commented on #254
Great to hear, thanks for the prompt answer!

[2017-12-04 02:22] #254 closed

[2017-12-04 02:26] yonromai commented on #255
Thanks for your answer @searchivarius!
Good to know - then I'm wondering if these methods should part of the visible Python API if they are not completely supported.

Would you mind developing a little bit more on that point?

[2017-12-04 03:56] searchivarius commented on #255
@yonromai fair comment. Not sure about len: I need to doublecheck, but the distance can still be computed if the data is **reloaded**. Well, it's a current deficiency, but we will try to fix this in the future. When this all started, it wasn't completely clear how indices will be saved, so adding indices involved some ad hoc implementations. I will need to do a unification in the next version: I w

[2017-12-04 06:42] leafjungle opened #256 "difference between Ann on "non-metric space " and "metric space""
When I read the manual: "there are fewer exact solutions for non-metric spaces".

I know the difference between "non-metric space " and "metric space", but it is hard to understand what difficult they bring to the ann search?

[2017-12-04 07:14] searchivarius commented on #256
Shortly, it is a much wider class of spaces with fewer nice properties.

[2017-12-04 15:13] elfring opened #257 "reserved identifier violation"
I would like to point out that identifiers like “[`_CMD_OPTIONS_H_`](https://github.com/searchivarius/nmslib/blob/b0d05cac24b51cdfac498bac6a09460428fe09f3/similarity_search/include/cmd_options.h#L18 "Update candidate")” and “[`__HASH_TABLE_HELPERS_H__`](https://github.com/searchivarius/nmslib/blob/24d7b4c71e269b518b1e1824ab455fe02f637d47/similarity_search/include/falconn/core/hash_table_helpers.h#

[2017-12-04 15:42] elfring commented on #175
This construct does not belong to [the programming language standard](https://stackoverflow.com/questions/1695807/why-isnt-c-cs-pragma-once-an-iso-standard "Why isn't C/C++'s “#pragma once” an ISO standard?").

[2017-12-04 16:23] searchivarius commented on #175
Hi @elfring great point and I am aware of this. This is why I haven't switched yet. However, the current C-way of simulating #pragama once is ugly and error prone. For example, copy-pasting a template space or method and forgetting to update these define names creates subtle problems. Besides, do you known any major compiler that doesn't support #pragma once? Clang, gcc, intel, and Visual Studio a

[2017-12-04 16:25] searchivarius commented on #257
@elfring I agree, perhaps, implementing #175 (although not exactly standard) would be a good way to get rid of these non-compliant defines.

[2017-12-05 11:51] leafjungle commented on #256
@searchivarius , thanks for your reply.

So non-metric space will make the accurate or recall much worse?

Or make the partitioning methods or LSH methods or Small world graph inaccurate? but why?

[2017-12-06 01:05] searchivarius commented on #256
@leafjungle the problem is that we have well-established methods only for a bunch of spaces: some L_p, cosine/inner products and partitioning methods for metric spaces. A recent addition is a ball-tree method for Bregman divergences. Some good results can be also obtained for kernelized distances. This is basically the list of spaces which have sufficiently nice properties.

Whenever, you don't ha

[2017-12-06 03:24] leafjungle commented on #256
@searchivarius
(1)  "some L_p, cosine/inner products and partitioning methods for metric spaces"
cosine space is non-metric space, right?  it does not meets the property:  d(x,y)=0 if and only if x=y.

(2)"it's not clear mostly how to devise good (accurate and fast) methods. There is also little empirical evidence as to which methods works in various ugly spaces."

Generally in many applications,

[2017-12-06 03:35] searchivarius commented on #256
(1) cosine is not metric, but it's a pre-metric "distance" if you use 1 - cos(x,y) as the distance value. It is also symmetric. It doesn't fully satisfy the triangle inequality though.

If you use k-means, k-means should make sense in the space of interest. In particular, it should be a vector space. For non-vector spaces, k-means is not even possible. You need to use e.g. k-medoid.

Yet, talking

[2017-12-06 09:33] leafjungle commented on #256
@searchivarius ,  1- cos(x, 2x) = 0 but x != 2x.

Any way, So nmslib mainly focus on the non-metric space ANN.   can it be applied to the metric space ANN?

In the manual, 5 classes of search methods are listed in Page 36.  Then which one is suitable for metric space and which one is suitable for non-metric space?

And I think the clustering search methods belongs to the "LSH methods"?

[2017-12-06 09:37] leafjungle commented on #256
The do you have any guidelines for choosing the suitable distance measurement for a given application, except the performance. ??

[2017-12-06 15:34] searchivarius commented on #256
Yes, of course it can be used for metric spaces. All non-metric space methods work for metric spaces as well. In the next version, we will focus on developing only few best methods, so people don't have to decide what to choose. Mostly, you are good with one of the four methods: VP-tree, NAPP, SW-graph, HNSW.

[2017-12-06 15:35] searchivarius commented on #256
PS: clustering methods are not LSH, although they can be used to build LSH-like indices.

[2017-12-06 15:43] searchivarius commented on #256
PPS: regarding the cosine distance, it is of course supposed to be used on a set of normalized vectors.

[2017-12-07 02:20] leafjungle commented on #256
@searchivarius  clustering methods are not LSH, although they can be used to build LSH-like indices.
-----
the clustering methods can be regarded as a LSH with a special trained hash function.  (it can also have the parameters such as hash table number/multi-probe search).

[2017-12-07 05:18] leafjungle commented on #256
"Yes, of course it can be used for metric spaces. All non-metric space methods work for metric spaces as well. ",  but theoretical why?

I mean,  if one distance measurement does not work very well, then we can just try another one,  and do not have to change the search method. right?

search method and distance measurement are two independent parts of ANN, right? Maybe I am not quite understand t

[2017-12-07 13:10] rozyang opened #260 "How to silently import nmslib?"
Importing nmslib in python outputs a lot of text messages. This looks not good in, e.g. Jupyter notebook. How can I import nmslib without showing those messages?

[2017-12-07 17:36] searchivarius commented on #256
@leafjungle for most methods there're no guarantees. A metric space is just yet another non-metric space that a method is applicable too. Even if you use methods with guarantees fro metric spaces, these guarantees are either weak/vague (as in the case of LSH) or the search methods are slow (e.g., metric trees). So, you better not worry about guarantees too much as you are screwed up any way.

If o

[2017-12-08 07:57] searchivarius commented on #260
@rozyang I need to double-check, perhaps, it just needs propagating dev to master.

[2017-12-08 17:08] #256 closed

[2017-12-08 17:15] searchivarius commented on #164
This should actually be nearly complete.

[2017-12-08 17:16] #116 closed

[2017-12-08 17:16] searchivarius commented on #116
can't reproduce

[2017-12-08 17:18] searchivarius commented on #78
It seems that being able to use the pointer to the distance function directly should be a sufficiently good fix.

[2017-12-08 17:21] benfred commented on #260
I think we need to bump the python version (like 1.6.3 -> 1.6.4) and then push the latest version to pypi. I'm guessing that people are still installing the version without the logging changes using pip (I see the changes in master anyways).

[2017-12-08 17:25] searchivarius commented on #48
In version 2, we will introduce several types of memory allocators (available to indexing methods, which will do memory allocations for data themselves) that will take care of

1. allocating
2. freeing
3. properly aligning memory

These allocators will allow several modes:
1. fully dynamic: can delete/add each object independently
2. static mmaped
3. static allocated
4. perhaps dynamically growing

[2017-12-08 17:28] searchivarius commented on #260
@benfred I am working on this! There would be also improvements in saving all types of indices for HNSW and data loading speed.

[2017-12-08 17:35] searchivarius commented on #9
It will be subsumed by #48

[2017-12-08 17:35] #9 closed

[2017-12-08 17:43] searchivarius commented on #78
This is subsumed by #34

[2017-12-08 17:43] #78 closed

[2017-12-11 20:15] searchivarius commented on #199
Hi @ducha-aiki , I think this is now fixed by PR #262
Note that with a new API calling freeIndex is not necessary. @benfred created this dummy method for backward compatibility. Memory will be claimed by a Python garbage collector. So for your benchmark you may want to call gc.collect() to see result. Here is a sample script (please, note that your way to create a data set array fails with Python3

[2017-12-11 20:15] #199 closed

[2017-12-13 08:09] helloGitHub1993 opened #263 "Issue: ./nmslib.so: undefined symbol: init"
I have already install nmslib by "pip" command in my cp. I want to use nmslib in another machine but i can't use "pip" command in it. So i put nmslib.so and my script in the same directory. My code is as follows:
run.sh:
` 1 #!/bin/bash`
` 2 export LD_LIBRARY_PATH=/opt/glibc-2.14/lib:$LD_LIBRARY_PATH`
` 3 python 1.py`

1.py:
`  1 #!/usr/bin/env python`
`  2 #coding=utf-8`
 ` 3 import sys`
 ` 4 sys

[2017-12-13 08:27] searchivarius commented on #263
Please, try to include the current directory into LD_LIBRARY_PATH. You can also use LD_PRELOAD I believe.

[2017-12-13 09:05] helloGitHub1993 commented on #263
I used `export LD_LIBRARY_PATH=/opt/glibc-2.14/lib:$LD_LIBRARY_PATH:/data10/cd1/gy/nmslib` and output is still the same:
`Traceback (most recent call last):`
`  File "1.py", line 11, in <module>`
 `   index = nmslib.init(method='hnsw',space='cosinesimil')`
  `File "/usr/local/python_2_7_6/lib/python2.7/ctypes/__init__.py", line 378, in __getattr__`
   ` func = self.__getitem__(name)`
 ` File "/usr

[2017-12-13 09:15] searchivarius commented on #263
It's a weird error, I am afraid you need to recompile the library on this machine.

[2017-12-13 09:39] helloGitHub1993 commented on #263
I use "pip" command to install the nmslib. And then i can get nmslib.so in lib64/python2.7/site-pachages/. Is that the cause?

[2017-12-13 09:45] searchivarius commented on #263
You previously reported that you cannot use pip

[2017-12-13 09:50] helloGitHub1993 commented on #263
I mean i used pip in machine A and got the nmslib.so. But now i want to use nmslib in machine B and i cannot use pip in B.

[2017-12-13 10:01] searchivarius commented on #263
Right this is what I thought, try to properly recompile please on machine B. It is in principle possible, but the environment should be the same. Same libraries, same OS, same version of Python and god knows what else may go wrong...

[2017-12-13 10:04] helloGitHub1993 commented on #263
OK.Thank you for your patience.

[2017-12-14 19:11] hjain689 opened #264 "Python wrapper crashes while retrieving nearest neighbors when M>100"
Hi,
I am working on a problem where I need to retrieve ~500 nearest neighbors out of a million points. I am using the python wrapper for HNSW method. The code works perfectly well if I set the value of parameter M <=100 but setting it greater than 100, the code crashes during retrieving nearest neighbors (no issues while building the model) with an "invalid next size" error. Any idea why this migh

[2017-12-14 19:26] searchivarius commented on #264
Well, ideally I would need a reproducible example. Is it possible to reproduce using some existing, perhaps, random data?

[2017-12-14 19:34] hjain689 commented on #264
sure, I'll try and create an example

[2017-12-16 19:28] hjain689 commented on #264
hi.. I have created an example. The data is slightly big (~800mb), my apologies for that. You can download the data from here - https://drive.google.com/open?id=1xq67SodKBZe_FMzMs1XfQCxBOpJ7v1KB
Following is the code that I am using to build the kNN model and test it. For the time being, I am finding the nearest neighbors of the points already present in the graph. The code crashes while querying

[2017-12-18 08:51] searchivarius commented on #264
Thank you, 800 MB is totally fine.

[2017-12-18 16:46] Burning-Daylight opened #265 "Fixed-radius near neighbors"
Is there a way to perform approximate near neighbors search within a given radius as opposed to the fixed k? Like radiusSearch in FLANN?

[2017-12-18 18:32] searchivarius commented on #265
Hi, we can do it, but basically only for VP-tree that works really well only in low dimensions. And AFAIK this is not for Python API.

[2017-12-18 20:09] Burning-Daylight commented on #265
Sorry, do you mean, that only for VP-tree it will work really well or that in the case of VP-tree it will work only in low dimensions? Do you think it will work worse than FLANN version for d=5-20?

[2017-12-18 20:50] searchivarius commented on #265
I mean that
1) Range search is supported only by a bunch of methods (although I do plan to extend graph-based search methods to support it)
2) It is not available to Python API.

Regarding comparison to FLANN: for d=5-20 it could be pretty efficient for many datasets, but I don't think it will beat FLANN.

[2017-12-18 20:50] searchivarius commented on #265
How essential is range search? Can you approximte it as k-NN search with k learned from data?

[2017-12-18 21:59] Burning-Daylight commented on #265
I guess it won't work because the k will be to point-specific.
Is the range search supported by the C++ API already? Where could I learn about it? Only the sources?

[2017-12-19 05:17] searchivarius commented on #265
@Burning-Daylight in this case, it won't.

We have sample apps: https://github.com/searchivarius/nmslib/blob/master/sample_standalone_app/sample_standalone_app1.cc#L241

[2017-12-19 05:22] searchivarius commented on #265
I am closing this, b/c there are related open issues: #117 and #130

[2017-12-19 05:22] #265 closed

[2017-12-19 13:00] hjain689 commented on #264
Just wanted to know if you were able to reproduce the error!!

[2017-12-19 14:53] searchivarius commented on #264
Hi @hjain689 I am playing with it, thanks!

[2017-12-20 05:08] searchivarius commented on #264
Hi @hjain689 I nearly nailed, but fixing could take time (it is a nasty thing). As a workaround you can use the following query parameters (add algoType = old):
[code]

[2017-12-20 05:26] hjain689 commented on #264
Hey @searchivarius thanks a lot! Does using algoType = old affect the performance(in terms of accuracy or time taken) in any way?
Do let me know when you fix the bug.

[2017-12-20 05:37] searchivarius commented on #264
@hjain689 for small efSearch  speed can decrease a bit, but not much, say 10-20%. If vectors are long say dim=300, the diff is rather small already.

[2017-12-23 11:31] hjain689 commented on #264
A few more questions, would be really helpful if you could please answer them -
1) Since HNSW starts with a random initialization, I was wondering if its possible to specify random number seed while training the hnsw graph? Basically I want to create multiple graphs with different random initializations
2) Which method do you think would be the best if my data is high dimensional sparse say millio

[2017-12-23 21:43] searchivarius commented on #264
@hjain689
1. Is in process
2. Regarding performance: could I try your data? In some cases NAPP with generated pivots could be better. In any case, I would love to see the data where HNSW doesn't perform well

Thank you!

[2017-12-23 21:57] hjain689 commented on #264
sure i'll send u the data

[2017-12-24 09:52] Fdhvdu opened #266 "#include"string.h" in distcomp_lp.cc"
Hello,
This is not bug.
I am merely curious about the Line 17 in distcomp_lp.cc.
https://github.com/searchivarius/nmslib/blob/master/similarity_search/src/distcomp_lp.cc#L17

Should it be `#include<string.h>` or `#include<cstring>`?

By the way, I cannot find any function which is related to `strcpy` or `memcpy` in this file.

[2017-12-24 10:34] searchivarius commented on #266
Thank you, it is a good reminder not to mix old-style functions. This include wasn't even needed. I committed a change to dev.

[2017-12-24 10:34] #266 closed

[2017-12-27 13:23] Fdhvdu opened #267 "replace LabelType with similarity::LabelType"
This line
https://github.com/searchivarius/nmslib/blob/develop/similarity_search/include/idtype.h#L41
should be replaced with
`#define EMPTY_LABEL  std::numeric_limits<similarity::LabelType>::min()`

Consider the following code
[code]

Not everyone will use `using similarity::LabelType;` or `using namespace similarity`.

[2017-12-28 18:07] searchivarius opened #268 "Better detection of CPU capabilities"
A good example of how to do this is here:
https://github.com/amallia/FastPFor/blob/671edc5e715fd98694c235d6c3e4bb23304617fa/cmake_modules/DetectCPUFeatures.cmake

[2018-01-07 05:00] searchivarius commented on #264
Ok, I think I fixed the issue with crashing. https://github.com/searchivarius/nmslib/commit/aa6816c5c98bf422fcf75d2d3b835d26f871f39a
I will fix the random initialization issue next.
BTW, @hjain689 feel free to share the data!

[2018-01-07 06:05] hjain689 commented on #264
thanks a lot! sorry I forgot about the data. Actually, you can directly download these from our repository page http://manikvarma.org/downloads/XC/XMLRepository.html
These are essentially multi-label learning datasets, for knn experiments you can ignore the label matrix and just take the feature matrix.

[2018-01-07 16:45] searchivarius commented on #264
@hjain689 great!
1) which data set was problematic?
2) what parameters did you try and what was approximately an outcome (recall and speed up)?
3) what is k in the k-nn search?
I need to know what my baseline is.
Thank you!

[2018-01-07 17:14] hjain689 commented on #264
I will send you a specific example where it was taking too much time and performance was not that good either.

[2018-01-07 17:55] searchivarius commented on #264
@hjain689 thanks, this will be very useful!

[2018-01-07 20:06] #264 closed

[2018-01-07 20:07] searchivarius commented on #260
It is, indeed, fine in DEV, it should be soon in the master and 1.7 release: I basically need to update the manual and some integration tests.

[2018-01-07 20:07] #260 closed

[2018-01-07 20:08] searchivarius commented on #57
This should be working now in the DEV

[2018-01-07 20:08] #57 closed

[2018-01-07 20:10] searchivarius commented on #119
This should now work for DEV.

[2018-01-07 20:10] #119 closed

[2018-01-07 20:29] searchivarius commented on #248
Ok, @rozyang this should be working in dev, but one needs to use a single thread for indexing.

[2018-01-13 11:20] hjain689 commented on #264
@searchivarius I have uploaded the sparse datasets at -
Training points(321K, 1.6M dimensional sparse) - https://drive.google.com/file/d/1aW4FmF46FsGMwi_AJzYJW8jD6yHtYO2u/view?usp=sharing
Test points - https://drive.google.com/open?id=115U3QrQUapmGv9mQJKYBFqGNRRCnp5Lk
The script I am using to find nearest neighbors is appended below. It is taking forever to train and the performance is not good as

[2018-01-13 17:47] searchivarius commented on #264
@hjain689 thanks! I tested a sample (100K data points and 10K queries) using our binary. It seems to be working really well for M=30, efConstruction100, and ef=250. I haven't tested Python bindings yet, but I wonder how do you test **the quality of the output**, i.e., what is the test script that checks quality?

[2018-01-13 17:49] searchivarius commented on #264
@hjain689 BTW, I think for best results you may need to shuffle data. This seems to be quite similar to the Wikipedia data: you get a lot of long entries in the beginning, but most of the entries are quite short. Whether shuffling helps or not, of course, is an empirical question, but it might.

[2018-01-13 18:01] hjain689 commented on #264
Ohk ... I am not doing that!
will do it but the training is taking more than an hour, is that expected?

[2018-01-14 05:15] searchivarius opened #269 "Create Python notebook with basic usage examples"

[2018-01-14 05:25] searchivarius commented on #264
Hi @hjain689 I haven't check if this helps or not. However, I do get Ok results (certainly not bad one) with a subset of your data. I checked the results against brute-force search (see the attached script) the accuracy is quite high:
[code]
Now, the following notes:
1. I use somewhat "lighter" indexing parameters and multiple threads for indexing. For your data set, you certainly don't need such

[2018-01-14 05:26] searchivarius commented on #264
Uuuups, sorry @hjain689 forgot to attach my version of your script.
[test_sparse.py.gz](https://github.com/searchivarius/nmslib/files/1629072/test_sparse.py.gz)

[2018-01-14 05:27] searchivarius commented on #264
Or simply copy-paste:
[code]

[2018-01-14 12:49] hjain689 commented on #264
Thanks a lot @searchivarius .. this is really helpful, will do some experiments on my side and let you know the performance
Thanks again :)

[2018-01-15 01:18] searchivarius opened #270 "Code style + documentation"
All core-methods should adhere to the guidelines (3rd party code and extras/baselines doesn't have to, it will be too much work to restyle everything this way):

1. Class names should be camel-case with the first letter upper-case.
2. Function names should be camel-case with the first letter lower-case
3. Variable names should follow the same conventions as functions
4. All major functions should

[2018-01-15 03:24] searchivarius commented on #246
@ijklr thank you for noting, the dev version seems to be working fine with clang.

[2018-01-15 03:24] #246 closed

[2018-01-15 03:25] searchivarius commented on #238
I am closing this one, b/c I cannot reproduce the issue.

[2018-01-15 03:25] #238 closed

[2018-01-15 03:26] #269 closed

[2018-01-15 03:44] searchivarius opened #271 "Alignment of optimized index in HNSW"
HNSW violates C++ alignment rules when building an optimized index. This might potentially cause crashing in some cases.
[code]

[2018-01-15 05:00] searchivarius opened #272 "Implementing more efficient versions of Renyi- and ab-divergence (for nice powers like 0.5)"

[2018-01-15 18:26] chapleau commented on #199
Hi,
just wondering if this fix will be available in a new version to be published on pypi soon (i.e. a matter of days) ? Or are we better off cloning and compiling develop for now ?
Thanks !

[2018-01-15 18:34] searchivarius commented on #199
@chapleau I can push it to pypy in a matter of days if you it's convenient (b/c all major fixes are done), but I won't be able to test the Windows and other OSes builds properly. Docs will also take a bit longer to update.
thanks!

[2018-01-15 18:52] chapleau commented on #199
Running Linux here so that'd be perfect. Thanks for the prompt response!

[2018-01-16 03:09] #272 closed

[2018-01-16 03:11] searchivarius commented on #121
Gathering all such tickets under the umbrella of #156

[2018-01-16 03:11] #121 closed

[2018-01-16 03:12] searchivarius commented on #250
Closing and referencing from the umbrella ticket #156

[2018-01-16 03:12] #250 closed

[2018-01-16 04:25] searchivarius opened #273 "Dealing with "slow" and "fast" distances in this version"
1. There could be one major space name + several sub-space selectors for equivalent distance functions.
2. auto will mean that there will be one selected on the benchmark result automatically.

[2018-01-17 23:12] gokceneraslan commented on #100
@davidanastasiu are you planning to put the code for L2Knng* and pL2Knng on Github? It'd be great to write Python wrappers for them as well.

[2018-01-17 23:22] davidanastasiu commented on #100
That's the plan, when I get a chance... Been busy with some other projects,
but I'd like to create a sparse NN library with pL2Knn, pL2AP, and Python
wrappers. In the meantime, L2Knng and L2AP (serial codes) are on my
website: http://davidanastasiu.net/software/l2knng/,
http://davidanastasiu.net/software/l2ap/.

On Wed, Jan 17, 2018 at 3:14 PM Gökçen Eraslan <notifications@github.com>
wrote:

[2018-01-29 02:06] searchivarius opened #274 "Figuring out why _mm_prefetch sometimes produces really strange crashes under Intel compiler"
Quite surprisingly the following lines in the method baseSearchAlgorithmV1Merge cause stable but misterious crash under Linux/icc:

[code]
Any slight modifications of this, e.g, commenting out just a single _mm_prefetch, or rewriting the code into the following:
[code]
totally resolve the issue. Strangely, it wasn't also to debug anything, b/c gdb with icc code produces very strange results (I pri

[2018-01-30 19:59] chapleau commented on #199
Hi @searchivarius , in the meantime would you recommend fetching the latest develop branch or is there a slightly older commit that'd be closer to future version 1.7 ?

[2018-01-30 21:09] searchivarius commented on #199
@chapleau sorry about the delay. I think the latest thing is ready, I am only working on integration tests.

[2018-01-31 04:44] searchivarius opened #276 "Integration tests for HNSW with optimized indices (not Python)"
When HNSW will be able to efficiently re-use our standard space functions, it will be possible to measure reduction in the number of distance computations (ImprDistComp). Hence, it will be possible to carry out integration tests. Currently, integration tests measure this characteristic and cannot be executed with HNSW building an optimized index.

[2018-01-31 16:19] Dronablo opened #277 "How to disable logging?"
Hi!
When using nmslib from Python I see lot of output like this:
[code]
I've tried playing with Python's "logging" module, but was unable to get rid of it.
Reproducible at linux and macos.

Is there any way to disable it?
May be it's better to disable it by default?

[2018-01-31 16:34] searchivarius commented on #277
Hi @Dronablo this is resolved in the dev version, but it's not propagated to master yet, sorry. BTW, there are also Jupyter notebooks with examples too:  https://github.com/searchivarius/nmslib/tree/develop/python_bindings/notebooks

[2018-01-31 16:34] #277 closed

[2018-02-02 10:31] GreenSlime96 opened #279 "Python HNSW Segmentation Fault"
Hi,

I am trying to use this library to perform KNN on approximately 13 million SIFT vectors, with the expectation that more will be required in the future.

I've been getting segmentation faults running this code with the full 13 million vectors, and it faults when I try it with 10 million too.

The machines I test on are running Ubuntu 16.04, Python 3.5, with 32GB of RAM and a 6C/12T core i7. An

[2018-02-02 11:14] searchivarius commented on #279
Hi @GreenSlime96 could you post the Python code that you use? Thanks!

[2018-02-02 14:08] GreenSlime96 commented on #279
Hi @searchivarius,

Apologies for the lack of detail, was very early in the morning when I received notification of the segfault. I am working with circa 15 million 128-dimensional SIFT vectors.

[code]

I don't get past the point of creating optimised indexes.

Thanks for looking into this.

[2018-02-02 14:09] searchivarius commented on #279
@GreenSlime96 thanks, no worries! Also which version do you use? master,  latest from PiPy, or dev?

[2018-02-02 14:50] GreenSlime96 commented on #279
I'm using the version available on pip for Python 3:

[code]

I'm currently running more tests, the indexes seem to work for 5M so far. I am running the 15M again and will post a more descriptive error output later when it's done.

[2018-02-02 15:12] searchivarius commented on #279
@GreenSlime96 how much memory does 5M use on your machine?

[2018-02-02 19:11] GreenSlime96 commented on #279
@searchivarius I saved the indexes onto disk and the memory consumption for 5M is 3.3G

[2018-02-02 19:29] searchivarius commented on #279
@GreenSlime96 it can be a bit misleading, could you see how much the process uses? Python adds its own footprint as well and there's currently some other source of unnecessary memory duplication :-( BTW, for most purposes efConstruction=100 is good enough. using efConstruction=100 makes things much faster.

[2018-02-02 23:27] GreenSlime96 commented on #279
The process uses 3.616GB of memory, after I load the index using `loadIndex('5M.hnsw')`. Unfortunately the process was killed when testing with the 15M randomly-generated 128d vectors. I will try it with your parameters, I'm basing them off the ann-benchmarks for SIFT.

I am curious if it will be trivial to add l2-support for 8-bit unsigned integers -- the SIFT vectors are 8-bit 128d and I think a

[2018-02-03 02:15] searchivarius commented on #154
Integration tests for FALCONN crash someplace in FALCONN code, although I cannot reproduce this when I ran FALCONN in a standalone mode.

[2018-02-04 05:19] searchivarius commented on #279
Hi @GreenSlime96 thanks a lot for the detailed information! I think I know what's happening. I am pretty sure it's a memory issue. The older version uses malloc without checking it's return value. :-( You can try building a non-optimized index with the additional option skip_optimized_index=1. The retrieval speed will be affected but not by a lot. In the future, we will still be able to build the

[2018-02-04 05:55] searchivarius commented on #199
@chapleau we do have it now in pypi repository.

[2018-02-04 11:27] GreenSlime96 commented on #279
Thanks for the suggestion @searchivarius. Right now I've saved the Numpy array onto disk, and load it up within the `addDataPointBatch`, so something like this `addDataPointBatch(np.load('features')`. I think the memory overhead with this is insignificant as (I believe) Python GCs the array once the function-call returns. I could give it a shot.

Regarding SIFT. I've been looking into other implem

[2018-02-04 21:14] searchivarius commented on #279
Hi @GreenSlime96 regarding the files. Perhaps, Python collects memory. You may want to double-check though. I think it might be helpful to do two things:
1) Use mmap_mode in np.load
2) Explicitly call the garbage collector.

Regarding SIFT, it is possible. Actually, if this could be useful, I would rather add it now (it's not much work). One catch though that with this kind of space there will be

[2018-02-05 00:55] GreenSlime96 commented on #279
Hey @searchivarius, thanks so very much for the excellent input. I noticed that PyPi has updated to 1.7, which I tried earlier. Now this results in (without skip_optimised_index = 1):

[code]

Strangely enough I've tried adding `skip_optimised_index = 1` to the latest index-creation, however it seems to always be killed by the OS for taking too much memory. I am currently investigating this (kille

[2018-02-05 13:37] searchivarius commented on #279
@GreenSlime96 SIFT has always 128 elements, right?

[2018-02-05 14:03] GreenSlime96 commented on #279
Yep, that's right. I think you were right in that it's a memory issue, I don't get segmentation faults when trying to build indexes now. Will see if I can get hold of more memory.

[2018-02-06 15:42] searchivarius commented on #279
@GreenSlime96 ok then, you will need a bit less of it with L2sift. Hold on tight!

[2018-02-06 23:34] GreenSlime96 commented on #279
@searchivarius Glad to hear this, thanks so much for your invaluable advice here :-) It's no rush, I managed to get the optimised index working on all 15M vectors using a machine with much higher memory. I do look forward to using the uint8-optimised version once this project expands to a wider coverage though, as the lower memory-requirements will definitely be useful.

[2018-02-07 13:14] rbrthogan commented on #214
Just gonna add my +1 to this issue. Would be create to not need to maintain separate structure to interpret your ids

[2018-02-07 14:58] searchivarius commented on #214
@rbrthogan but that is just a couple of lines in Python. And what about people who want integer IDs?

[2018-02-07 15:16] rbrthogan commented on #214
@searchivarius sure, not at all suggesting that integer ids be replace, only to extend to allow strings. I know it is easy to work around, but adding this flexibility would make the index API much nice in some situations.

Not urgent.

Thanks for the work on a great library :)

[2018-02-07 17:46] searchivarius opened #280 "Implementing a space efficient SIFT/L2 space"
We can store each SIFT vector using only 128 bytes.

[2018-02-07 17:58] searchivarius commented on #279
Hi @GreenSlime96 no worries, I actually want this to be done ASAP while I am working on a new release. Here's a new ticket: ##280. I would rather not make an optimized index for the SIFT/L2 space, so the search speed is somewhat worse, but space savings are nice (and index construction is faster). So for M=20 and SIFT I get a 2x reduction in memory use.

This is all currently done at the C++ level

[2018-02-07 17:58] #279 closed

[2018-02-08 04:25] searchivarius opened #282 "Python API: reading/writing data of complex structure"
Currently for all vector space objects are created using the following way:
[code]
This would work only for simple spaces, which don't do any precomputation. More appropriately, we need to do the following:
1) After the space is created for the datatype ``DATATYPE_DENSE_VECTOR`` we need to check that it is a subclass of VectorSpace
2) Create the object using the function CreateObjectFromVect. Big