[2018-02-08 05:37] searchivarius opened #283 "Testing for space efficient SIFT/L2 space"
Three things need to be done:
1) An integration test for the C++ test_integr
2) Additional test cases for Python integration tests
3) Run an older version of ann_benchmark for both old and new SIFT space.

[2018-02-08 05:39] searchivarius commented on #279
Hi @GreenSlime96 please note that I have updated the Python bindings code, so if you create a pull request, make sure you do this from the latest develop branch. BTW, these are changes for the new space efficient SIFT space. It seems to be all working. However, I am going to carry out a more thorough test tomorrow. A sample Python notebook is here:
https://github.com/searchivarius/nmslib/blob/deve

[2018-02-10 02:31] calz1 opened #284 "Out of memory while loading index"
I am trying to load an index from file within an AWS Lambda function. Right before the process abruptly terminates, I see:

Does this mean it tried to allocate 2.6TB of memory? I only have about 24,000 IDs in my index.

[2018-02-10 03:01] searchivarius commented on #284
Please provide details: version, type of data, how the index was created and loaded to reproduce this.
thanks!

[2018-02-10 03:01] #282 closed

[2018-02-10 03:02] #280 closed

[2018-02-10 03:02] #164 closed

[2018-02-10 03:12] calz1 commented on #284
Thanks for the quick response!

I am using v1.7 because I recently created a new virtual environment. I am not sure if that is relevant but this problem only started happening in the last week so it might be related.

The data is 24K records with the 1D vectors being ~121 items in length.

[code]
The above works fine, because I see:

###Querying
[code]

[2018-02-11 04:04] mug31416 commented on #284
Are you sure you load the index created by version 1.7? In your example you save to /tmp/nms.idx and load from /tmp/index.idx. 1.7 index isn't binary compatible with older index versions.

[2018-02-11 04:05] searchivarius commented on #284
Hi @calz1 are you sure you load the index created by 1.7? From your code you save to /tmp/nms.idx, but load /tmp/index.idx

[2018-02-11 12:21] calz1 commented on #284
That was it! I actually have a VM building the index separately and it was one nmslib version back. As soon as I pip upgraded it, the error went away. Thanks for the help.

Maybe to prevent other dummies like me from running into this, you could put a version identifier into the index file and throw an exception if someone tries to load an incompatible index file?

[2018-02-11 18:48] searchivarius commented on #284
@calz1 great thanks for checking. This is unfortunately a remind that our serialization process is quite bad, we will need to fix it some day.

[2018-02-11 18:48] #284 closed

[2018-02-11 18:50] searchivarius opened #285 "Improve serialization process"
The current serialization process is quite adhoc and it can be problematic. For example as in the issue #72 there was no binary compatibility between  versions, but we didn't detect this situation. There are multiple other issues with the current ad hoc approach. So, we need to implement some better serialization practices. I would rather not use existing libraries (unless header-only), b/c we I w

[2018-02-13 11:38] Aljaksandr opened #286 "Different results in 1.6 and 1.7 versions"
When querying in index with assigned to each data line specific id, the output in 1.7 version is different from the output in 1.6 version. In version 1.7 query returns just an index of found line. The sample of code:

[code]
It returns:
 [123] [ 0.] - in 1.6 version
 [0] [ 0.] - in 1.7 version

How to fix this issue in 1.7 ver?

[2018-02-13 13:05] Aljaksandr commented on #286
Pushing data with
[code]
works correctly. It returns [123] [ 0.]

[2018-02-13 16:21] searchivarius commented on #286
@Aljaksandr so IDs are not stored when you add addDataPoint**Batch**?

[2018-02-13 17:07] Aljaksandr commented on #286
@searchivarius I suppose IDs aren't stored via addDataPointBatch

[2018-02-13 17:35] searchivarius commented on #286
@Aljaksandr it's certainly possible, but the code to store them is there. It can be of course broken, I will soon investigated this, thanks a lot for reporting!

[2018-02-14 03:08] searchivarius commented on #286
Hi @Aljaksandr thank you for reporting. The recent fix by @benfred seem to resolve the issue. The bug-fix is available in 1.7.1 (pip can install this version).

[2018-02-14 03:08] #286 closed

[2018-02-14 04:44] zommerfelds opened #288 "Question: Product Quantization"
Hi,

I'm not sure how this fits with all the methods you guys have implemented but I was curious if you support methods based on Product Quantization?

[Product quantization for nearest neighbor search](https://lear.inrialpes.fr/pubs/2011/JDS11/jegou_searching_with_quantization.pdf)
[Locally Optimized Product Quantization for Approximate Nearest Neighbor Search](http://image.ntua.gr/iva/files/lopq

[2018-02-14 08:02] Aljaksandr commented on #286
Thanks a lot for a fast fix. )

[2018-02-14 12:17] Dronablo opened #289 "Segfault on empty index query in version 1.7.1 @ MacOS"
[code]

[2018-02-14 18:05] searchivarius commented on #288
Hi @zommerfelds we don't support quantization approaches.

[2018-02-14 18:05] #288 closed

[2018-02-15 00:06] Botship opened #290 "error mmintrin.h included without enabling WMMX/WMMX2 instructions"
I am getting this error. How can I resolve this? where would I enable these instructions?

[ 45%] Building CXX object src/CMakeFiles/NonMetricSpaceLib.dir/method/hnsw.cc.o
In file included from /home/pi/dev/nmslib/similarity_search/src/method/hnsw.cc:30:0:
/usr/lib/gcc/arm-linux-gnueabihf/6/include/mmintrin.h:28:2: error: #error mmintrin.h included without enabling WMMX/WMMX2 instructions (e.g. -m

[2018-02-15 00:11] searchivarius commented on #290
ARM! oh-oh
It's probably not impossible to make it work on ARM, but I don't have a host to test this. In particular, Amazon cloud doesn't have any ARM CPU.

[2018-02-15 03:16] searchivarius commented on #290
@Botship I think it would work. Thanks!

[2018-02-15 17:08] GreenSlime96 commented on #283
Hi @searchivarius ,

I've tested 1.7.1 on the same dataset as used with the normal implementation and found no decrease in memory consumption when initialising the index with the following parameters:

`index = nmslib.init(method='hnsw', space='l2sqr_sift', dtype=nmslib.DistType.INT, data_type=nmslib.DataType.DENSE_UINT8_VECTOR)`

The space savings are noticeable on the saved index file --- 8.7GB

[2018-02-15 17:14] searchivarius commented on #283
Hi @GreenSlime96 thanks for testing? The size of the index is smaller b/c the new version doesn't save data. Unfortunately, data has to be reloaded separately. Regarding the memory consumption: what is the value of M that you use?

[2018-02-15 17:17] GreenSlime96 commented on #283
Oops, didn't mean 'tested' per-se, but rather experimented it with :-)

Both indices were created using the same parameters: `M=20, post=2, efConstruction=400`

[2018-02-15 17:31] searchivarius commented on #283
Hi @GreenSlime96 this is interesting. For one thing, memory consumption should have reduced dramatically just because in this mode the code doesn't create an optimized index.

For example, for 1M of SIFT vectors, I see the index size is nearly 700MB, the data size is 400MB. When the index is created the total memory consumption is about 700+700+400 = 1800MB.

For the more compact scenario, the ind

[2018-02-15 23:35] Botship commented on #290
Thanks, could I reach out to you directly on your @cs.cmu.edu address? Will send email.

[2018-02-16 00:37] searchivarius commented on #290
Hi @Botship yes, sure.

[2018-02-16 00:52] Botship commented on #290
Sent. Looking forward to your great support on this!

[2018-02-16 01:26] GreenSlime96 commented on #283
Hi @searchivarius, I will assess it with 1M SIFT vectors tomorrow. Right now I am using 13,196,057 SIFT vectors to test both these models:

l2sqr_sift memory usage: 8623MB
l2 memory usage: 9433MB

So they are very similar in size, although l2sqr_sift is slightly smaller.

[2018-02-16 13:46] Aljaksandr opened #291 "Python: program is hanging when deleting nmslib object in child thread"
Hi there.
Suppose I've found a bug in multithreaded usage of nmslib objects. When attempting to delete an instance of nmslib index in a child thread the program freezes. The code to reproduce that bug:
[code]

The output:
[code]

[2018-02-16 14:01] searchivarius commented on #291
Hi, one can have only one library object per program.

[2018-02-16 14:43] Aljaksandr commented on #291
Yes, but there is only one object which each time before reinitialization is released and deleted.

[2018-02-16 14:46] Aljaksandr commented on #291
There is no problem to reinitialize (with deleting of nmslib object instance) in main thread. But the problem is in attempting to do that in child thread

[2018-02-16 17:58] benfred commented on #291
Thanks @Aljaksandr ! I've managed to replicate the problem, I love bug reports with simple working examples =).

Looking at stack traces and it looks like both threads are trying to acquire the GIL, and deadlocked because of it:

[code]

The issue is that I've added a debug log statement here https://github.com/searchivarius/nmslib/blob/master/python_bindings/nmslib.cc#L351 (for tracking down anot

[2018-02-16 18:20] benfred commented on #291
Fix is here https://github.com/searchivarius/nmslib/pull/292 - and I verified with the test script here that this works. Thanks again!

[2018-02-18 22:57] searchivarius commented on #291
Thank you @benfred ! @Aljaksandr I have pushed all the changes to the master and uploaded a new PiPy version. Could you try an updated one?

[2018-02-19 00:55] benfred commented on #291
Changes look like they are working for me! Previously the build on ann-benchmarks was hanging on nmslib (https://travis-ci.org/erikbern/ann-benchmarks/builds/342479957), but with this fix pushed out it finished succesfully (https://travis-ci.org/erikbern/ann-benchmarks/builds/343165955).

[2018-02-19 02:36] asdspal opened #293 "getting a bunch of compilation error while installing nmslib's python bindings on amazon AMI"
I'm trying to install nmslib on my amazon ec2 instance. I had to manually link `cc1plus`. I'm getting errors like this
`cc1plus: error: unrecognized command line option ‘-mno-sha’`

gcc - version : 4.8.5

Any ideas how to resolve this?

[2018-02-19 02:40] searchivarius commented on #293
Which Amazon AMI instance?

[2018-02-19 02:47] asdspal commented on #293
I'm using Deep Learning AMI (Amazon Linux) Version 4.0 - ami-fb0f8b83

[2018-02-19 03:29] searchivarius commented on #293
And how do install the library? pypi, local build, etc?

[2018-02-19 03:34] asdspal commented on #293
using pip. Right now I'm trying to update the gcc and see if it resolves the error.

[2018-02-19 03:39] searchivarius commented on #293
Please, try to install it locally. First, do
cmake .
make -j 10
Then try to run
sudo python build install
from python_bindings
AFAIK, it is hard to make ptyhon setup tools to work everywhere :(

[2018-02-19 03:39] searchivarius commented on #293
PS: git clone ...
before doing any of this.

[2018-02-19 06:56] Aljaksandr commented on #291
Thank you @benfred, @searchivarius. Looks like this bug is fixed. Works well in my environment ) Many thanks again.

[2018-02-19 08:05] Dronablo commented on #289
Rechecked version 1.7.2: reproducible at
MacOS 10.13.1 + python 3.6.3
`Segmentation fault: 11`
Linux 3.10.0-693.17.1.el7.x86_64 + python 3.6.4
`Ошибка сегментирования (core dumped)`

Trace from linux corefile, if someone need it:

[code]

[2018-02-19 13:31] #291 closed

[2018-02-19 14:22] searchivarius commented on #289
Thanks, I will check it out. I can't imagine anyone wanting to run queries on an empty index though :-)

[2018-02-20 06:14] asdspal commented on #293
solved it. My system had three versions of gcc (4.8.5, 6.2, 7) and default was gcc-7. When I changed it to 4.8.5, I was able to compile and install the nmslib. Thanks for your help

[2018-02-20 06:30] searchivarius commented on #293
Hi @asdspal thank you for taking the time to investigate it! This was really helpful.

[2018-02-20 06:30] #293 closed

[2018-02-22 06:57] leafjungle commented on #73
@searchivarius ， Great.  is there any example to add new data to exist index by c++?

[2018-02-22 12:23] saj1919 commented on #172
Any update on this issue ... I have around 2 million entries and trained with default parameters, with K=100, I am getting less than 100 similar items. Also, not sure about meanings of parameters which have to pass in the dict. How they affect the outcome. Regardless, if we need k similar items then we should be getting k items only. Let us know.

[2018-02-22 14:30] searchivarius commented on #73
Hi @leafjungle here it is: https://github.com/searchivarius/nmslib/blob/master/test_batch_app/test_batch_mod.cc
HNSW, unfortunately, doesn't support batch deletion and addition yet, only SW-graph.

[2018-02-22 17:14] searchivarius commented on #172
Hi @saj1919 I haven't looked into this yet, perhaps, it's time to do. Can you tell me a bit more about your data and indexing process:
1) data dimensionality?
2) do you know what recall do you get?
3) efConstruction ?
4) M?
5) Do you use post = some number?

[2018-02-22 17:23] cibic89 opened #294 "FEATURE REQUEST: Distance metric weighting"
Is it possible to use distance metric weighting if using l1, l2, or p norm ?

[2018-02-22 17:26] searchivarius commented on #294
Hi @cibic89 this requires extending a library and implementing a new "space".

[2018-02-24 06:56] ubear commented on #294
@searchivarius
Hi, I do not find the doc about how to use `space` and the param of any `space`, where could I find the doc about space/distance method?
Thanks.

[2018-02-24 16:31] searchivarius commented on #73
@leafjungle not HNSW, SW-graph only. Making HNSW dynamic isn't impossible, but I haven't done this yet.

[2018-02-24 18:01] #263 closed

[2018-02-24 18:06] searchivarius commented on #294
Hi @ubear info on spaces is the manual (just skip all the installation stuff). It's not fully up to date, but kinda close: https://github.com/searchivarius/nmslib/blob/master/manual/manual.pdf
post=0 means shortest indexing time
post=1 and post=2 means some postprocessing of the index which leads to better performance, but at the expense of longer indexing.

[2018-02-24 21:45] mgwizdala commented on #73
@searchivarius but even for sw-graph, it seems to be impossible to add new point batch from python binding without calling createIndex.
Any idea how to do this without rebuilding the whole index? (again from python binding)

[2018-02-24 21:56] searchivarius commented on #73
@mgwizdala this is correct, Python bindings don't support this.

[2018-02-26 06:14] ubear commented on #294
@searchivarius
thanks.
I have another question. if I want to use L2 space, but sort the search result by asc, how to do it ?

[2018-02-26 06:18] searchivarius commented on #294
@ubear asc? do you mean finding the farthest neighbor?

[2018-02-26 06:25] ubear commented on #294
@searchivarius
I'm sorry that I have mistaken it.
Thank very much!

[2018-02-26 06:37] searchivarius commented on #294
@ubear no worries, but I still didn't get your question :-)

[2018-02-26 08:56] ubear commented on #294
Well, maybe u can refer to https://arxiv.org/pdf/1405.5869.pdf about Chapters  3.3.
@searchivarius

[2018-02-28 06:03] searchivarius commented on #294
@ubear we support for inner product spaces, but eventually we sort results in the order of their ascending distance, because the actual dissimilarity we use is the *negative* inner product. So, I still don't understand what you ask me about.

[2018-03-02 16:59] psarahdactyl opened #295 "problem compiling on windows"
I am installing using pip3 and keep getting the following error when setup.py is running.

error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\VC\\Tools\\MSVC\\14.11.25503\\bin\\HostX86\\x64\\cl.exe' failed with exit status 2

[2018-03-05 19:19] searchivarius commented on #295
Hi @psarahdactyl could you tell a bit more about your Visual studio  setup (i.e., what's the version)? Do you see additional errors? cl.exe is a compiler.

[2018-03-06 22:56] psarahdactyl commented on #295
I am using Visual Studio Community 2017. I am using anaconda to create environments for different projects. I am using Python 3.6.4. It runs setup.py and there are a lot of C++ warnings that show up, and among them I see a few errors like:

And then I get the cl.exe one at the end.

[2018-03-08 09:15] lzuwei opened #296 "Question about incremental addition for sw-graph and hnsw"
Does this 2 models support incremental additions of new items to created indexes. If so how will knn search performance change with new items?

Any advise is appreciated!

[2018-03-08 14:04] searchivarius commented on #296
The model supports, but software doesn't fully support. For SW-graph, though you can use C++ API do do **both** insertions and deletions:
https://github.com/searchivarius/nmslib/blob/master/test_batch_app/test_batch_mod.cc
The effect on performance isn't clear:
1) The accuracy seems to be quite stable if you delete something and add something.
2) When you add data points efficiency generally decre

[2018-03-08 14:04] #296 closed

[2018-03-08 16:15] JoshuaBeard opened #297 "Manual v1.5 Section 2.6 out of date"
The Manual v1.5 contains some presumably out-of-date information. It states that "To build bindings for dense vector spaces... build the library first. Then, change the directory to `python_vect_bindings` and type...".

A quick search showed me that there is no directory called `python_vect_bindings` in the `master` or `develop` branches. I know that this manual does not yet reflect the current st

[2018-03-08 16:26] searchivarius commented on #297
It's not just some, it's a lot and we state it :-). There is a separate ticket for this to update/simplify the manual. But bindings have now a decent description in the Wiki: https://github.com/searchivarius/nmslib/tree/master/python_bindings

[2018-03-08 16:26] #297 closed

[2018-03-12 17:47] searchivarius commented on #295
@psarahdactyl thank you for the information! sorry, still hasn't gotten to fix this Windows stuff.

[2018-03-15 18:01] rbrthogan opened #298 "Use getDataPoint and getDataPointQty on loaded index"
The functions `getDataPoint` and `getDataPointQty` work as expected when I am creating an index from scratch, but if I save the index to disk and load in different session `getDataPointQty` returns 0, and `getDataPoint` throws and error i.e. calling
[code]
gives
[code]

Any ideas? or is this a known limitation of saving/loading

[2018-03-15 18:05] searchivarius commented on #298
Currently, these are mostly meta-indices (so, yes, it's the limitation). You have to reload data to get data points, see, e.g., here: https://github.com/searchivarius/nmslib/blob/master/python_bindings/notebooks/search_dense_nonoptim.ipynb
At some point, I play to make saving function to save data as well (as many people expect), but not in the current version.

[2018-03-15 18:05] #298 closed

[2018-03-15 18:08] rbrthogan commented on #298
ok thanks for the quick response @searchivarius

[2018-03-15 18:09] searchivarius commented on #298
@rbrthogan no problem, hopefully, we will fix in the next major release.

[2018-03-17 09:31] zpmmehrdad opened #299 "Add a feature to the exists index"
Hi,
How can I add a feature to exist my index in python?

[2018-03-17 22:54] searchivarius commented on #299
Hi @zpmmehrdad if you are asking about increasing dimensionality of input vectors, this is not possible. Furthermore, I don't think it's worth a support. However, one can use sparse vectors with the large enough dimensionality. Please, use https://gitter.im/nmslib/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge for these kind of discussions. Thank you!

[2018-03-17 22:54] #299 closed

[2018-03-18 03:19] zpmmehrdad commented on #299
Hi @searchivarius, Thanks for response in fact my problem is that i created a index with 10,000 features and now I wanna add another feature to the index.i don't want to create an index again.is it possible?

[2018-03-18 03:48] searchivarius commented on #299
@zpmmehrdad unfortunately, it is not, sorry. It is also not clear how to include additional features. Adding a single feature can change a lot.

[2018-03-18 04:42] zpmmehrdad commented on #299
So what can I do?
I have a large dataset almost 50,000,000 records and every day it's getting big.it's mean I have to create an index every day!

[2018-03-18 05:01] searchivarius commented on #299
Hi @zpmmehrdad I can feel your pain, but there is really no way to do this. Again, remember that adding a single feature can change everything. How do propose to deal this issue in a generic fashion?

[2018-03-18 05:26] zpmmehrdad commented on #299
Hi @searchivarius can I merge several indexes into one?
in your opinion what is the best solution for my problem?
Thnaks

[2018-03-18 05:35] searchivarius commented on #299
@zpmmehrdad in principal it is possible, but we don't support it and doing so properly is an open research problem :-)

[2018-03-18 06:45] yurymalkov commented on #299
@zpmmehrdad I wonder, do you mean you what to append new data, not features (changing number of features =  changing dimensionality of the vectors)?

[2018-03-18 11:57] zpmmehrdad commented on #299
Hi @yurymalkov I mean, I have a large dataset of vectors about 50,000,000 (each record is 4096 dimension) and I want to create an index once and after that, I add another feature to the index because my dataset is growing every day. I understood that I should create an index every time.
what should I do?

[2018-03-18 23:25] searchivarius commented on #299
Hi @zpmmehrdad we don't currently support *ANY* updates, except for SW-graph (which is slower than HNSW). However, we are both quite confused what you consider a feature. A feature is usually one vector dimension, but your understanding is, apparently, different.

[2018-03-24 00:44] icarocd opened #300 "loadIndex does not work for sparse vectors"
After a HNSW index for sparse vectors is saved, it can not be loaded. Function loadIndex always produces segmentation fault.
Below I provide an example.
I am using Ubuntu 16 LTS, python 3.5 and nmslib 1.7.2.

import numpy
import scipy.sparse as sparse
import nmslib

def init_index():
    return nmslib.init(method='hnsw', space='cosinesimil_sparse', data_type=nmslib.DataType.SPARSE_VECTOR)
    #ret

[2018-03-24 21:25] searchivarius commented on #300
Hi @icarocd sorry this is a feature in a sense. Non-optimized indices are only meta-indices you have to recreate data points
[code]
I checked it works this way for me, but crashes with your script.
Please, refer to this notebook for further details: https://github.com/searchivarius/nmslib/blob/master/python_bindings/notebooks/search_sparse.ipynb

[2018-03-24 23:21] icarocd commented on #300
I did not understand why it was closed. Don't you see it as a bug? loadIndex does not work. Recreating the index is not the intent. Is there any workaround for now? I have tried to use the pickle module to dump and load serialized index but it does not work either.

[2018-03-24 23:29] searchivarius commented on #300
Hi @icarocd please add ``indexB.addDataPointBatch(data)`` before loading the index. It is not the full index, it's the meta-index that comes without data. You need to **re-load** the data before initialization. See, the attached script. It works without crashing.
[test.py.zip](https://github.com/searchivarius/nmslib/files/1844874/test.py.zip)

[2018-03-26 15:33] psarahdactyl commented on #295
No worries, thanks for looking into it when you have the time!

[2018-03-27 16:07] Dronablo opened #301 "Zeroed len() of loaded indexes."
Hi!

When I try to overcome #289 I use len(index).
But if I save and then load same index, it gets len(index)==0, despite of it is actually non-empty and completely working.

    import numpy as np
    import logging
    logging.basicConfig(level=logging.DEBUG)
    import nmslib as NMSLibIndex

    print('nmslib version {}'.format(NMSLibIndex.__version__))

    index1 = NMSLibIndex.init(method='hn

[2018-03-27 20:07] icarocd commented on #300
It works this way, thanks. The current problem I see is that the index, to be fully reused from the file, needs to be created with the exact same configs and also the train data must be available.
Ideally, a unique call, such as nmslib.load('path'), would be preferable, but this requires the file to also store all metadata.

[2018-03-27 20:09] searchivarius commented on #300
@icarocd I can agree more. Poor design choices made for the sake of expediency.

[2018-03-28 13:14] icarocd opened #302 "Jaccard to method HSNW for sparse features"
Hi,

I want to know if HSNW provides Jaccard (similarity or distance, does not matter), besides cosine, for sparse features.
There are scenarios in which Jaccard outperforms.

Python notebooks provided show the following metrices: l2, l2sqr_sift, cosinesimil_sparse.

According to space_sparse_scalar.h, the following metrices seem to be implemented, or in preparation, to sparse features:
#define SP

[2018-03-28 14:50] searchivarius commented on #301
@Dronablo ok, I will check this out. Of course, it's a bug, but as a workaround it's easy to track which indices are empty or not using additional data that store elsewhere.

[2018-03-29 17:44] baklazan commented on #73
Hello,

I'm currently trying to implement dynamic insertion in HNSW. After reading the code of class `Hnsw<dist_t>` a little, I have following question:

What is the purpose of `data_rearranged_`? Does `data_rearranged[i]` differ from `ElList_[i]->getData()`?

I would like to get rid of `data_rearranged_` as it prevents me from relocating `data_level0_memory` (`data_rearranged_` becomes invalid af

[2018-03-29 17:46] searchivarius commented on #302
A more detailed description of spaces is in the manual (starting from p. 29) https://github.com/nmslib/nmslib/blob/master/manual/manual.pdf:

However, Jaccard isn't covered there. But it is supported: https://github.com/nmslib/nmslib/blob/master/similarity_search/include/space/space_sparse_jaccard.h

The difference between sparse fast and slow versions is that the fast version uses a very efficien

[2018-03-29 17:48] searchivarius commented on #73
@baklazan there are two types of indices. One that uses data_ only. It is actually dynamic already. You can add elements to data_ and just call the add() function. It's just not visible to outside API. Buuut, there is also an optimized fully-static version of the index, which uses on the data_rerranged. If you set skip_optimized_index flag to 1, this static version of the index is never created.

[2018-03-29 18:32] baklazan commented on #73
Yeah, I already did that (I also resized `VisitedList`s in `visitedlistpool`).
But I'd like to make the optimized index dynamic as well, if possible.

[2018-03-29 18:38] searchivarius commented on #73
@baklazan it's ether static and fast or dynamic and somewhat slower. To update the static index incrementally, you have to implement some sort of an efficient merge. I wouldn't bother about this. I think people who need truly and fully dynamic indices can bite the bullet and use a 20-30% slower version of HNSW.

If the retrieval speed is paramount, but you still need to update the data, you would

[2018-03-29 18:41] baklazan commented on #73
@searchivarius Ok, thank you.

[2018-03-30 23:36] icarocd commented on #302
jaccard_sparse did not work to me, v1.7.2. Segmentation fault between prints 1 and 2 in code below:

import numpy
import scipy.sparse as sparse
import nmslib

data = numpy.random.randn(100, 10).astype(numpy.float32)
data = sparse.csr_matrix(data)

indexA = nmslib.init(method='hnsw', space='jaccard_sparse', data_type=nmslib.DataType.SPARSE_VECTOR)
print(1)
indexA.addDataPointBatch(data)
print(2)
in

[2018-03-31 02:53] searchivarius commented on #302
aaargh, it won't work this way, sorry. It is a generic space where you can pass data points only in the string format. I will create a Python notebook. We have an example for string-based data representatoins buried in the python_bindings directory, but it's clearly quite difficult to find.

[2018-04-02 07:44] shuitai opened #304 "how to integrate into search engine, such as Elasticsearch?"
Hi~

I have a question, could you tell how to integrate into search engine,  such as Elasticsearch?
Expect your feedback!

[2018-04-02 14:13] searchivarius commented on #304
I am sorry, I do not understand the question. Also, please, use Gitter: https://gitter.im/nmslib/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge  for general questions. Thank you !

[2018-04-02 14:13] #304 closed

[2018-04-04 00:52] shuitai commented on #304
If we has a lot of vectors, about 100 millions，nsmlib seems to put all the index in memory. It should cost a lot of memory. So we want to put the index in search engine, such as solr or elasticsearch. Currently, we use PQ method to generate the code of vector, and put the code as index in search engine. So If using nsmlib, I do not know to do it. Expect your feedback!

[2018-04-06 13:40] shuitai commented on #304
Ok, thank you for your feedback.

[2018-04-08 06:35] searchivarius commented on #302
Hi, @icarocd sorry for the delay. It was a bit tricky to create a notebook for this case. But there we go:
https://github.com/nmslib/nmslib/blob/develop/python_bindings/notebooks/search_generic_sparse_jaccard.ipynb

[2018-04-08 06:35] searchivarius commented on #302
@icarocd : please, note that this the so-called generic case, when we pass data points in the string format.

[2018-04-09 13:02] icarocd commented on #302
Thanks for the notebook! I ran it but it is lauching segmentation fault in the call to index.knnQueryBatch(...), in section "Querying"

[2018-04-09 15:12] searchivarius commented on #302
@icarocd thank you for testing! What is the directory where you run it?

[2018-04-09 15:15] icarocd commented on #302
I run it in my 'home': /home/icaro
I am attaching my test code here.

2018-04-09 12:12 GMT-03:00 Leonid Boytsov <notifications@github.com>:

[2018-04-09 15:18] searchivarius commented on #302
Attachment doesn't seem to work. Please, make sure that the data files: https://github.com/nmslib/nmslib/blob/master/sample_data/sparse_wiki_5K.txt are referenced properly in the notebook. I cannot check this now, but I suspect that if the notebook can't load the data, it just ignores it. Then, there is also a bug in some of the versions where querying an empty data set causes a segfautl.

[2018-04-09 15:34] icarocd commented on #302
I am attaching here the code, which is the same from codebook, but launches segmentation fault.
[nmslib_jaccard_sparse.zip](https://github.com/nmslib/nmslib/files/1890555/nmslib_jaccard_sparse.zip)

[2018-04-09 15:45] searchivarius commented on #302
Thanks! I will try to run. I also suspect we have a bug when the data set is too small :-)
Please, don't use max_qty when you read data and see what you get. It takes only a few seconds to create an index (and a few seconds to create gold standard) for this small data set.

[2018-04-09 15:50] icarocd commented on #302
It also failures without max_qty

[2018-04-09 16:08] searchivarius commented on #302
Ok, I will certainly have a look. Could you also provide more details:
OS?
Python version?
NMSLIB version?
How was NMSLIB installed?

[2018-04-09 16:17] icarocd commented on #302
Ubuntu 16 LTS
Python 3.5.2
nmslib 1.7.2, installed through pip3

[2018-04-09 16:18] icarocd commented on #302
Same problem occurs in:
Ubuntu 17.10, Python 3.6.3, nmslib 1.7.2 installed through pip3

[2018-04-10 04:22] underfitting opened #306 "bit_hamming does not work"
I ran this code,
`index = nmslib.init(method='hnsw', space='bit_hamming', dtype=nmslib.DistType.INT)`

but this yields error message:

`ValueError: The space type bit_hamming is not compatible with the type DENSE_VECTOR, only dense vector spaces are allowed!`

Is this bug or Is my code wrong?

[2018-04-10 04:27] searchivarius commented on #306
bit_hamming data needs to be passed as a string, here is an example for Jaccard: you can use a similar one, but you need to update the data loading function and the function to compute the gold standard:

https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_generic_sparse_jaccard.ipynb

[2018-04-10 05:33] underfitting commented on #306
It works. thank you!

[2018-04-10 05:33] #306 closed

[2018-04-10 14:36] searchivarius commented on #302
Great to hear it worked. Regarding the matrices the classic Jaccard
operates only on IDs.

On Tue, Apr 10, 2018, 9:20 AM Ícaro Cavalcante Dourado <
notifications@github.com> wrote:

[2018-04-10 20:08] icarocd commented on #302
Jaccard is defined for vectors also.
Please see here:
-> https://en.wikipedia.org/wiki/Jaccard_index, section "Generalized Jaccard similarity and distance"
-> https://mathoverflow.net/questions/123339/weighted-jaccard-similarity
-> https://datascience.stackexchange.com/questions/15862/how-to-compute-the-jaccard-similarity-in-this-example-jaccard-vs-cosine

[2018-04-10 23:45] icarocd commented on #302
How it can be done? Could you provide the steps?

[2018-04-11 00:14] searchivarius commented on #302
There is a bit low-level work to be done, because you need to create a space that has the function createObjFromVector:
https://github.com/nmslib/nmslib/blob/master/python_bindings/nmslib.cc#L205
Because you probably don't want to implement a SIMD-based version the Jaccard, you can probably just inherit from SpaceSparseVectorSimpleStorage. An example of doing so is SpaceSparseCosineSimilarity.

Al

[2018-04-11 00:14] #302 closed

[2018-04-17 05:49] dipidoo commented on #295
I am excited to try this but I cannot install it on my machine due to the error above. It looks like `_mm_prefetch` is being used, it should be in intrin.h per [docs.microsoft.com](https://docs.microsoft.com/en-us/cpp/intrinsics/x64-amd64-intrinsics-list) but it seems that [only mm_intrin.h is included](https://github.com/nmslib/nmslib/search?utf8=%E2%9C%93&q=_mm_prefetch&type=) in the files that

[2018-04-17 20:01] searchivarius commented on #295
@dipidoo I wonder why our Windows build doesn't fail.

[2018-04-24 22:38] taketwo opened #307 "pybind11.h not found when installing using pip"
I'm trying to install python bindings on Ubuntu 16.04 machine:

[code]

Clearly,  `pybind11` headers were not installed on my machine. This library is not packaged for apt-get (at least not for Ubuntu 16.04), so I needed to manually install from source.

Would be nice if `nmslib` install script took care of this.

[2018-04-24 22:48] benfred commented on #307
Interesting. I have an ubuntu 16.04 lts machine, and I've successfully installed nmslib using pip when pybind11 wasn't already installed.

'pip install nmslib' should install pybind11 if it isn't already installed - but in your case it looks like it pip thinks it was installed already (```Requirement already satisfied: pybind11>=2.0```).

What does ```python -c 'import pybind11; print(pybind11.get

[2018-04-24 23:02] benfred commented on #307
This might be related to this issue: https://github.com/pybind/pybind11/issues/1344

[2018-04-24 23:39] taketwo commented on #307
Sorry what I posted was a bit misleading. Initially when I tried `pip3 install nmslib` it failed importing `pybind11`. Thus I explicitly installed `pip3 install pybind11` and then repeated `nmslib` installation. So in the description I wrote `$ pip3 install pybind11 nmslib` just to make it clear that the Python package `pybind11` is available and this should not be a problem.

[code]

[2018-04-24 23:42] searchivarius commented on #307
@benfred this is the issue I mentioned before. There seems to be a bug in python setup tools: it ignores requirements specs.

[2018-04-24 23:44] benfred commented on #307
hmm - so there might be two separate problems there (not installing pybind11 as part of the install, and not getting the correct path from pybind11 once it is installed).

I think I've managed to replicate the problem here. It seems like the issue is with pybind11 and pip10 . With that combination the 'pybind11.get_include' returns just 'include' instead of the fully qualified path:

[code]

[2018-04-24 23:46] benfred commented on #307
@taketwo as a short term fix, trying going 'pip install pip==9.0.3' and then installing nmslib - longer term I think we will have to wait for a patched version of pybind11

@searchivarius I'll see if I can replicate this with the install_requires being ignored

[2018-04-25 00:12] taketwo commented on #307
Thanks guys for your quick reaction. I installed `pybind11` manually to `/usr/local`, so for now I'm fine. Just wanted to flag this issue for the record.

May I squeeze in a small offtopic question? (Did not find a support forum or mailing list.) I have a relatively small cloud of 3D points (between 1K and 4K) and I need to repeat a lot of single nearest neighbor lookups as fast as possible (appro

[2018-04-25 04:08] searchivarius commented on #307
@taketwo it's hard to tell without looking at the data. However, for such a small collection, it can be hard to beat bruteforce search. How fast should be fast? How large are you vectors (dim)?

[2018-04-25 12:29] taketwo commented on #307
@searchivarius My vectors have only 3 dimensions (points in Euclidean space), they are sampled from surfaces of object models. Ideally I'd like to keep each query around or under 1us, though I don't know how realistic is this.

[2018-04-25 13:57] searchivarius commented on #307
Hi @taketwo , I played with randomly generated 3d data. Your real data is likely to have lower retrieval times. I don't get 1us, but for 5K records I can get 700K queries per second on my 4-core laptops. Here is the command line that I used to test it:
[code]
Construction parameters are :
M=30,efConstruction=10000,post=2
Query parameters are:
ef=4
Recall@10 was 98%

[2018-04-25 15:43] taketwo commented on #307
Thanks @searchivarius, this is already quite reasonable. Perhaps I could bring the query time further down by exploring the parameter space around your suggestions.

[2018-04-25 15:47] searchivarius commented on #307
@taketwo yes, your results can certainly vary: random uniform data is a notoriously difficult even for lower dimensions. I would be curious to learn about your results. Thanks!

[2018-04-25 15:48] yurymalkov commented on #307
@searchivarius M=30 is way to many for d=3. Probably M=3..6  would be much better choice

[2018-04-25 16:35] searchivarius commented on #307
@yurymalkov it wasn't in my test.

[2018-04-25 21:47] taketwo commented on #307
I created a test set with actual data that I need to process (1K records and 1M queries). I'm using the `knnQueryBatch` function in the python interface and `%timeit` for benchmarking. As I wrote before, I only need to find a single nearest neighbor for each query point.

With your suggested parameters it takes **2.1s**.

I tried to vary every option (separately) and was able to bring it down to *

[2018-04-25 22:14] searchivarius commented on #307
Thanks for the update!
Do u use knnquerybatch?
Yes small M may work fast although accuracy can be compromised.

On Wed, Apr 25, 2018, 5:47 PM Sergey Alexandrov <notifications@github.com>
wrote:

[2018-04-25 22:15] searchivarius commented on #307
sorry I missed u mentioned knnquerybatch.
but do u actually have multiple cores?

[2018-04-25 22:25] taketwo commented on #307
Yes, my workstation has "Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz" and `lscpu` reports it has 12 CPUs with 2 threads on each.

[2018-04-26 00:05] searchivarius commented on #307
@taketwo hmmm this is strange. Did you try to explicitly set num_threads to say 6?

[2018-04-26 13:04] taketwo commented on #307
Yes, I'm passing `num_threads` explicitly to the query function. Benchmarked all numbers from 1 to 12, with `timeit` set to repeat run 50 times. Here are the results:

num_threads | time (ms)
--------------- | -------------
 1 | 1144.315
 2 | 1019.341
 3 | **974.499**
 4 | 1038.168
 5 | 1028.630
 6 | 1024.223
 7 | 1031.905
 8 | 1046.275
 9 | 1046.863
 10 | 1051.944
 11 | 1053.538
 12 | 1047.510

T

[2018-04-26 13:15] searchivarius commented on #307
@taketwo something is wrong :-( this is nearly perfectly parallelizable

[2018-04-26 13:34] taketwo commented on #307
In the meantime I gave a try to a different ANN library which is designed specifically for low-dimensional spaces ([libnabo](https://github.com/ethz-asl/libnabo)), and it is dramatically faster, 26 ms for the same query. So I think for now I'll stick with that one. Thanks for your support!

[2018-04-27 18:51] joshua-gould opened #308 "incorrect number of nearest neighbors returned"
[code]

[2018-05-01 00:48] searchivarius commented on #308
thanks for report, I will look into this.

[2018-05-01 10:30] Neltherion opened #309 "Indexing takes too long for 1M 128D float32 arrays"
First of all thanks for this awesome effort.

I'm trying to test NMSLib with large 128 dimensional numpy arrays but my code seems to take a long time to index (More than 50 seconds).

Are my parameters unoptimized? I want to aim for more than 10M datapoints but I fear the indexing time grows exponentially.

[code]

[2018-05-01 15:08] searchivarius commented on #309
All your parameter values are actually quite low. When you run indexing what's the CPU usage, do we use  four cores?

[2018-05-03 01:59] blackberrybhtg opened #310 "Question. Is the Thrift query service intended to be used for benchmarking or for web service interface?"

[2018-05-03 02:28] searchivarius commented on #310
It's a fully working server (modulo compilation issues on some platforms of course), which can be inovoked over TCP from Java, C++, Python and anything else that Thrifts support.

[2018-05-03 02:43] universewill opened #311 "How to add one data point into index after createIndex?"
i am using nmslib for vector searching. I find that the addDataPoint function will not working if the index is already created. I have to add a createIndex function after addDataPoint to enable the single data point, which will be time consuming because my data points number is large.
How to solve this problem?

My code is something like this:

[code]

[2018-05-03 03:31] searchivarius commented on #311
Hi @universewill this is not supported yet.

[2018-05-03 03:31] #311 closed

[2018-05-03 04:58] #310 closed

[2018-05-03 17:37] blackberrybhtg commented on #310
Thank you!

[2018-05-04 06:00] universewill commented on #311
Is it very difficult to support this feature with nmslib? Cause I think it is a really good feature if nmslib is used in product scene. @searchivarius

[2018-05-04 06:06] yurymalkov commented on #311
@universewill Probably hnswlib (https://github.com/nmslib/hnsw/) is a good match for your tasks. It supports incremental indexing.

[2018-05-04 07:28] universewill commented on #311
@yurymalkov Yeah! that's cool. Thanks.

[2018-05-04 11:38] Damcy opened #312 "usage of post"
Hi, I can't find the definition for "post" in the parameter setting. Can you give me some advice for "post"?

[2018-05-04 16:08] Neltherion commented on #309
@searchivarius Yes, all of the CPUs (4 Cores, 8 Threads) are used during indexing...

I took a look at the manual but since it was a long read, I tried to use some of the parameters in example codes and they didn't work (Indexing took more than 50 seconds).

Is 50 seconds indexing time not normal for 1M 128D datapoints and the code/parameters are wrong? or NMSLib is optimized for datasize less tha

[2018-05-04 16:50] searchivarius commented on #312
Sorry, it's not properly documented. Here's an explanation: https://github.com/nmslib/nmslib/issues/121#issuecomment-241386229

[2018-05-04 16:50] #312 closed

[2018-05-04 16:52] searchivarius commented on #309
@Neltherion actually if it's just 50 seconds, it's fine. However, if it's much longer than 50 seconds, it's a a concern.

[2018-05-04 16:52] #309 closed

[2018-05-04 16:53] searchivarius commented on #309
@Neltherion I would actually advise increasing efConstruction to 50 or 100. It should still be about the same time, but the quality will be noticeably better.

[2018-05-04 16:57] Neltherion commented on #309
@searchivarius Thanks so much...

By the way ,I'm going to test the library for 10M 512K datapoints, Do you think that the build time would grow linearly or exponentially to the point that using NMSLib for these kind of data would be infeasible?

I remember FLANN kd-tree indexing time to grow so much exponentially that I couldn't use it for more than 5M 128D data (Otherwise it would take forever t

[2018-05-04 17:03] searchivarius commented on #309
@Neltherion we used it for 30M, @yurymalkov used a somewhat optimized version of NMSLIB to index 200M https://github.com/nmslib/hnsw
Indexing time grows a bit superlinearly, but with say 36 cores, it is possible I think to index 1B in a reasonable time. It would be more of an issue to fit everything into RAM.

[2018-05-04 17:04] searchivarius commented on #309
PS: is 512K the number of dimensions? Is 50 seconds for 512K-dimensional vectors?

[2018-05-04 17:28] Neltherion commented on #309
@searchivarius Thanks again for the help. I really hope the build time would stay near-linear so that our time/speed assumptions would work for larger scale data.

I will let you know of the build times at a later date (as soon as I have the resources to test the library for large scale datasets).

Thanks again!

[2018-05-08 23:10] lesterlitch opened #313 "Documentation for parameters"
Correct me if I'm wrong, but there appears to be no real documentation for the parameters:

- efConstruction
- M
- efSearch
- post

For example, what they do, sensible default ranges, considerations for scaling with the size of the samples or features to be indexed etc.

Should this be included in the docs somewhere?

[2018-05-09 03:10] lesterlitch commented on #313
Ok apologies I found the manual - is it possible to include a link to this on the landing page of the python bindings?

[2018-05-09 03:34] searchivarius commented on #313
@lesterlitch no worries, I really need to create a wiki page for the most important parameters.

[2018-05-09 17:20] searchivarius commented on #313
Hi @lesterlitch I have added more detailed guidelines (manual is actually quite outdated) here: https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md

@yurymalkov please, double check. comments are welcome.

[2018-05-09 17:20] #313 closed

[2018-05-09 21:34] bkj opened #314 "non-metric example"
Hi --

Are there any example scripts showing search in a non-metric space?  The ones I can find in eg. the python notebooks all look like they're using l2/cosine/etc.

Thanks

[2018-05-09 22:04] bkj opened #315 "Error on example from manual"
In the manual, it suggests running:
[code]
but this throws the error
[code]
If I remove that argument, it complains about `initSearchAttempts`.  If I remove both, then it runs -- but is it safe to do so?

Thanks

[2018-05-09 22:08] searchivarius commented on #315
Hi @bkj sorry these parameter were sunset (``initSearchAttempts`` and ``initIndexAttempts``), but the manual wasn't updated yet. I am moving some descriptions online, in particular here:
https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md

[2018-05-09 22:08] #315 closed

[2018-05-09 22:10] searchivarius commented on #314
I will publish some latest scripts online. It's probably even worth creating another Python book. Which spaces do you think would be most interesting?

[2018-05-09 22:14] bkj commented on #314
I don't have a good sense of the kinds of problems that a good non-metric search index would help solve -- so I defer to you on what's most interesting!  (at least for now...)

[2018-05-09 22:15] bkj commented on #315
fantastic -- thanks!

[2018-05-10 03:05] lesterlitch commented on #313
Thank you - that was unreasonably fast of you.

[2018-05-10 03:08] Damcy opened #316 "example of using Hnsw in C++"
Could you give some examples for using Hnsw in C++, I couldn't find the example in this project.

[2018-05-10 14:02] searchivarius commented on #316
Hi @Damcy I will add HNSW to this example: https://github.com/nmslib/nmslib/blob/master/sample_standalone_app/sample_standalone_app1.cc
However, you can just substitute, e.g., small_world_rand with hnsw as well as to **modify some query-time and index-time parameters".

[2018-05-11 01:33] Damcy commented on #316
@searchivarius Thank you very much! I will try it in these two days.

[2018-05-11 11:27] #316 closed

[2018-05-11 15:49] searchivarius commented on #314
Hi @bkj I have added a basic metric example here: https://github.com/nmslib/nmslib/tree/master/python_bindings/notebooks

Problem is that current implementations of graph based method aren't very good at handling non-symmetric distances. SW-graph should be ok though, but I have no idea about HNSW  (haven't tested it yet). There are also improvements for SW-graph (for non-symmetric distances) that

[2018-05-11 15:49] #314 closed

[2018-05-18 10:31] universewill opened #320 "switch from nmslib to hnswlib api"
Accoording to #311 , i want to switch nmslib api to hnswlib api.
My nmslib api code is as below:
[code]

Now i want to use hnswlib api. But i don't know how to set the parameters to achieve the same result as the nmslib.
I find the parameters of hnswlib are complated for me to understand, such as M, or ef_construction.
I only want to get the same result as the code above.

How should i set the hns

[2018-05-18 10:45] universewill commented on #320
@yurymalkov @searchivarius
Could you guys give any help here? Thanks a lot!

[2018-05-18 12:28] yurymalkov commented on #320
Hi @universewill ,
The default parameters in nmslib are ef_construction=200 and M=16. You can use them in hnswlib, the results will be pretty close.
The description of the HNSW parameters can be found here https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md , although hnswlib does not have a 'post' parameter.

[2018-05-18 14:06] universewill commented on #320
OK , thanks for your info. @yurymalkov
Besides, what does the post parameter mean?

[2018-05-18 14:32] yurymalkov commented on #320
'post' parameter is used for an additional data pass through the index after it is constructed.
It leads to better search speed/accuracy, but at expense of construction time, construction memory; it also does not play well with incremental construction.

[2018-05-19 09:31] yurymalkov commented on #320
'post' parameter is not a part of the original paper on hnsw. It is an nmslib-only feature.
Yes, having no post parameter decreases the accuracy a bit at high recalls (up to 10-15% speed), but it allows index updates, much less build memory and much faster indexing time. Because of the latter two reasons it is off by default in nmslib.

hnswlib is likely to have an updates friendly substitute for

[2018-05-19 19:19] lsorber opened #321 "Incorrect distances returned for all-zero query"
An all-zero query vector will result in NMSLib incorrectly reporting a distance of zero for its nearest neighbours (see example below). Is this related to #187? Is there a suggested workaround?

[code]

[2018-05-19 22:59] searchivarius commented on #321
is it the latest NMSLIB version?

On Sat, May 19, 2018, 3:19 PM Laurent Sorber <notifications@github.com>
wrote:

[2018-05-20 08:56] lsorber commented on #321
Yes, 1.7.2

[2018-05-20 10:32] universewill commented on #320
ok, i understand. Looking forward for your feature updates.
Thanks again!
@yurymalkov

[2018-05-20 16:10] searchivarius commented on #321
@lsorber I cannot reproduce it without a complete script/data set. Could you create one? Thanks!

[2018-05-20 21:38] lsorber commented on #321
Here's a minimal example that reproduces the problem:
[code]
The distances are incorrectly returned as 0. Same results for sparse matrices `X` and `r` too.

[2018-05-20 23:13] lsorber commented on #321
I think it should be NaN (unless perhaps there is also an all-zero vector in the training set). In our application, vectors have integer valued entries, and under those circumstances it is not uncommon to see all-zero query vectors.

[2018-05-21 01:26] searchivarius commented on #321
@lsorber sorry, I don't think so. One shouldn't compute cosine for all-zero vectors, it's not defined.

[2018-05-21 01:26] searchivarius commented on #321
PS: if you produce NaNs it gets ugly one way or another later.

[2018-05-21 06:13] lsorber commented on #321
I understand your point of view, but if you do happen to compute the cosine distance for an all-zero vector, Nmslib will currently (1) not inform the user of any issue and (2) silently return an incorrect distance.

I guess it comes down to who's responsible for validating user input and your point of view is it's the user.

Actually, in our case it makes a lot of sense: if you filter the nearest

[2018-05-21 06:19] yurymalkov commented on #321
@lsorber Is there any knn libraries with a different point of view for this issue?

[2018-05-21 08:07] lsorber commented on #321
@yurymalkov Sklearn returns a distance of 1 for an all-zero query vector (see example below). This is because they choose not to normalize the query vector if it's norm is zero [1]. As a result, the inner product between the training vectors and query vector is zero, and the distance returned is 1. I think NaN is the correct result, but would still prefer receiving an "orthogonal" distance of 1 ov

[2018-05-21 13:41] searchivarius commented on #321
@lsorber perhaps, the best way to deal with it is to throw an exception, unless this has some serious performance implications (though I doubt). However, we can also ensure that all-zero vectors are never nearest neighbors of anything except maybe when you have to all-zero vectors. So, is this what you suggest?

[2018-05-21 15:11] lsorber commented on #321
@searchivarius It's your call, as discussed there are many options:
- Raise an exception
- Return a NaN distance
- Return a distance of 1 like Sklearn does

I'm still voting for NaN, but would be happy with any solution.

[2018-05-21 16:14] searchivarius commented on #321
@lsorber it may not be even possible to detect NaNs:
http://searchivarius.org/blog/gcc-disables-isnan-and-isinf-when-compiling-ffast-math-flag

[2018-05-21 16:46] lsorber commented on #321
That doesn't sound like a good situation indeed, but it looks like it may be possible to check for NaNs even when using `-ffast-math` based on [this SO question](https://stackoverflow.com/questions/38278300/successfully-enabling-fno-finite-math-only-on-nan-removal-method).

[2018-05-21 16:56] searchivarius commented on #321
@lsorber I now just use my own functions to check for NaNs, but anyways I don't that purposeful generation of NANs INFs denormalized numbers and other wicked magic animals is a good thing to do.

[2018-05-21 16:57] searchivarius commented on #321
PS: We should make the phrase no NaNsensical results as our motto :-)

[2018-05-23 09:28] phdowling commented on #73
Are there plans to add this to the Python bindings? Real-time index additions are super valuable. And I'm not sure if I understand correctly: currently only SW-graph supports dynamic indexing, and HNSW _might_ support this later on?

Actually, I also just came across this: https://github.com/nmslib/hnsw/issues/2 - is this the same in nmslib, or is the dynamic updating only supported by the impleme

[2018-05-23 12:53] yurymalkov commented on #73
@phdowling

It is a reimplementation, optimized for less memory usage, faster construction and incremental indexing.
Nmslib's c++ interface also supports incremental insertions for sw-graph and hnsw (only regular indexes).
If you only need regular dense spaces with incremental updates I would advice using hnswlib.

[2018-05-26 08:44] universewill commented on #320
I set ef =20, M=16, ef_construction=200 with hnsw api. However, the retrieval  is about 10~20 times slower than nmslib with post parameter setting to 2 .
Could you give any help here? @yurymalkov

[2018-05-28 06:03] yurymalkov commented on #320
@universewill Thanks! I'll check it soon.

[2018-05-28 13:06] yurymalkov commented on #320
@universewill I think I know what is the reason.
Nmslib and hnswlib behave a bit differently when k is very large.
When ef<k, hnswlib overrides the main search paramter ef to k, leading to (almost) guaranteed return of total k closest neighbors and more accurate but slower search.
Nmslib uses a different approach - it returns only the neighbors that the algorithm could find for the supplied ef val

[2018-05-29 02:48] universewill commented on #320
yeah, that's cool! Thanks for your reply! @yurymalkov

[2018-05-29 02:48] #320 closed

[2018-05-30 16:38] searchivarius opened #322 "Some boost libraries can't be found by Travis despite installing libbostall-dev"
https://github.com/nmslib/nmslib/tree/sparse

[2018-06-01 06:33] universewill opened #323 "Illegal instruction (core dumped)"
I user hwns api to create index and retievel, but encountered 'core dumped' error when building index.
My computer memory is 300G, so i don't think it is caused by memory limit.

My code (notice the point dimension is 2048, and i have 100000 number of points):
[code]

[2018-06-01 15:11] searchivarius commented on #323
wrong repository

[2018-06-01 15:11] #323 closed

[2018-06-02 17:50] universewill commented on #323
yeah, the error occurs when running the example code of hnswlib. It seems it is correlated with the system eviroment, but i can not figure it out. Same code can runs well on another machine.
The error occurs when running this code line:
[code]

Any hint or suggestions here?

@yurymalkov

[2018-06-04 02:56] universewill commented on #323
I reinstall an ubuntu system and hnswlib, and when import hnswlib, it runs into core dump ...

[2018-06-04 20:37] blackberrybhtg opened #324 "LoadIndex"
The indexed loaded with LoadIndex doesn't function as expected.

The example below is based on commit 829e830c33d1b40f6e59e0ad0e2f5e80bb62483e.

int main(void) {

    initLibrary();

    Space<float> *space = SpaceFactoryRegistry<float>::Instance().CreateSpace("l2", AnyParams());

    ObjectVector dataset;
    float base[2][2] = {
        {1.0f, 1.0f},
        {2.0f, 2.0f}
    };
    for (int i =

[2018-06-05 13:24] searchivarius commented on #324
ps: Ohh, sorry you do re-create the index. So, here is a potential issue. Most indexes in NMSLIB are just metaindexes. You do need to reload the same data set as well as the index. However, this is not the case for L2/cosine and HNSW.

[2018-06-05 16:34] blackberrybhtg commented on #324
Thank you very much for the quick replies!

[2018-06-07 13:11] zseder opened #325 "default -march=native build cannot be overridden by flags"
I would like to use nmslib in python and when installing nmslib by `pip install nmslib`, `-march=native` is passed to gcc https://github.com/nmslib/nmslib/blob/829e830c33d1b40f6e59e0ad0e2f5e80bb62483e/python_bindings/setup.py#L82 and so binaries are created that work only on the same architecture. I would like to use nmslib inside docker and these docker containers would run on different types of

[2018-06-07 13:37] zseder commented on #325
I can open a PR for this, but I can't really design a general solution, i would just append an extra option to the `extra_compile_args` list between these two lines:
https://github.com/nmslib/nmslib/blob/829e830c33d1b40f6e59e0ad0e2f5e80bb62483e/python_bindings/setup.py#L112-L113
If you don't mind this being too specific, I'll create the PR.

[2018-06-07 13:39] searchivarius commented on #325
@zseder what do you mean by a general solution?

[2018-06-07 13:42] zseder commented on #325
I really don't know :)
I just feel like this solution, a gcc call wil look like this:
`gcc ... -march=native ... -march={user_defined}`
and this looks very confusing because one has to know that the latter always overrides the former

[2018-06-07 13:56] searchivarius commented on #325
@zseder I think this makes a lot of sense if you can just specify a "downgraded" version for CXX flags. This is also a good reminder to still support older architectures: although I am a bit surprised, we don't have AVX on most AWS instances yet.

[2018-06-07 14:14] searchivarius commented on #325
PS: I can't think of a more general solution and your approach sounds just fine.

[2018-06-07 14:41] zseder commented on #325
I tried to make this work, but this setuptools is way too complicated.
The solution you suggested adds a new argument to install but `setup.py` is implementing `build_ext`, not `install`, so I couldn't make it work, arguments passed to install (`pip install ... --extra-arg`) could not be obtained in `build_ext`.
After this, I tried https://stackoverflow.com/questions/15725869/pass-build-ext-option

[2018-06-07 15:23] searchivarius commented on #325
@zseder aaargh, ok. In fact, there seems to be a bug in setuptools.py that we don't have a workaround for yet. setuptools is difficult.

[2018-06-12 19:46] bli25broad opened #326 "Results returned are different even if I only use one thread"
Hi,

I found that if I use the hnsw method in nmslib, I'll get slightly different results each run, even if I only use one single thread. But this behavior is not appeared if I use hnswlib.

Any comments?

Thanks,
Bo

[2018-06-12 19:49] searchivarius commented on #326
What is eactly a run?

[2018-06-12 20:22] bli25broad commented on #326
@searchivarius , thanks for your quick reply. Please see the codes below.

knn_index = nmslib.init(method = 'hnsw', space = 'l2', data_type = nmslib.DataType.DENSE_VECTOR)
knn_index.addDataPointBatch(adata.obsm['X_pca'])
knn_index.createIndex({'M': 15, 'indexThreadQty': 1, 'efConstruction': 100})
knn_index.setQueryTimeParams({'efSearch': 100})
results = knn_index.knnQueryBatch(adata.obsm['X_pca'],

[2018-06-12 20:35] searchivarius commented on #326
@bli25broad possibly, this is some older version which didn't consistently initialized the random number generator.

[2018-06-13 01:38] bli25broad commented on #326
@searchivarius , NMSLIB version is 1.7.2 . Isn't it up-to-date?

[2018-06-13 02:08] searchivarius commented on #326
@bli25broad could you
1) double-check that it's 1.7.2, print nmslib.__version__
2) what happens when you run knnQueryBatch several times? (but indexing once) do you get different results?
thanks!

[2018-06-13 02:57] bli25broad commented on #326
@searchivarius

re:1. I think it is 1.7.2. See below.

1.7.2

re:2. If I index once, I will not get different results.

Thanks,
Bo

[2018-06-13 04:00] searchivarius commented on #326
@bli25broad thanks, so it's indexing being non-deterministic. Ok, the next question: is there a chance that you call init() twice in the same Python script?

[2018-06-13 14:45] bli25broad commented on #326
@searchivarius , I guess not?

What I did is paste the codes twice in iPython. This should create two different index objects, won't it?

Best,
Bo

[2018-06-13 15:14] searchivarius commented on #326
@bli25broad the library initializes the random number generator only once. It is currently not being re-initialized by the initIndex function.

[2018-06-14 11:16] #326 closed

[2018-06-15 11:43] lukin0110 opened #327 "Python process crashes: 'pybind11::error_already_set'"
**nmslib** is the only lib in our project that relies on _pybind11_ and we could narrow it down to the _Dask_ nodes that use nmslib. When we disable the nodes that use *nmslib* it doesn't crash.

[code]

Version:
[code]

[2018-06-15 14:40] searchivarius commented on #327
Hi @lukin0110 it will be helpful if you could narrow it down and set a debug trap like this one:
[code]
Otherwise, it's not even clear where to start looking for the error. Thanks!

[2018-06-20 14:00] jattenberg commented on #191
How would I utilize this with the python API?

[2018-06-20 14:10] searchivarius commented on #191
Hi @jattenberg what exactly do you need?

[2018-06-20 14:16] jattenberg commented on #191
maybe NVM? generating recommendations. I think the correct py instantiation for an index using max inner product search would be: `index = nmslib.init(method='hnsw', space='negdotprod')`. Is this correct?

[2018-06-20 14:24] searchivarius commented on #191
ok, please model after this notebook (but with space='negdotprod'):
https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_nonoptim.ipynb
unfortunately, currently data needs to be reloaded.

[2018-06-21 13:35] hjain689 opened #328 "Duplicate points"
My data has some duplicate points(which I don't want to remove as it would mess up my further processing). However, the code runs forever while creating the index with such a dataset. If I remove the duplicates is runs fine. Any suggestions as to how I can solve this without removing duplicates?

[2018-06-21 13:38] searchivarius commented on #328
@hjain689 which method (parameters also) do you use and how approximately does your data look like?

[2018-06-21 13:50] hjain689 commented on #328
I am using hnsw with cosine similarity, M=100, efC=300, efS=300. Dataset in 300 dimensional having 501,070 points out of which around 20,000 are duplicates

[2018-06-21 18:09] searchivarius commented on #328
@hjain689 any chance you have all-zero vectors?

[2018-06-21 18:14] hjain689 commented on #328
@searchivarius I checked there are no all-zero vectors

[2018-06-21 18:49] hjain689 commented on #328
@searchivarius I'm sorry, I just realized that the data has some NaN values which were getting removed when I filtered out unique vectors.
Sorry for bothering you.

[2018-06-21 18:49] #328 closed

[2018-06-23 21:18] AVBelyy commented on #73
Hello @searchivarius and @yurymalkov and thanks for the great library!
We tried and tested your library with hnsw and sw-graph methods on large scale text classification sparse datasets (# objects ~ 2 millions, # features ~ 1 million) are were impressed with the results! We would now like to use your method to build efficient SVM multi-class classification iterative method.

Inside this method, on

[2018-06-23 22:54] searchivarius commented on #73
Hi @AVBelyy https://github.com/nmslib/hnsw supports deletions and insertions, I think. For SW-graph I experimented with deletions and insertions. Performance doesn't seem to deteriorate quickly: I think I have done something like 100K updates for 1M dataset and it was fine. However, not sure about 1M. Depends on updates.

[2018-06-24 00:01] bkj commented on #314
Related to this -- if I wanted to implement my own non-metric space, where would the place to start be?

Specifically, I'd be interested in being able to use NMSLIB for dynamic time warping.  DTW is symmetric (I think?), but doesn't satisfy the triangle inequality.

[2018-06-24 01:00] searchivarius commented on #314
@bkj a somewhat description of the process is given in the manual. However, the best thing to do is to take a dummy space and to implement all the necessary functions:
https://github.com/nmslib/nmslib/blob/master/similarity_search/include/space/space_dummy.h
**You should also register this space in the factory (this is described in the manual)**
One little note on de/serialization. API uses string

[2018-06-24 01:00] searchivarius commented on #314
@bkj also checking some of the other space's implementation can be useful, e.g., you can see how the vector space is implemented.

[2018-06-24 09:09] AVBelyy commented on #73
I've checked with implementation code and hnsw seems to only support insertions for now. So SW-graph looks like the only choice for performing incremental updates.
And what about Python bindings for batch updates: should I expect any difficulty implementing it? I can do it & send a PR after it's done.

[2018-06-24 17:03] searchivarius commented on #73
@AVBelyy ohh, right, sorry I was convinced it already has deletions. Well, if static SW-graph performance is good enough for you, I can certainly guide you with respect to embeddings. I will also create a new dynamic version of nmslib, but it will take time.

[2018-06-26 08:15] lsorber commented on #327
This is a minimal reproduction of the the bug:
[code]
It appears you cannot `lru_cache` an NMSLib index.

[2018-06-26 14:24] benfred commented on #327
thanks for the script to @lsorber !

I just ran this on osx and ubuntu machines, and it didn't segfault for me though =(

What version of pybind11 do you have installed? ```python -c 'import pybind11; print(pybind11.__version__)'```. Also what version of  nmslib ( ```python -c 'import nmslib; print(nmslib.__version__)'```

[2018-06-26 15:35] lsorber commented on #327
@benfred It doesn't actually segfault, it just prints the pybind error message to stderr and continues.

Pybind = 2.2.3
NMSLib = 1.7.2

[2018-06-26 16:19] benfred commented on #327
Hmm. I don't see anything on stderr (with same version of pybind11/nmslib as you) =(

[code]

[2018-06-26 17:28] lsorber commented on #327
@benfred You won't see anything in iPython. Try running the minimal reproducing example above with `pytest -vs` and you'll see the pybind error message appear when pytest exits. We've ran into this issue on both macOS and Debian with fresh installs on multiple computers, so it's probably not isolated to one particular virtual env.

[2018-06-26 17:44] benfred commented on #327
I'm still not seeing any errors - even running under pytest =(

Mac OSX:
[code]

ubuntu 16.04:

[code]

In both cases the test file is:

[code]

What does the output look like when you run it ?

[2018-06-27 04:28] lsorber commented on #327
Did you run pytest with `-s`? Here's my output:

[code]

[2018-06-27 05:09] benfred commented on #327
Thanks for the output! With that, I've managed to reproduce.

I was using the -s flag, but I was using anaconda 3.6.3 on osx. I just installed miniconda 3.6.5 to match your setup and saw the same error when using miniconda 3.6.5. It must be something changed in between point releases of python/

Running lldb shows the error being like this:

[code]

I think this is pretty easy to fix - what seems

[2018-06-27 08:40] lsorber commented on #327
Glad that you were able to find the bug @benfred. Any idea why this would only happen when storing the NMSLib index in a global or using lru_cache?

[2018-06-27 22:38] blackberrybhtg opened #329 "Questions for efsearch param, Thrift server"
Hi,

I have a question about how/if a client of a Thrift query server using HNSW can set the efsearch query parameter per KNN query. Are clients expected to set it at index using [SetQueryTimeParams](https://github.com/nmslib/nmslib/blob/d3cc0899604698f1e78867cf5396031268db55f1/similarity_search/include/method/multi_index.h#L58) before sending each query? I am worried that will cause various concu

[2018-06-28 01:31] searchivarius commented on #329
Hi @blackberrybhtg you need to call SetQueryTimeParams every time you change parameters. Ideally, you do it only once. Please, note that this call isn't thread safe.

[2018-06-28 13:01] searchivarius commented on #327
@benfred : thank you very much for looking into this! The C++ destructor issue is a pesky one. I have been thinking about workarounds for similar situations, but I couldn't find a good one. What do you think about the following workaround:
1. Don't have destructors in the main logging object.
2. Have some nmslibCleanup function that the Python infrastructure or C++ code would call.

[2018-06-28 17:33] blackberrybhtg commented on #329
I see. Thanks for the heads-up!

[2018-06-28 17:33] #329 closed

[2018-06-28 17:46] searchivarius commented on #329
@blackberrybhtg no problem, glad, this was helpful.

[2018-06-29 04:16] Dr-Champ opened #330 "Is the index thread safe?"
Hi,

First of all, thanks for the nice work you guys've put into making this NMS lib. It's really useful and saves a lot of time implementing a custom ANN search index of my own.

However, I haven't seen this mentioned explicitly anywhere in the documentation. So, could anyone confirm if the index object, once created (from nmslib.init(...)), is safe to be shared and queried across multiple thread

[2018-06-29 04:20] searchivarius commented on #330
@Dr-Champ yes, but note that in some cases it's a *META* index, i..e., you have to re-load data. It's a deficiency that I am gonna fix someday, but not very soon. When you are not sure whether data needs to be reloaded, please, consult the following examples:
https://github.com/nmslib/nmslib/tree/master/python_bindings/notebooks

[2018-06-29 04:20] #330 closed

[2018-06-29 10:10] Dr-Champ commented on #330
Thanks !

[2018-06-29 15:16] chapleau opened #331 "query vector from hnsw index not found in top K"
This is more a question than a bug report.

Building a rather large index with hnsw method, > 1M unit vectors (100d) with l2 space, M=40, efConstruction=1000, efSearch in 100-1000 range, default params otherwise (using v1.7.2)
For every vector in index, querying for top 1000 nearest neighbors. This works like a charm and the results are very accurate (and fast!) and because the vectors being queri

[2018-06-29 15:36] searchivarius commented on #331
@chapleau I think it is a consequence of the approximate nature of the method, but it is hard to know for sure. I am a bit surprised that people are searching for vectors already indexed: is it a common use scenario?

[2018-06-29 15:46] chapleau commented on #331
thanks for the prompt reply !
Re your question, in the case of pairwise distances among the input vectors themselves (finding similar items) it's much more efficient than a brute force approach.

[2018-06-29 15:58] chapleau commented on #331
I create an index with my data, and then I find the K nearest neighbors for all my data points. So I query for all x already in the index. It think that's a pretty common scenario, unless I'm missing something here.

[2018-06-29 16:05] searchivarius commented on #331
@chapleau if every query is indexed in the data, isn't it trivial to add to the result set? :-)

[2018-06-29 16:13] chapleau commented on #331
oh, absolutely ! I was just being curious :)
I think I finally understand what you were saying, you're right that if I already have x indexed and query kNN with it, I don't need it in the result set since I know by definition that it should be there (with a valid dst metric).
Thanks for the conversation and the prompt replies.
I'll close this since this isn't a bug.

[2018-06-29 16:13] #331 closed

[2018-06-29 16:31] searchivarius commented on #331
no worries, thanks!

[2018-07-02 21:12] benfred commented on #327
@lsorber : The problem is that when the python process exits it cleans up all the python global objects including the nmslib index you created. The NMSLIB python IndexWrapper object was logging that it was being deleted, which called back into the python logging system. The python logger threw a python exception (since it had already been partially cleaned up), which pybind11 re-threw as a c++ exc

[2018-07-05 21:30] jattenberg commented on #327
When will there be a new release with this bug fix? Is there a simple work-around in the mean time?

[2018-07-06 15:24] searchivarius commented on #327
@jattenberg could you try to install and test the latest release 1.7.3 locally? I will upload it to pypi soon.

[2018-07-06 15:32] lsorber commented on #321
After giving this some more thought, the "exception" solution is probably not a good choice. For example, if I batch query several valid vectors and one all-zero vector, then the whole batch would fail because of the single all-zero vector.

[2018-07-06 17:54] benfred commented on #327
@jattenberg : you can also clone the source and then build it locally to get the latest code

[code]

A simple workaround would be to set your nmslib index to None before the process exits if you want to keep on going with the old code

[2018-07-06 21:33] searchivarius commented on #327
@jattenberg sorry, please, try now. I deleted a release for testing purposes, but now it's created. Just pulling the mast will work fine.

[2018-07-06 21:45] searchivarius commented on #327
@jattenberg I also have managed to push 1.7.3 to pypi.

[2018-07-07 00:11] searchivarius commented on #321
@lsorber so, what do we really need: return the largest possible distance value? what do we do when we compare two all-zero vectors?

[2018-07-07 06:48] lsorber commented on #321
Maybe the easiest solution is the sklearn solution of not normalising the vectors if their norm is zero. The output will be compatible with sklearn that way, which is a plus if you want to wrap nmslib as an sklearn Estimator.

[2018-07-08 20:35] searchivarius commented on #321
@lsorber nmslib doesn't really normalize vectors: the question is what distance should be if you have
d(0, x) where x != 0 and d(0, 0)
We can make d(0,x) = 2 for the cosine distance, which is reasonable, by what should we use for d(0, 0)?

[2018-07-08 20:45] lsorber commented on #321
I would prefer to see d(0,x) = 1 (regardless of whether there is normalization) to be compatible with sklearn. The interpretation to me is that the all-zero vector is orthogonal to x, which _can_ be true for many x. For d(0,x) = 2, the interpretation would be that 0 is the opposite of x, which _cannot_ be true for many x.

Then there's the choice of what d(0,0) should be. A reasonable option would

[2018-07-08 20:46] searchivarius commented on #327
Ok, I have decided to remove that logging statement that caused this exception in the first place (sometimes): https://github.com/nmslib/nmslib/commit/ee68bd7f67d4dafea23a98176ded9fbc4c132874
I will re-create a release and re-upload the version to pytest soon.

[2018-07-09 02:16] searchivarius commented on #327
Alright, the updated version is on PyPi. Thanks everybody!

[2018-07-09 15:07] searchivarius commented on #325
@DemonTPx no, it's not too risky. It's just some work needs to be done by processing extra flags.

For a quick fix: what prevents you from manually changing -march=native in the setup.py script? It's only an issue if you install it through pypi. Will it be too much additional work while creating a docker container?

[2018-07-09 16:23] searchivarius commented on #325
Another option would be to try this approach: https://stackoverflow.com/questions/677577/distutils-how-to-pass-a-user-defined-parameter-to-setup-py
Yet, I didn't try it yet.

[2018-07-12 14:08] rshest commented on #324
@searchivarius It appears that this behaviour changed in `1.7.3.1` for an optimized L2/HNSW indexes as well (i.e. one does need to explicitly add the data for them as well now).

The [corresponding notebook](https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_optim.ipynb) prints `kNN recall 0.000000` in the very end if running with `nmslib==1.7.3.1` (as a res

[2018-07-13 00:30] searchivarius commented on #324
@rshest thanks a lot for noticing this. Indeed, this bug was introduced while fixing another issue (and there is no test for this). In the future, actually, we will have only "optimized" indices that will always save the data. The current setup is an unfortunate artifact as to how the library has been evolving. It's time to re-write most of it :-)

[2018-07-13 00:30] searchivarius commented on #324
@rshest please try 1.7.3.2

[2018-07-13 06:33] rshest commented on #324
@searchivarius Thank you! :)

[2018-07-14 20:40] lsorber opened #333 "Intolerance to empty vectors in l1/l2 sparse and cosine similarity spaces"
`index.createIndex()` fails with the following message for `l1_sparse` and other `l[x]_sparse` spaces:
[code]

Minimal example:
[code]

[2018-07-14 23:12] searchivarius commented on #333
@lsorber How the heck this even works in Python? 10_000 is not a proper number. You probably want something like:
[code]

[2018-07-15 07:06] lsorber commented on #333
`10_000` and `10000` are equivalent since Python 3.6, it's a language feature [1].

[1] https://www.python.org/dev/peps/pep-0515/

[2018-07-16 01:58] searchivarius commented on #333
@lsorber o dear, anyways, the reason why this error happens, because NMSLIB l2_sparse and l1_sparse space doesn't like empty vectors, but it, unfortunately, fails to produce a cohere error. Try this script to see:
[code]

[2018-07-16 15:39] lsorber commented on #333
I see, that does explain what's causing the error. However, the `l1_sparse` space should still work for all-zero rows in `X`, right?

[2018-07-17 02:18] searchivarius commented on #333
@lsorber fair comment, this should be fixed someday. Do you actually have a usecase of the all-zero vector or is more of a hypothetical thing for now?

[2018-07-17 06:17] lsorber commented on #333
In this case it's more of a hypothetical use case. We found this bug by fuzzing the input parameters. Still, seems like something that should be fixed.

The related issue #321 is an actual problem for our use case: if the training set contains all zero vectors then NMSLib does not complain with the cosine similarity space, but it returns incorrect results! There is no workaround for that issue bey

[2018-07-17 20:22] lkoll opened #334 "HNSW Parameter Ranges"
Question on parameter ranges that I know you have hinted at in other issues, but as far as I can tell haven't directly addressed. I am also referencing the following link:

https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md

Elsewhere you mentioned it is possible to go above the values listed at the link for m,efc,efs. Is there a limit to how far above these values you can

[2018-07-18 00:38] searchivarius commented on #334
@lkoll yes, it is possible to go about this values, but the search will be kinda slow. I would also recommend trying increase the value M first, what's the largest M that you tried? Setting M to 50-70 isn't unreasonable.

BTW, for sparse matrices, we have an alternative that can be roughly as efficient as HNSW, while taking much shorter time to index.

[2018-07-18 00:47] searchivarius commented on #334
@lkoll I cannot exactly recommend, you can try higher M certainly. The question is whether indexing time would be acceptable. Do your vectors have a lot of non-zeros?

[2018-07-18 02:17] lkoll commented on #334
Well, I may be misunderstanding something but the way I think about sparse matrices is if it's 95% sparse, then doesn't that mean 5% of them are non zero? Please forgive me if I'm mis stating something, I am fairly new to this area.

[2018-07-18 03:49] searchivarius commented on #334
@lkoll actually this 5% density is a relevant number too, but what is the total dimensionality? Also, if you could provide a small sample (say 1M entries) I can very quickly tell you if NAPP works or not.

[2018-07-18 13:42] lkoll commented on #334
So by total dimensionality do you mean the dimensions of my matrix? There are approximately 100 million values distributed across a 480k by 18k matrix. I can try to provide a sample of data later. Are you wanting just a .txt file? If it is sufficient the data I'm working with is described here:
https://en.wikipedia.org/wiki/Netflix_Prize#Problem_and_data_sets

[2018-07-18 13:46] searchivarius commented on #334
@lkoll so it's about 900 non-zeros per row. txt will be fine.

[2018-07-18 21:31] lkoll commented on #334
So I've attached 1000 samples from the dataset... I kept getting errors that the file was too big. The data is not in matrix format yet. UserId would be my Y axis and Movie ID would be my x axis of my matrix, with the rating being the value. Let me know if this will work for you. Thank you.
[random_1000.txt](https://github.com/nmslib/nmslib/files/2207425/random_1000.txt)

[2018-07-18 21:41] searchivarius commented on #334
@lkoll could you upload somewhere (say dropbox or google docs) the actual matrix file in the format that NMSLIB understands. If you zip/gzip/bzip2 it will be quite small. You can share the link privately with leo at boytsov.info

[2018-07-19 04:14] #334 closed

[2018-07-19 17:23] msollami opened #335 "Trouble running sample_standalone_app1"
Neither of the standalone app examples are working for me:

[code]

What argument do I give `./sample_standalone_app1` to get your hello world running?

[2018-07-20 01:06] searchivarius commented on #335
Sorry, the method parameters have updated, but the samples were not. I have fixed examples and added a basic readme:

https://github.com/nmslib/nmslib/tree/master/sample_standalone_app

[2018-07-22 02:17] #335 closed

[2018-07-23 15:07] rshest opened #336 ""Check failed" in `createIndex` for sparse data containing zero rows"
When creating an index for sparse data from the Python wrapper (calling `createIndex` with `scipy.sparse.csr_matrix`), it fails if there are zero vectors (i.e. all-zero rows) in the input data.

Here's a minimal repro-case:
[code]

This results in:
[code]

Uncommenting the line `data[2, 0] = 3` in the above snippet makes it work.

Possibly some internal data structures do not get initialized when

[2018-07-23 15:31] searchivarius commented on #336
Sorry, it's an "intolerance" to empty vectors. This duplicates the issue #333

[2018-07-23 15:31] #336 closed

[2018-07-23 15:52] rshest commented on #336
Sorry, I did not realize it's the same as #333.

Just a note, a "workaround" for this would be just to initialize a single element of all the empty rows with an explicit zero.

E.g., if in the snippet above we instead do:
[code]

and then run a query:
[code]

the result is
[code]
with zero vector returned as the furthest, which kind of makes sense.

[2018-07-23 16:31] searchivarius commented on #336
@rshest thank you, yes, this will work, but I want to eventually fix this, in particular, b/c there's a need to fix the distance between all-zero vectors.

[2018-07-25 01:08] stepanv1 opened #337 "The claim is that the first neighbor is more frequently missing than other neighbors when search for already indexed elements."
Code run:

import nmslib
import numpy as np

data = np.random.randn(100000, 100).astype(np.float32)

index = nmslib.init(method='hnsw', space='l2')
index.addDataPointBatch(data)
index.createIndex({'post': 2}, print_progress=True)

neighbours = index.knnQueryBatch(data, k=100, num_threads=4)

Produces wrong neighbour indices, e.g.:
In[18]: neighbours[26]
Out[18]:
(array([ 1425, 91539, 89951, 28026,

[2018-07-25 01:22] searchivarius commented on #337
@stepanv1 why should the index be 0?

[2018-07-25 03:36] stepanv1 commented on #337
@searchivarius Sorry, typo. Should the index of the element. In the case above --- 26

[2018-07-25 03:46] searchivarius commented on #337
@stepanv1 is 26 a true neighbor? In any case, there's no guarantee that all neighbors are returned. It's an approximate search method.

[2018-07-25 05:45] stepanv1 commented on #337
@searchivarius Yes, 26 is a true neighbour. Point is that the first neighbour in the output is always the index of the element itself, since the closest element to the element with e.g., index 26, is the element with index 26. So no matter how bad is the approximation, especially at higher dimensions, I suspect this being a bug and not the algorithm's property.
Normally, in my runs of this and oth

[2018-07-25 11:00] searchivarius commented on #337
@stepanv1 I really doubt it is a bug. Random data is quite difficult already for d > 10 and it's 100 in your case. All data points are roughly at the same distance from each other. For high dimensional data nearest neighbor search even doesn't make sense: only the near duplicate search makes sense.

[2018-07-25 12:32] pawmis opened #338 "Same Result"
Getting the same result for all the queries.

query_qty = 1
start = time.time()
labels = newIndex.knnQueryBatch([query_index], k = K, num_threads = num_threads)
end = time.time()
print('kNN time total=%f (sec), per query=%f (sec), per query adjusted for thread number=%f (sec)' %
      (end-start, float(end-start)/query_qty, num_threads*float(end-start)/query_qty))

labels remain same for different

[2018-07-25 13:31] searchivarius commented on #338
Hi @pawmis could you create a minimally reproducible example?

[2018-07-25 21:35] stepanv1 commented on #337
@yurymalkov @searchivarius
Thank you for your advice, I tried that ( (e.g. index.createIndex({'post': 2,'efConstruction':'1000','M':64}, print_progress=True))) before and it works, reducing number of errors. But I am not talking about near duplicates. I mean exact identical case, when the first nearest neighbour of any vector should be the vector itself. If algorithm does not return as 1 n.n. for

[2018-07-25 22:57] searchivarius commented on #337
Hi @stepanv1 thank you for the feedback.  Ok, did you actually check the recall for 1st neighbor vs nth neighbor for n > 1. I just ran a test with the experiment utility (but not with the Python API). I used data set points as queries: recall for the first element is higher as expected.

[2018-07-25 23:18] stepanv1 commented on #337
@searchivarius, I did not check the recall numbers, sorry. But I noticed that some of the output rows are simply shifted to the one position left, causing the disappearence of 1st nn, making 2nd n.n the 1st one etc. I hope that helps.

[2018-07-25 23:59] searchivarius commented on #337
@stepanv1 which value of the parameter ef did you use? for large ef the recall is close to 100% overall, so most elements are present. so, without a proper measurement, this could have easily been a perception bias. most elements are present, but your mind could have focused on the few cases where the first element was missing. This is not unreasonable given that probabilities of missing the 1st a

[2018-07-26 01:23] stepanv1 commented on #337
@searchivarius, no it is not a perception bias. Rows were simply shifted  as a whole, I checked that. My workaround was  shifting the row back to the right, using hnswlib:
import hnswlib
from scipy.ndimage.interpolation import shift
def find_neighbors(data, k_, metric='euclidean', cores=12):
   dim = np.shape(data)[1]
   num_elements = np.shape(data)[0]
   data_labels = np.arange(num_elements)

[2018-07-26 01:35] stepanv1 commented on #337
Yes, agree, still needs to be checked if its the same problem, don't have time right now.

[2018-07-26 01:38] searchivarius commented on #337
Ok, I will check when I have time, although I really-really doubt this, especially without a reproducible example with the properly measured outcome.

[2018-07-26 02:32] searchivarius commented on #337
@stepanv1 and @yurymalkov I have suddenly decided to be done with it, so, I did create a script to compute recall for various n-th neighbors: https://github.com/nmslib/nmslib/blob/ac5febb1a24d7a5efa797b178dcdbfb4b5462d69/python_bindings/notebooks/test_hnsw_recall.py

Here is what I get for random data. No surprises here, for the vary accurate search (``efS=1000``), we do find all the true nearest

[2018-07-26 02:32] #337 closed

[2018-07-28 08:01] lesshaste opened #339 "How do you use leven?"
I am trying to use the space 'leven'. Here is a toy example of a failed attempt.

[code]

This gives:

I also tried:

`seqs.append(v)`

with the same failure.

What is the right way to do this?

[2018-07-28 17:10] searchivarius commented on #339
Hi @lesshaste it requires an integer data (or you can use normalized Levenshtein ``normleven'' instead). Anyways, you need to init the library with additional argumens:
[code]

[2018-07-28 19:34] lesshaste commented on #339
Thanks. In the end this worked.

[code]

In short, I needed to make a list of strings.

I am not sure I understand what you meant by "it requires an integer data " as an array of ints doesn't work.   Do you mean it has to be a string of ints?

[2018-07-28 20:01] pawmis commented on #338
Hello @searchivarius sorry to bother you. But this error was due to some other problem on google cloud. It is not related to nmslib. It is because I was searching with the same query stored in cache again and again.

[2018-07-28 20:01] #338 closed

[2018-07-29 00:00] searchivarius commented on #339
@lesshaste print_progress isn't a valid argument for the query function.

Regarding the type int: we have types of the distance: int, float, double and type of the object. It can be dense vector, sparse vector and anything that is a string.

Well, it looks like the distance type other than float isn't useful, but this wasn't clear when the library was created.

[2018-07-29 00:00] #339 closed

[2018-07-29 06:10] lesshaste commented on #339
Sorry I still don't understand fully. Would you mind showing me the full version of my code below that uses dense vectors please. This doesn't work, for example,

[code]

The only version I have managed to get to work is when v is converted to a string.

[2018-07-29 06:11] lesshaste opened #340 "Feature request: Hamming distance for non-binary vectors"
I hope it isn't inappropriate to make feature requests, but it would be great if nmslib supported Hamming distance for alphabets of size greater than 2.

[2018-07-29 06:14] searchivarius commented on #339
Sure, but v **must** be converted to string. Levenstein distance is defined on strings, but the distance type is integer:
[code]

[2018-07-29 06:16] lesshaste commented on #339
Thanks so much!  I have other questions but I will ask them in a different issue :)

[2018-07-29 06:17] searchivarius commented on #340
@lesshaste do you mean strings or integers?

[2018-07-29 06:18] searchivarius commented on #339
@lesshaste you are most welcome!

[2018-07-29 06:20] lesshaste commented on #340
I don't really make a distinction but let me be more precise. I will write HD for Hamming distance.

HD('0215', 0211') = 1

HD([0,2,1,5], [0,2,1,1]) = 1

So the difference is just what is convenient for you as coders.

[2018-07-29 16:35] lesshaste opened #341 "Approximate leven seems slower than exact"
I tested the leven method as I was interested to see how fast and accurate it is.  It seems that leven with hnsw (that is approximate leven) is slower than with brute_force (exact leven). First the timing with hsnw.

Now the timing with brute_force

Here is the code to reproduce these results. Just change the method from hnsw to brute_force to get the second set of timings.

[code]

[2018-07-29 22:58] searchivarius commented on #341
Hi @lesshaste this is just a tiny data set plus your strings a bit too long. We don't have an truly efficient Levenshtein distance yet. It is probably possible to make things two orders of magnitude faster. In a more reasonable setting with 100K shorter data points I get:
[code]
The code is
[code]

[2018-07-30 13:48] searchivarius commented on #341
Indexing is long, but querying is 150x faster.

[2018-07-31 16:41] lesshaste commented on #341
Sorry I meant something a little different. I changed your code to query with the whole of seqs (not seqs[0:queryQty]). The full output is now:
[code]

In other words, it is faster to compute all the answers naively using brute force than to build the index. Of course once you have computed all the answers then lookups will be very fast.  So it seems that at the moment there is no point in using h

[2018-07-31 16:54] searchivarius commented on #341
@lesshaste if compare times to build the complete k-NN graph, it's a bit surprising it take

[2018-07-31 16:55] searchivarius commented on #341
@lesshaste sorry, I didn't get your original point. If you are comparing the times to build k-NN graph, then it's indeed very surprising that brute-force search is being slower, but if you query all the strings, it takes the same time as the index construction (which relies on the same retrieval procedure as querying).

[2018-07-31 17:30] searchivarius commented on #341
PS: @lesshaste Ohhh, I think it can be a lock contention. I had a similar issue with SW-graph, which I resolved. But this fix was never applied to HNSW. It manifests only with distances that are expensive to compute (like Levenshtein with long strings).

[2018-07-31 20:28] lesshaste commented on #341
That sounds very interesting!

[2018-08-05 11:48] lsorber commented on #327
With the latest version on PyPI (1.7.3.2), we're still seeing many messages like this popping up in our test suite:
[code]

[2018-08-05 16:46] searchivarius commented on #327
argh, sorry...

[2018-08-05 16:47] searchivarius commented on #327
I guess, we don't want to do any logging in destructors. This one might be rather easy to fix though.

[2018-08-06 14:01] jodevak opened #343 "Squared Euclidean for normed vectors"
Is it possible to perform search on l2 normed vectors using squared-euclidean distance ?

[2018-08-06 14:43] jodevak commented on #343
@searchivarius Im asking because this because i dont know the details of the approximate l2 calculation, however if the results are actually given using the original l2 forumla i will square the results ,  thanks alot.

[2018-08-06 15:00] searchivarius commented on #343
@jodevak ok, no problem, thanks! I was just trying to make sure we were on the same page (i.e., I understand your need).

[2018-08-06 15:00] #343 closed

[2018-08-06 19:07] lsorber commented on #327
Yes, with the latest version we don't see any warnings anymore in our test suite. Thanks!

[2018-08-06 19:09] searchivarius commented on #327
Great, thank you very much for confirming!

[2018-08-06 19:09] #327 closed

[2018-08-23 05:40] xuxiaohui4 commented on #309
what about the build time you get last?

[2018-09-18 17:38] e45lee opened #346 "HNSW -- Can't Save a Loaded Optimized Index"
Currently one can't save a optimized index for HNSW that was previously loaded.  Trying to load such a saved index causes NMSLib to crash.

As far as I can tell, it's cause it uses `ElList_.size()` to determine what to write: https://github.com/nmslib/nmslib/blob/aae2cbf315627e33e4475c7f4640252efa45c066/similarity_search/src/method/hnsw.cc#L754
but it never saves `ElList_`, nor does LoadOptimizedI

[2018-09-18 17:50] searchivarius commented on #346
Please, post your Python code, did you check our examples? https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_optim.ipynb

[2018-09-18 17:52] e45lee commented on #346
I'm actually using the C++ code directly but I'll see if I can't reproduce it with the Python bindings.

[2018-09-18 17:52] searchivarius commented on #346
Ohhh sorry, I got you. Ehh, very likely the second time it will not save it correctly.

[2018-09-18 18:19] e45lee commented on #346
Well, I can currently get it to produce garbage in the second index from the Python notebook.  I've attached the modified notebook, the first index, and the result of saving the loaded copy of the first index.
[bad-index.zip](https://github.com/nmslib/nmslib/files/2394045/bad-index.zip)

[2018-09-19 00:07] searchivarius commented on #346
Yes, it does, thank you. Well, currently this still very much experimental code: one can use it, but it is not very robust. I plan to address it in a new version though.

[2018-09-19 16:08] e45lee commented on #346
Cool, thanks!

[2018-09-21 15:12] bkj opened #347 "Sparse cosine slower than brute force"
I'm looking at the [sparse cosine notebook](https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_sparse_cosine.ipynb).  It looks like NMSLIB is actually slower than the brute force baseline:

[code]

NMSLIB takes `0.895622` vs brute KNN taking `0.655375` -- is that right, or am I misunderstanding?

[2018-09-21 15:44] searchivarius commented on #347
Hi @bkj : this is not impossible, b/c the data set is very small. If this is true for say 100K data points then I would have been worried.

[2018-09-21 15:51] bkj commented on #347
Any pointers to a larger sparse dataset I could test with?

[2018-09-21 15:53] searchivarius commented on #347
@bkj https://github.com/nmslib/nmslib/blob/master/data/download_wikipedia_sparse.sh
Please, post the results. I am pretty sure, it's fine at the C++ level, but I wonder this might not translate into Python bindings for sparse spaces. Thanks!

[2018-09-21 16:17] bkj commented on #347
OK cool -- running the same code w/ a query/index split of 27K/3K records from the wikipedia dataset:
[code]
so that looks much better.  Might be good to add a disclaimer to the example notebook.

[2018-09-21 16:44] searchivarius commented on #347
@bkj thanks a lot for testing! this makes sense. the gap increases with the data size. I have added a couple of words to one of the readme pages.

[2018-09-21 16:44] #347 closed

[2018-10-01 13:43] ivan-marroquin opened #348 "Installation issues on a Windows machine"
Hi,

I have Python 3.6.5 on a windows 10 machine. I already have pybind11 (2.2.4) with  visual studio 2015 (see screen shot)
![visual_studio](https://user-images.githubusercontent.com/28459534/46291875-2cd74e80-c555-11e8-81b3-272a4522097f.PNG)

Then, when I ran the command "pip install nmslib" from a DOS terminal, I noticed two error messages:
A)   This one occurs almost at the beginning of the co

[2018-10-01 21:18] searchivarius commented on #348
I personally never built this new version on Windows yet :-( Are you sure you executed all the steps from this page: https://github.com/pybind/python_example#installation ??

[2018-10-01 22:17] ivan-marroquin commented on #348
Thanks for the suggestion. I downloaded the zip file, and then I looked for "python_example" file. No luck. The instructions seems to follow a linux command rather than a call in windows.

But I noticed there is folder named "python_bindings" that contains a setup.py file

![directory_structure](https://user-images.githubusercontent.com/28459534/46318824-60d66200-c59d-11e8-8a14-5d2b95060406.PNG)

[2018-10-01 23:42] benfred commented on #348
@ivan-marroquin you hit two different issues there =(

The first issue was introduced in this commit: https://github.com/nmslib/nmslib/commit/75926713c4c4e4ef12ac007e8e43cb70032098dc and shows up in your error log as
[code]
(the rest of it was just noise unfortunately - fixing that would make the build work)

The second issue is that we have a symlink in python_bindings/nmslib that wasn't set up c

[2018-10-01 23:44] benfred commented on #295
@searchivarius I don't think the windows CI is working - the appveyor link on the readme still points to the 'searchivarious/nmslib' repo and hasn't run since we moved to the nmslib organization =(.

This should be fixed with the previous commit

[2018-10-02 00:55] searchivarius commented on #295
@benfred many thanks!

[2018-10-02 12:28] ivan-marroquin commented on #348
Thanks so much benfred for a such quick fix!

Could you let me know when I can download a new version of this library? Also, for the installation of this library in Windows, the procedure is to run "python setup.py install" (from the python_bindings folder)? Am I correct?

Ivan

[2018-10-02 15:00] searchivarius commented on #348
Hi @ivan-marroquin I have uploaded code to pipy, could you try it? Thank you!

[2018-10-02 16:20] ivan-marroquin commented on #348
Hi @searchivarius , I just downloaded from the pipy website. The compilation almost finished without error. At the very end, I got these messages:

.\nmslib\similarity_search\include\method/hnsw.h(292): warning C4267: 'argument': conversion from 'size_t' to 'const int', possible loss of data
.\nmslib\similarity_search\include\method/hnsw.h(294): warning C4267: 'argument': conversion from 'size_t'

[2018-10-02 17:12] benfred commented on #348
I don't think the fix made it into the 1.7.3.5 release? It looks like the same error message as first seen, and when I downloaded the release from pypi - I don't see the fix in hnsw.cc

grepping for the fix in the tarball on pypi:
[code]
shows:
[code]

[2018-10-02 17:49] searchivarius commented on #348
@benfred thank you, I will double check. something has possibly gone wrong.

[2018-10-03 13:41] tgsmith61591 opened #350 "TypeError: loadIndex(): incompatible function arguments"
I might be misunderstanding how this function is used, but per the [documentation](https://benfred.github.io/nmslib/api.html#nmslib-floatindex), I expect to be able to persist and load an index from disk.

Using the `saveIndex` method, I've saved an index:

[code]

But trying to load the index yields the `TypeError`:

[code]

Additional info/thoughts:

* In the actual call, I am using an absolute

[2018-10-03 13:44] searchivarius commented on #350
Hi @tgsmith61591 : load index is not static: https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_optim.ipynb

[2018-10-03 13:49] tgsmith61591 commented on #350
Thanks for the clarification, @searchivarius. That was my fear 😄 Knowing that it's not static, the way I got around this was re-initializing the index:

[code]

And this appears to work. Whether there are any side-effects to re-initializing and loading, I'm not sure.

[2018-10-03 14:06] searchivarius commented on #350
@tgsmith61591 there's currently a bit of a mess due to somewhat adhoc development path, but if you
1. Use a non-optimized index you have to reload data.
2. For the optimized index this is not necessary.
I will fix this in the future, but, currently, please, follow one of the notebook recipes.

[2018-10-04 03:12] #295 closed

[2018-10-04 03:13] #350 closed

[2018-10-04 03:16] searchivarius commented on #348
@benfred and @ivan-marroquin ok, now I think I picked up the latest changes.

[2018-10-04 18:40] benfred commented on #348
@searchivarius the newest release (1.7.3.6) looks good to me! thanks!

[2018-10-04 20:05] ivan-marroquin commented on #348
Hi @searchivarius and @benfred

I was able to compile the latest version. There were some warning messages (I attached the log) but the compilation was successful

If this OK with you, I would like to suggest the following changes to your instructions on a windows machine ( https://github.com/pybind/python_example#installation ):
- download visual studio 14 for windows from this link http://landin

[2018-10-04 23:58] benfred commented on #348
awesome! glad that you got it working.

The warnings are annoying - but can be safely ignored. The step to install pybind11 first is also not strictly necessary (the nmslib install displays an error message if pybind11 isn't installed, but then will fallback and install it and finish successfully - at least when I tried it).

Adding some more install instructions are probably a good idea. I've als

[2018-10-05 15:19] searchivarius commented on #348
Hi @ivan-marroquin regarding the recommendations for parameters.
If you have only a **four**-dimensional matrix,
1. I would use rather small values of M <= 20 and efConstruction <=100. I would have also played with a parameter
2. Likewise I would try use **larger** values of the paramter mult and see if this helps.
3. delanau_type equals two usually works much better
When you experiment, choose a

[2018-10-05 15:19] #348 closed

[2018-10-05 15:20] searchivarius commented on #348
@ivan-marroquin using post=2 or post=1 is usually a good idea, unless indexing becomes too long.

[2018-10-05 16:37] ivan-marroquin commented on #348
Hi @searchivarius  and @benfred

Thanks for everything!

[2018-10-17 19:07] BorisLestsov opened #351 "indexThreadQty_ is uninitialized if index is loaded but not created (SmallWorldRand)"
As far as I see, the only place where indexThreadQty_ gets initialized is SmallWorldRand::CreateIndex.
If index is loaded by SmallWorldRand::LoadIndex and not created by SmallWorldRand::CreateIndex, errors might occur.

For example, error occurs in "/similarity_search/src/method/small_world_rand.cc" if addBatch is called (throws std::bad_alloc).

![image](https://user-images.githubusercontent.com/

[2018-10-17 19:19] searchivarius commented on #351
@BorisLestsov ohhh, right, b/c mostly we don't add anything after the index is created. The only mode is an experimental app that can add and delete the stuff incrementally. So, anyways, this is an easy thing to fix. Would you care to submit a pull request? The number of threads should be deduced from a respective index-time parameter.

Thank you!

[2018-10-17 19:39] BorisLestsov commented on #351
@searchivarius Thank you for your answer. I might submit a pull request if I will manage adding and deleting objects from my index :D Right now I am kind of confused, so could you provide some example of how to use this functionality? Or at least describe what should I do to add and delete elements from loaded index. I have not found anything about this in docs.

Right now, I imagine the whole pro

[2018-10-17 22:33] goldan opened #352 "File format incompatibility between 1.6.3 and 1.7"
After upgrading to 1.7 I can no longer open files created with 1.6.3. The error is in `loadIndex`: `RuntimeError: Check failed: it's either a bug or inconsistent data!` Loading the same file works fine in 1.6.3.

[2018-10-17 22:52] goldan commented on #254
Any workaround for 1.6.3? I can't upgrade to 1.7 because of https://github.com/nmslib/nmslib/issues/352

[2018-10-18 14:45] searchivarius commented on #352
Hi @gold I apologize for this lack of compatibility. I do not have capacity to support index compatibility yet, but as a workaround please consider redirecting the logging output to a file. This requires only a minor change in the binding's code. Here, you need to specify the file name in the function initLibrary:
https://github.com/nmslib/nmslib/blob/v1.6/python_bindings/nmslib.cc#L151
Clearly, y

[2018-10-18 14:45] #352 closed

[2018-10-19 14:36] phdowling commented on #172
I am curious for some more insight on setting these parameters. I frequently query indexes for thousands of results (k ~ 1k-10k), so my instinct is to set efSearch to a high value. Will this fail if I do not also set a very high efConstruction? This might make index construction prohibitively expensive.

Any insight on how to tackle this problem? Is HNSW even the right algo to use if I am more int

[2018-10-19 15:40] searchivarius commented on #172
@phdowling there's no guarantee. But setting ``efSearch`` to a higher value usually helps. Increasing M and ``efConstruction`` also helps. Setting ``post`` to 1 or 2 also helps. However, all these measures also increase indexing time, sometimes quite dramatically.

Regarding your recall question: I understand it that you mean the extrinsic recall (the k-NN recall and precision is the same thing, [

[2018-10-23 14:47] searchivarius commented on #351
@BorisLestsov sorry for the delay, the testing app is here: https://github.com/nmslib/nmslib/tree/master/test_batch_app
It is all very experimental. After reading through the code I have doubts you can save a dynamic index. Probably not.

[2018-10-23 15:17] BorisLestsov commented on #351
@searchivarius
Thank you for your answer. Actually, after some code modification a was able to save Index after elements were added and it works correct.
BTW, I think I found a critical bug in SmallWorldRand::AddBatch. If I am right I will make pull request later. The problem is here: https://github.com/nmslib/nmslib/blob/master/similarity_search/src/method/small_world_rand.cc#L154
Basically, this

[2018-10-23 15:50] searchivarius commented on #351
@BorisLestsov I worry about deletions. Additions work well in the HNSW repository, but deletions are implemented on in this experimental version.

Regarding the bug: nice catch!

[2018-10-24 14:23] Ceceu opened #353 "Can't load python NMSLIB index?"
Hello,

I am trying to load the index using the code provided in [notebook 5](https://github.com/hamelsmu/code_search/blob/master/notebooks/5%20-%20Build%20Search%20Index.ipynb):

[code]
But, the following error happens:
[code]

My computer has only 8GB as primary memory. So, did this happen because the index is over 8GB and could not be loaded into memory?

Thank you for any help.

[2018-10-24 15:13] searchivarius commented on #353
Hi @Ceceu could you please check the following:
1. That notebook you reference is consistent with our notebook: https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_optim.ipynb
2. You use the latest version of NMSLIB.

[2018-10-24 15:28] Ceceu commented on #353
Thanks for the quick response,

The notebook I referenced is consistent with yours and uses version 1.7.2.
However, I really do want to understand the reason for the error. Has it occurred because my computer does not have enough memory to load the index (which has more than 8.6GB)? What does "Check failed: data_level0_memory_" mean?

Thank you very much.

[2018-10-24 15:49] Ceceu commented on #353
That's the reason then. The data has 8.6GB and I only have 8GB RAM.

[2018-10-24 15:53] searchivarius commented on #353
@Ceceu thanks for checking. Yep, it is not enough.

[2018-10-24 15:53] #353 closed

[2018-10-26 19:27] chunjiangzhu opened #354 "Does HNSW support Jaccard distance on binary vector inputs?"
Hi, We searched previous posts #306 and found that HNSW supports "bit_hamming". We suppose the input can be binary vectors because the distance name has a "bit" there.

Then, does HNSW also supports Jaccard distance on binary vectors? We have a concern that the algorithm itself (not the implementation) does not work for Jaccard distance on binary vectors. If it works, the code in the notebook (htt

[2018-10-26 19:45] searchivarius commented on #354
@chunjiangzhu to see if the algorithm works for bit vectors, you can use the sparse Jaccard space. You just need to convert binary vectors to a set of IDs. But we do not support computation of the Jaccard over binary vectors directly, sorry.

It's surprising to hear that HNSW doesn't work for Jaccard, which is a nice metric. Could you provide a sample?

[2018-10-26 21:40] chunjiangzhu commented on #354
Thank you, for your prompt reply. Yes, we have applied your code on binary vectors with the sparse Jaccard space. The results look nice. But we were not 100% sure theoretically whether the algorithm works for Jaccard  on **binary inputs**, so we posted the question to get a quick answer.

BTW, a naive question: the name "non-metric space library" does not mean that the algorithms there are designe

[2018-10-26 23:05] searchivarius commented on #354
Hi @chunjiangzhu no problem. Just to make sure, there are two sides of the problem:
1. Whether an algorithm works with Jaccard in principle
2. Whether we have an implementation that computes the Jaccard-based distance given two binary dense vectors.
I would emphasize that in both cases, we have the same distance function. However, the difference will be in the **encoding** only. For example, if yo

[2018-10-26 23:05] #354 closed

[2018-11-07 22:10] blackberrybhtg opened #355 "Question for retrieving all data points (not feature request)"
My question is does hnsw index support retrieving all data points indexed? From the current API, it doesn't seem likely. I am just double confirming that and wondering how much work it might take to add that.

[2018-11-08 02:51] searchivarius commented on #355
@blackberrybhtg not much, but I'd rather not do this. I have plans to address this issue in a more systematic fashion in a newer version.

[2018-11-08 02:51] #355 closed

[2018-11-08 19:06] blackberrybhtg commented on #355
Great to heart about a newer version! When roughly can we see the new version? Like 2018, early/mid 2019?

[2018-11-08 19:08] searchivarius commented on #355
Not very soon, but I will be working on it next year.

[2018-11-15 08:40] chomechome opened #356 "Optimized index raises RuntimeError on load when saved with `negdotprod` space"
Basically, this is what I am trying to do
[code]
and it raises
[code]

If I change `space` variable to `cosinesimil`, it works just fine. It seems that data points are not stored, even though `hnsw` method with `skip_optimized_index=0` is used.

[2018-11-15 15:30] searchivarius commented on #356
Optimized index doesn't work with anything except l2 and cosine sorry.

[2018-11-27 12:42] matthen opened #358 "Speed up pip install"
Currently pip installing is slow, since there is a compile step. Is there any way to speed it up? On my macbook:

[code]

would it be a good idea to provide pre-compiled wheels over pip? That would also simplify the process of finding the pybind11 headers (I had to do something special to copy them in for pip when running with a `--target` dir)

[2018-11-27 13:14] matthen opened #359 "Importing nmslib, cannot load any more object with static TLS"
I am getting a dlopen error when import nmslib after numpy:

[code]

switching the order gives no error, and everything works correctly. But in the context of a large code base, it is hard to ensure that nmslib is always imported first, since there are many entry-points. The same thing happens with tensorflow, and it looks similar to this issue: https://stackoverflow.com/questions/50398358/import-

[2018-11-27 15:57] searchivarius commented on #358
Hi @matthen I am not sure about precompiled binaries, but it doesn't make much sense, b/c it will not be compatible across all platforms. I will keep instead working on a leaner version of the library.

[2018-11-27 16:32] searchivarius commented on #359
Hi @matthen thank you for the thorough investigation! does tls-model=global-dynamic help?

[2018-11-28 00:12] matthen commented on #359
No it doesn't :/

[2018-11-28 00:43] searchivarius commented on #359
Funny, we don't use much thread local storage: just a few bytes.

[2018-11-28 00:44] matthen commented on #358
I think various other libraries provide pre-built wheels over pip, e.g. tensorflow

[2018-11-28 01:17] searchivarius commented on #358
@matthen yes and basic tensorflow setup doesn't even support SIMD. It is possible, but it's going to be a pain to implement. Again, I would rather do it only for the lightweight version.

[2018-11-28 01:32] matthen commented on #359
I was trying to reproduce the numpy example, but it seemed to be working on a new instance. I replaced the original comment above with a tensorflow example that is failing. In practice the issue looks like:

## module using tensorflow `module_a.py`

[code]

## module using nmslib `module_b.py`
[code]

## entry-point, e.g. a unit test: `test.py`

[code]

gives the `dlopen` error.

[2018-11-28 03:06] matthen commented on #359
I think the tensorflow library is forcing static TLS for all the following imports, as it uses TLS and nmslib does not.

[code]

+ no results for nmslib. That explains why importing nmslib first causes no error.

Another 'fix' is to set `LD_PRELOAD=nmslib.cpython-36m-x86_64-linux-gnu.so`, but I don't have a very good way of setting that everywhere/for everyone

[2018-11-28 03:11] searchivarius commented on #359
@matthen could you try to add the option -fPIC -ftls-model=global-dynamic inside the BuildExt function in ``puthon_bindings/setup.py``? You can then install the library locally. I think pip likely ignores external CXX flags.

[2018-11-28 03:37] matthen commented on #359
I confirmed above that there is no TLS line in my built `nmslib.so` file with readelf:

[code]

[2018-11-28 03:44] searchivarius commented on #359
thank you for the thorough check. Internet says that with global-dynamic it should be fine, but it is not, argh. :-(

[2018-11-28 05:17] matthen commented on #359
One trick that helped in one part of our code was to remove some parts of tensorflow we don't use, and that use TLS:

[code]

[2018-11-28 05:54] searchivarius commented on #359
@matthen interesting, how do figure out which parts do?

[2018-11-29 20:39] happypetewht commented on #307
I have similar issues when in stalling nmslib in Google Colab.

Collecting nmslib
  Using cached https://files.pythonhosted.org/packages/e1/95/1f7c90d682b79398c5ee3f9296be8d2640fa41de24226bcf5473c801ada6/nmslib-1.7.3.6.tar.gz
Requirement already satisfied: pybind11>=2.0 in /usr/local/lib/python3.6/dist-packages (from nmslib) (2.2.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/

[2018-11-30 19:33] happypetewht opened #360 "Stuck to install in Google Colab"
I tried to install nmslib in Google Colab, it showed below and stuck there.

_______________________________________________________________________________________________________________
Collecting nmslib
  Downloading https://files.pythonhosted.org/packages/e1/95/1f7c90d682b79398c5ee3f9296be8d2640fa41de24226bcf5473c801ada6/nmslib-1.7.3.6.tar.gz (255kB)
    100% |████████████████████████████████

[2018-11-30 20:01] searchivarius commented on #360
Sorry about this, there seems to be an issue with pybind. Did you try:
[code]

[2018-11-30 20:15] happypetewht commented on #360
yes, I did. It does not work either.

[2018-11-30 20:20] searchivarius commented on #360
@happypetewht what does the following line print:
[code]
Could you also find the exact installation location of pybind11? It is in principle possible to specify these locations in the make/setup files, I think.

[2018-12-01 19:01] scottgigante commented on #245
Just a note that building `bdist_egg` on a machine with Visual Studio installed and then installing it on a machine without seemed to work - at the very least the install was successful and `python_bindings/tests/bindings_test.py` passed.

[2018-12-01 19:02] scottgigante commented on #358
I second this - by providing binaries for Windows, tensorflow avoids the heavy dependency of Visual Studio for simple installations.

[2018-12-02 19:33] happypetewht commented on #360
I did with the line "python -c 'import pybind11; print(pybind11.get_include())'"

it shows "/usr/local/include/python3.6"

I have been trying to find pybind11

[2018-12-03 18:50] searchivarius commented on #360
Sure, you can try to
1. First check that pybind is indeed installed to that directory.
2. If it is installed in another place, you can try to specify it in https://github.com/nmslib/nmslib/blob/master/python_bindings/setup.py#L119

[2018-12-04 15:36] scottgigante commented on #358
@searchivarius I built it by running `python setup.py bdist_wheel` on a Windows machine. If you have Python 3.5, 3.6 and 3.7 all installed, (and I'm assuming you already use `twine` to upload your source distributions) you could run the following:
[code]
Note that the same commands run on linux will provide unix binaries, which will also be good for speeding up installation on those systems.

[2018-12-04 15:48] searchivarius commented on #358
@scottgigante thank you! Comment: one needs to limit the set of SIMD instructions for this to be truly useful. If you have AVX2, but other folks don't.... this won't work.

[2018-12-04 15:50] scottgigante commented on #358
That's a very good point!

[2018-12-07 18:47] BorisLestsov commented on #351
Closing due to
https://github.com/nmslib/nmslib/pull/357

[2018-12-07 18:47] #351 closed

[2018-12-19 08:42] BinNong opened #362 "Can it support incremental building?"
while I load an existing index, can I add new items(vectors) to this old index and rebuild it ? (i.e, it is not necessary  build a new index and fit it from scratch!)

[2018-12-21 04:44] searchivarius commented on #358
Hi @scottgigante would you care to make a similar fix for Windows:
https://github.com/nmslib/nmslib/pull/361
? It shouldn't break the Unix part though. Thanks!

[2018-12-21 21:05] scottgigante commented on #358
@searchivarius I've had a look in `setup.py` and I don't see any code which sets `\arch`. I looked at the docs and I don't see any MS equivalent to `march=native`.

But also, when I ran `$env:CFLAGS="\arch=AVX"; python setup.py install` (powershell) this flag didn't get sent to `cl` at compile time. Not quite sure how to set this.

[2018-12-21 21:15] scottgigante commented on #358
On a separate note, I've been working on a PR to make travis and appveyor automatically build wheels and submit them to pypi - only problem is I've hit a stumbling block where nmslib won't compile on x86. Not sure if this a configuration problem or actually a bug in the code. https://ci.appveyor.com/project/scottgigante/nmslib/build/job/8u82lkbthwp82iqm

[2018-12-22 18:48] searchivarius commented on #358
Hi @scottgigante great, regarding settings, it seems to me that this array specifies the MSVC compilation flags:
https://github.com/nmslib/nmslib/pull/361/files#diff-535bcc8311fdc34129ee96ab7738ba25R86

[2018-12-22 18:49] searchivarius commented on #358
@scottgigante
[code]
one can modify it later too

[2018-12-22 18:57] scottgigante commented on #358
I see this - but I'm not sure what the fix would be.

[2018-12-23 01:01] scottgigante commented on #358
I've submitted a PR which just takes a single environment variable `ARCH` which can take the following values: `IA32|SSE|SSE2|AVX|AVX2|ARMv7VE|VFPv4`. Let me know if you would rather set it in a different way. I've also submitted the automatic deploy PR despite the appveyor x86 build not running - we've gone beyond my C++ pay grade, I'm afraid.

[2018-12-24 18:17] searchivarius commented on #358
@scottgigante this looks right! Do I get it correctly that there exists Windows for ARM?

[2018-12-25 10:55] longmenwaideyu opened #365 "SmallWorldRand multi-thread AddBatch will miss 1st element when ElList_ isn't empty"
I'm trying SmallWorldRand. And I find that if I call AddBatch with indexThreadQty_ > 1 twice, the 1st element in 2nd batch will be missed
because in multi-thread mode, addbatch will start from 1, not start from start_add.
so the 2nd time addbatch, the ElList_ isn't empty, we don't add the 1st element.

    `for (size_t id = 1; id < prm.batchData_.size(); ++id) {
      if (prm.index_every_ == id %

[2018-12-25 20:41] scottgigante commented on #358
Yep, that's correct! Here is the [docs page](https://docs.microsoft.com/en-us/cpp/build/reference/arch-arm?view=vs-2017) and a [blog post about the VS release last May](https://blogs.windows.com/buildingapps/2018/05/08/visual-studio-support-for-windows-10-on-arm-development/)

[2019-02-07 13:48] zelcookie opened #367 "Load index from stream (Python)"
Hi
Is it possible to load metaindex from stream in Python?

[2019-02-07 15:02] searchivarius commented on #367
No, sorry.

[2019-02-07 15:02] #367 closed

[2019-02-14 12:48] niknoproblems opened #368 "print_progress does not work in createIndex method"

[2019-02-14 17:26] searchivarius commented on #368
Hi @niknoproblems could you be a bit more specific?

[2019-02-14 21:24] niknoproblems commented on #368
Hi @searchivarius . I try to use print_progress parameter in createIndex  method of python bindings for nmslib(1.7.3.6). But I don't see any output of progress in a notebook.

[2019-02-15 17:22] #368 closed

[2019-02-16 23:05] gregfriedland opened #369 "Jaccard distance on bit vectors"
Hello,
In https://github.com/nmslib/nmslib/issues/354, there's a comment "Jaccard over the bit vectors is rather trivial to implement, but nobody needed it so far."

Could you describe what would be involved in making this change? I'm trying to apply Jaccard to 2048-bit vectors on millions of inputs and the current representation (which stores each bit as an int?) wants more memory than I have ava

[2019-02-16 23:35] searchivarius commented on #369
Hi @gregfriedland just to make sure we are on the same page: we are talking about the bit-parallel computation of Jaccard over fixed-size vectors, right?

[2019-02-17 01:31] gregfriedland commented on #369
Thanks @searchivarius for the quick response.

Yes, ideally it'd take advantage of bit-parallel operations on 64-bit chunks aggregated up to 2048 bits. That seems like it would be quite fast and more memory efficient.

If you have other suggestions on reducing memory consumption though I'd be very interested to hear them.

[2019-02-17 01:54] searchivarius commented on #369
@gregfriedland it's surely possible to reduce space consumption using techniques implemented in projects such as https://roaringbitmap.org/, but it's certainly quite a bit of engineering. To implement the Jaccard on fixed-size bitmasks, one needs to create a space nearly identical to this one:
[code]
Crucially, the distance function needs to be reimplemented. A bit more detailed description (may b

[2019-02-21 07:18] himansoo opened #370 "the result of knnQuery is different to the result of knnQueryBatch"
I compared with knnQuery() and knnQueryBatch().
But, I have different results. as below

Check the below code.

========= results for knnQuery =======
[4 5 1 2 9 7 8 6 0 3]
[0.34580976 0.40854776 0.43443924 0.4470001  0.4760959  0.49099177
 0.5050826  0.52543676 0.54977345 0.55035424]
========= results for knnQueryBatch =======
[0 9 1 7 5 6 2 4 3 8]
[-1.1920929e-07  1.8902314e-01  3.3199942e-01  3

[2019-02-21 07:28] searchivarius commented on #370
Hi, is it the same if you use ``brute_force`` method?

[2019-02-21 07:59] himansoo commented on #370
yes. the results of brute_force method:

========= results for knnQuery =======
[4 5 1 2 9 7 8 6 0 3]
[0.3458097  0.40854776 0.43443918 0.44700003 0.4760959  0.49099183
 0.50508255 0.52543676 0.54977345 0.5503541 ]
========= results for knnQueryBatch =======
[0 9 1 7 5 6 2 4 3 8]
[0.         0.1890232  0.33199942 0.3898961  0.39615113 0.40524125
 0.41655707 0.42546612 0.5478619  0.6717592 ]

[2019-02-21 23:15] himansoo commented on #370
Thanks for your fast feed-back. I hope that this issue will be resolved in next version. ^^

[2019-02-21 23:46] searchivarius commented on #370
@himansoo sure, but I think you can currently use the batched version. Actually, there seems to be no real reason to have a non-batched version.

[2019-02-25 04:08] madskunker opened #372 "fatal error: 'thrift/cxxfunctional.h' file not found"
Trying to get this working on Mac OSX and I can't get past this.

Any Thoughts?

Thanks

[2019-02-25 04:19] searchivarius commented on #372
Hi @madskunker is this the main part of the library or the query server?

[2019-02-25 04:26] madskunker commented on #372
Well I got past the by updating to thrift 12 and re-generating the cpp files and dropping them in the query-server/cpp_client_server/gen-thrift directory.

But now on the make I get

error: no viable conversion from 'stdcxx::shared_ptr<ThreadManager>' to 'boost::shared_ptr<ThreadManager>'
  boost::shared_ptr<ThreadManager> threadManager = ThreadManager::newSimpleThreadManager(threadQty)

Any ideas

[2019-02-25 04:49] searchivarius commented on #372
@madskunker yep, I have been upgrading to the new thrift later in a different branch, please, check it out here: https://github.com/nmslib/nmslib/commit/10ce8f7197761fec6171b3166666ad40f13db40e#diff-53ecc1e1a64b160b2f058a1def89b71a
There's also a working version of the server that works Apache Thrift 11:
https://github.com/nmslib/nmslib/tree/nmslib4a_postdoc/query_server/cpp_client_server

[2019-02-25 12:17] madskunker commented on #372
Getting close

Just fails the Linking

/usr/local/opt/llvm/bin/clang++ -oquery_server  gen-thrift/QueryService.o gen-thrift/QueryService_server.skeleton.o gen-thrift/protocol_constants.o gen-thrift/protocol_types.o QueryService_server.o -L/usr/local/lib -L../../similarity_search//release -lthrift -lNonMetricSpaceLib -lboost_program_options -pthread -fopenmp
duplicate symbol _main in:
    gen-thrif

[2019-02-25 12:43] madskunker commented on #372
Got Thrift 11 version working FYI

[2019-02-25 12:45] searchivarius commented on #372
@madskunker it looks like main is defined in more than one file for some reason.

[2019-02-25 13:01] madskunker commented on #372
yep  the QueryService_server.skeleton.cpp file with thrift 12 has another main in it.  Just punted back to thrift 11  for now.

Is there a readme on  how to  use query_server and query_client?

[2019-02-25 16:10] #372 closed

[2019-02-25 16:21] searchivarius commented on #372
@madskunker I should really add some, but basically the query server accepts the same set of parameters as the binary experiment, which is described in the manual see p 20-24 in the manual: https://github.com/nmslib/nmslib/blob/master/manual/manual.pdf
Plus, you need to specify the address/port of the server.
Query client is pretty much self-explanatory (run an example to see the options). Please,

[2019-02-26 03:00] madskunker opened #373 "Unable to use ExternId"
How do I set the externId in my  vector file so the query_server returns it when requested?

[2019-02-27 01:32] searchivarius commented on #373
Hi @madskunker external IDs are half-backed feature, which is supported only by few spaces. One easy workaround to change the query server so it reads a separate file with IDs. In the newer version, I would implement something like this.

[2019-02-27 01:35] madskunker opened #374 "What is the best Space and Method for Word Vectors"
Been struggling at getting even remotely good recommendation from nmslib.   I have taken the GoogleNews vectors and trimmed them down to 10 dimensions to make it easier for testing.

If I use the id  as the offset into the original vectors the words associated with these are just not even remotely close.

I have tried several combinations but would appreciate any thoughts others have on this subje

[2019-02-27 01:38] madskunker commented on #373
Yep that is basically what I have done.  I assumed that the externId is the array offset into the vector rows.  Is that a safe assumption?

[2019-02-27 02:40] madskunker commented on #374
Additional note.  No matter what method I select the results are always the same.  Perhaps it is the format of my vectors.

`0.001129150400	-0.000896453860	0.000318527220	0.001533508300	0.001106262200	-0.001403808600	-0.000030517578	-0.000419616700	-0.000576019300	0.001075744600
0.070312500000	0.086914060000	0.087890625000	0.062500000000	0.069335940000	-0.108886720000	-0.081542970000	-0.1542968800

[2019-02-27 03:28] searchivarius commented on #373
@madskunker sorry, I am a bit confused about your assumption. You need to hack/replace the set of external IDs in this place:
https://github.com/nmslib/nmslib/blob/master/query_server/cpp_client_server/QueryService_server.cpp#L109
The data set is read in a single thread, so entries are read in order.

[2019-02-27 03:30] #373 closed

[2019-02-27 03:35] searchivarius commented on #374
@madskunker how do you use and index data? Is it query server, Python? Query server assigns offsets for IDs (https://github.com/nmslib/nmslib/blob/314f48e0f86efafe9f6ad853236603400030a0ac/similarity_search/src/space.cc#L34), but in Python you can override this.

[2019-02-27 03:39] searchivarius commented on #373
@madskunker ohhh for the query server the assumption is safe:
https://github.com/nmslib/nmslib/blob/314f48e0f86efafe9f6ad853236603400030a0ac/similarity_search/src/space.cc#L34

[2019-02-27 03:53] madskunker commented on #374
i was using the query_server -i/--dataFile to read the file that contains the vectors.

./query_server -i ../../data/pans/GNV10Dim.txt -p 10000  -m sw-graph -s word_embed:dist=cosine

Kind of thinking this is the source of the issue.

[2019-02-27 03:59] searchivarius commented on #374
@madskunker gosh, I completely forgot about that one. This is space actually does read the external ID on its own. It assumes ID (or  a word) to be in the first column. The following columns are actual vector elements :-) The query server can retrieve this IDs. BTW, there's no need to use sw-graph any more, please, use HNSW. Don't forget to specify indexing and retrieval params. Something like:
[c

[2019-02-27 04:14] madskunker commented on #374
so you thinking I can feed it a vector file like this
`in	0.070312500000	0.086914060000	0.087890625000	0.062500000000	0.069335940000	-0.108886720000	-0.081542970000	-0.154296880000	0.020751953000	0.131835940000
for	-0.011779785000	-0.047363280000	0.044677734000	0.063476560000	-0.018188477000	-0.063964844000	-0.001312255900	-0.072265625000	0.064453125000	0.086425780000
that	-0.015747070000	-0.02832

[2019-02-27 04:16] madskunker commented on #374
Well I tried it lol

libc++abi.dylib: terminating with uncaught exception of type std::runtime_error: 2019-02-26 22:16:07 space_vector.cc:70 (CreateObjFromStr) The # of vector elements (0) line:167  doesn't match the # of elements in previous lines. (11 )

so I got something wrong lol

[2019-02-27 04:26] madskunker commented on #374
Well almost

Get error on running Query

2019-02-26 22:25:23 QueryService_server.cpp:305 (knnQuery) [INFO] Running a 10-NN query retExternId=0 retObj=1 QueryObjStr=sommelier	-0.122070310000	-0.306640620000	0.006134033000	0.061523438000	-0.149414060000	0.441406250000	0.047851562000	-0.250000000000	0.065917970000	0.287109380000

2019-02-26 22:25:23 space_word_embed.cc:90 (HiddenDistance) [ERROR] Che

[2019-02-27 04:31] searchivarius commented on #374
@madskunker I think a query should be without a word.

[2019-02-27 04:32] madskunker commented on #374
that is what I am trying next :)

[2019-02-27 04:39] madskunker commented on #374
Ok well it now runs but the vectors are not good.

Finished in: 0.755 ms
id=77782 dist=5.96046e-08 externId=sommelier
id=1488177 dist=0.0279171 externId=BY_RONNIE_OH
id=2262844 dist=0.0308527 externId=2GHz_CPU
id=2890890 dist=0.0365297 externId=eGrid
id=1363950 dist=0.0398774 externId=Timmins_Porcupine_gold
id=1191996 dist=0.0405659 externId=FloEFD
id=15153 dist=0.0407208 externId=analytical
id=12

[2019-02-27 04:41] madskunker commented on #374
Oh here is the python I used to extract the .bin file

`
from gensim.models import KeyedVectors

filename = 'GoogleNews-vectors-negative300.bin'

model = KeyedVectors.load_word2vec_format(filename, binary=True)

model.wv.save_word2vec_format('GoogleNews-vectors-negative300.txt', binary=False)

`

[2019-02-27 04:58] searchivarius commented on #374
Is there any chance that you are running 10 dimensionsal version?

[2019-02-27 05:01] madskunker commented on #374
I am validating the vector values also.  Thinking the extract from the .bin somehow screwed up the values.

Stay tuned

[2019-02-27 05:05] searchivarius commented on #374
@madskunker if you could compute the cosine similarity using numpy between vectors returned by NMSLIB, you could see if NMSLIB values make sense. Note though that NMSLIB cosine is a "distance". To get a cosine *SIMILARITY* value you need to subtract NMSLIB cosine distance from one.

[2019-02-27 05:14] madskunker commented on #374
what I am seeing is when I pull the vector out of word2vec the vector values are different that what the python script dumped to the file.  I think this is the root of the issue. aka bad vectors = bad results

I am going to write another script tomorrow  to dump all the vectors 1 by 1 into a file and then try again.

[2019-02-27 05:38] searchivarius commented on #374
@madskunker https://github.com/nmslib/nmslib/blob/master/data/data_conv/convert_word2vec.c

[2019-02-27 13:03] madskunker commented on #374
Yep That did the trick.   Was bad vector file

Running a 20-NN query
Finished in: 5.222 ms
id=77782 dist=0 externId=sommelier
id=145492 dist=0.290602 externId=sommeliers
id=177400 dist=0.29405 externId=Sommelier
id=346981 dist=0.321098 externId=master_sommelier
id=40654 dist=0.334505 externId=winemaker
id=391982 dist=0.340012 externId=Master_Sommelier
id=8032 dist=0.34553 externId=chef
id=169949 d

[2019-02-27 13:06] #374 closed

[2019-02-27 13:30] madskunker opened #375 "Multi Word Queries"
I have done individual word_embed queries successfully.

When I attempt multiple words the query_server bombs.

What I have tried is basically sending in both vector strings as  single  string of vectors as well as multi-lined.

I have not found any good documentation on this so any suggestions would be great

[2019-02-27 15:40] searchivarius commented on #375
@madskunker they need to be one-by-one. However, the server is fast and you can query in multiple-threads.

[2019-02-27 15:40] #375 closed

[2019-03-01 18:37] JasonTam opened #376 "Query server make error undefined references"
Hi I'm running into a bunch of undefined reference errors trying to compile the cpp query server. Seems like some linking issue with `lshkit` and `gsl`? Any help would be much appreciated -- thanks.

The make error(s):
[code]

Dockerfile to reproduce:
[code]

I did see also see https://github.com/nmslib/nmslib/issues/372 using thrift11 on that other branch, but ran into the same thing.

[2019-03-01 19:07] searchivarius commented on #376
Sorry about that: you need to build the library without extras and then use the regular makefile, not the one that links extra stuff such as lshkit.

[2019-03-01 19:30] JasonTam commented on #376
Thanks for the quick response! Building without extras worked for me

[2019-03-01 19:30] #376 closed

[2019-03-05 09:12] muffys commented on #290
hi, can you please tell me that how you solved this problem. I am facing the same problem in SDK (vivado)

[2019-03-05 19:52] searchivarius commented on #290
@muffys currently, I cannot support ARMs, sorry. I need to re-write a lot of code to make it possible.

[2019-03-05 22:58] alexklibisz commented on #362
@searchivarius Is there anywhere that we can track this progress? Can you elaborate which particular distance functions and indexing methods will support incremental building?

[2019-03-06 02:27] searchivarius commented on #362
It will support all of them :-)

[2019-03-06 04:59] searchivarius commented on #362
PS: @alexklibisz with respect to tracking progress, I would be interested to know who are the stakeholders, can be in private leo at boytsov dot info.

[2019-03-06 05:37] muffys commented on #290
@searchivarius , yesterday I kept on trying and with some internet help I am able to include "mmintrin.h" into my project.
Can you tell me how to include the other libraries like pmmintrin.h, xmmintrin.h, emmintrin.h in SDK. Actually I saw that mmintrin.h library is different in arm environment and in eclipse (C) environment. but with some settings I am able to add that mmintrin.h in the project.

[2019-03-06 05:57] searchivarius commented on #290
@muffys just to be sure: are you talking about ARM? Here the primary issue is with this thing not working on ARM. If this is Intel, I think this should be fixable. What's your OS/environment?

[2019-03-06 06:57] muffys commented on #290
I am not using any OS. I am using xilinx SoC based FPGA. It has dual core arm processor. In the SDK arm application I am trying to migrate the Eclipse or Linux running code of Viterbi decoder.
In there it uses libraries (names pmmintrin.h,emmintrin.h,xmmintrin.h,mmintrin.h). In this xilinx based arm environment, I found that it has mmintrin.h header file but it throws the error (#error mmintrin.h

[2019-03-06 18:25] searchivarius commented on #290
@muffys it seems like a lot of pain, sorry. Again, I actually did try to compile things on ARM and I think I have to change a lot to make it work, did you have a look at https://github.com/nmslib/hnswlib ? I think it might be easier to compile on ARM, but I am not 100% sure.

[2019-03-07 04:49] muffys commented on #290
@searchivarius thanks a lot. I'll try the link you provided.

[2019-03-11 07:59] muffys commented on #290
@searchivarius I wrote the code for that without the use of those libraries. I was wasting too much time in searching for methods to solve the error to include those libraries in arm.

I still need on help. I am getting this error and didn't found solution yet
undefined reference to posix_memalign in Arm.
This is perfectly working in Eclipse environment and I am not getting any error. But in arm (

[2019-03-11 14:19] searchivarius commented on #290
@muffys I don't think hnswlib uses posix_memalign directly. In any case, posix_memalign  should be available on Linux (and ARM platforms mostly use Linux I believe). Make sure you link against the standard library.

[2019-03-13 11:31] muffys commented on #290
@searchivarius thanks a lot. :-). I am not using Linux on arm thats why things are a bit difficult. But I did the other way round and removed all the posix statements and did using memset. Thanks a lot for all the help. It really helped me and gave directions to me for finding out the solutions. Thanks a lot :-)

[2019-03-13 15:39] searchivarius commented on #290
I am glad this was helpful, @muffys could tell a bit more about what you removed?

[2019-03-14 05:15] muffys commented on #290
Actually the main problem was, I wrote a C code, implemented in eclipse and in that I used Cygwin compiler. And then I used the same C code in arm and its not working. Actually in arm (xilinx SDK), I am not using any OS (linux etc) so the libraries (pmmintrin.h,emmintrin.h,xmmintrin.h) were not working and I checked the lib, bin and other folders and didn't found those header files. Even I tried f

[2019-03-14 16:17] searchivarius commented on #290
@muffys POSIX is surely shouldn't be supported in pure C, this makes a lot of sense. Thank you for details!

[2019-03-18 01:35] paiforsyth opened #377 "-march=native passed to gcc but not supported on power"
Attempting to install via pip on power architectures yields the error below.  Problem seems to be that "-march=native" is passed to gcc, but this is not supported on these architectures.

building 'nmslib' extension
    creating build
    creating build/temp.linux-ppc64le-3.6
    creating build/temp.linux-ppc64le-3.6/nmslib
    creating build/temp.linux-ppc64le-3.6/nmslib/similarity_search
    cre

[2019-03-18 15:35] searchivarius commented on #377
This stuff likely won't work on non-Intel CPUs, sorry about this.

[2019-03-18 15:35] #377 closed

[2019-03-19 23:16] rpoli40 opened #378 "Stuck to install in SageMaker"
Tried to install on SageMaker in conda_python3 and conda_python2 and got the same error:
Collecting nmslib
  Using cached https://files.pythonhosted.org/packages/e1/95/1f7c90d682b79398c5ee3f9296be8d2640fa41de24226bcf5473c801ada6/nmslib-1.7.3.6.tar.gz
Requirement already satisfied: pybind11>=2.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nmslib) (2.2.4)
Requirement a

[2019-03-20 16:07] searchivarius commented on #378
I am not sure what's exactly is in the Conda distribution, but my best guess is that you need upgrade the GCC compiler.

[2019-03-20 16:18] rpoli40 commented on #378
We have g++ 4.8 and gcc 7.2 and I’m getting the error anyway

On Wed, Mar 20, 2019 at 12:07 PM Leonid Boytsov <notifications@github.com>
wrote:

[2019-03-20 16:29] searchivarius commented on #378
g++4.8 is a bit old. The version of gcc is not relevant.

[2019-03-20 16:36] rpoli40 commented on #378
Your requirements say g++ 4.7.

On Wed, Mar 20, 2019 at 12:29 PM Leonid Boytsov <notifications@github.com>
wrote:

[2019-03-20 16:41] searchivarius commented on #378
@rpoli40 how exactly do you install nmslib? I suspect that these flags are added by the conda distribution. If this is true, please, note that I don't maintain the conda distribution.

[2019-03-20 16:57] rpoli40 commented on #378
That’s is true

On Wed, Mar 20, 2019 at 12:41 PM Leonid Boytsov <notifications@github.com>
wrote:

[2019-03-20 17:12] searchivarius commented on #378
@rpoli40 ok, conda distribution is different. If you want to install a pip-ed version of NMSLIB, you can use pip from the conda installation location. The pip distribution doesn't use this these flags, so I guess it is ok with the old compiler.
Thanks!

[2019-03-20 17:15] rpoli40 commented on #378
Sorry didn’t get what you mean.

On Wed, Mar 20, 2019 at 1:12 PM Leonid Boytsov <notifications@github.com>
wrote:

[2019-03-20 17:24] searchivarius commented on #378
@rpoli40 there are conda and pip package managers. They use *DIFFERENT* versions of the package. You are trying to install the conda version. I don't maintain this version and have no control over it. The basic installation package doesn't have these flags that cause your errors. Try to to install the pip version (you can do it from conda too), e.g.,
[code]

[2019-03-20 17:30] rpoli40 commented on #378
We are installing the pip version

On Wed, Mar 20, 2019 at 1:24 PM Leonid Boytsov <notifications@github.com>
wrote:

[2019-03-20 18:12] rpoli40 commented on #378
Leonid,
On a separate note since i currently can’t experiment with the library,
once I load my data  with nmslib can I store it somehow in an optimized way
to allow an access to various calculations (similarity) or I need to have
it loaded into memory all the time and once I exit my code I need to load
everything again from the beginning.
Thank you

On Wed, Mar 20, 2019 at 1:24 PM Leonid Boytsov <

[2019-03-21 13:46] searchivarius commented on #378
@rpoli40 if you don't use getDistance or getDataPoint, it should be possible.

[2019-03-22 15:12] #378 closed

[2019-03-23 06:11] rpoli40 commented on #378
Leonid,
Will I be able to use index.knnQuery(query, k=10) after storing indexes?
In general what would you recommend doing if I have matrix of vectors with
following dimensions 180000X1024 which is about 700G of data (stored as
json) to create indexes for. I want to be able giving a query to retrieve
10 most similar to that query of interest. I was thinking of using
saveIndex and then load index w

[2019-03-23 09:56] Rafis1988 opened #379 "nmslib as a AWS Lambda Layer"
Hi. Maybe it's wrong place to ask, but how do I upload nmslib as a aws lambda layer? I've tried to zip virtualenv's site-packages with nmslib installed - no luck. I've tried to use lambci/lambda - got error: command 'gcc' failed with exit status 1. I have no problem with other python packages,for example I've uploaded numpy, pandas without any problem. What should I do?

[2019-03-24 10:55] #379 closed

[2019-03-24 10:57] Rafis1988 commented on #379
Finally I was able to wheel it inside lambci/lambda and upload it to aws lambda layes. It works.

[2019-03-25 03:42] searchivarius commented on #379
Good to know thanks!

[2019-03-26 15:49] earboxer commented on #356
Is there another way to save and load indexes in other spaces? Or do you have any pointers where the development would need to happen for this to work?

[2019-03-26 16:17] searchivarius commented on #356
@earboxer we will have to change a lot of stuff under the hood. Like restructuring all the library to fix a bunch of issues. If anybody is really serious about helping with this, this can be sped up. But, again, it is going to be a lot of changes.

[2019-03-26 16:26] searchivarius commented on #356
@earboxer on a second thought, we can a quick fix for data loading too. I think it is actually worth doing. Will you be able to help?

[2019-03-26 16:43] earboxer commented on #356
Depends on what needs to be done, I should be able to help! (though I haven't gotten myself too familiar with the code base).

[2019-03-26 17:13] searchivarius commented on #356
@earboxer we need some generic code to save/load data, which can be invoked when the method doesn't save data on its own. Plus, helping me to ship this (including testing, etc.).

[2019-03-26 17:15] searchivarius commented on #378
Hi Regina,
sorry for the delay. I think, if it's just retrieval with L2/cosine, it should work with HNSW and optimized index (which is built by default for L2/cosine). But one needs to double-check. There might also be some progress in adding generic data saving/retrieving functionality (whenever the index is saved), but it would take time: https://github.com/nmslib/nmslib/issues/356#issuecomment-

[2019-04-05 22:28] ibeltagy commented on #356
How easy is it to support this for the `cosinesimil_sparse` space ?

[2019-04-06 16:53] searchivarius commented on #356
@ibeltagy it's not difficult, this must be done ASAP, but I have a pile of deadlines till the beginning of May.

[2019-04-06 18:34] ibeltagy commented on #356
@searchivarius, I am not familiar with the code, but I can give it a shot if it is easy enough and you provide more details on what needs to be done.

[2019-04-08 09:21] searchivarius commented on #356
@ibeltagy if you are willing to help, please, drop me a line in a couple of weeks (leo at boytsov dot info). For now, I won't be able to do anything (even giving instructions). Thank you!

[2019-04-09 23:04] madskunker opened #380 "GPU support"
Has anyone attempted to leverage this to us GPU's?

Jeff

[2019-04-10 01:20] searchivarius commented on #380
A good thing to have, but I haven't anything yet.

[2019-04-11 14:59] oulenz opened #381 "Guidance on the delaunay_type parametre"
I have been testing the hnsw method as part of a nearest neighbour-like machine learning model, with good results, thank you for providing this implementation.

I was hoping you could give some guidance on the `delaunay_type` parametre.

The [parametre guide](https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md) mentions values 0 and 1, which presumably correspond to the two

[2019-04-12 04:53] searchivarius commented on #381
@oulenz thank for pointing this out. Indeed, the default is two and it performs usually a bit better than 1 or 3.  I don't think type=2 is thread-unsafe. I need to dig a bit deeper to understand why it's considered "non-accurate". Treat this value as a hyper-parameter (and the default seems to be working quite well).

[2019-04-12 09:27] oulenz commented on #381
Thanks for your reassurances on using `delaunay_type = 2` with multiple threads. It would be good to have an explanation for that code comment.

I've had another look at the code, and it seems to me now that values 1, 2 and 3 all correspond to Algorithm 4 of the article, with different parametre values:

1: `extendCandidates = False` and `keepPrunedConnections = True`
2: `extendCandidates = False`

[2019-04-12 12:27] Saftophobia opened #382 "Read an index in Java/Scala"
I would like to read an index (pre-indexed in python) via Scala, to be used for retrieval in Play app. I went through the query_server but I'm still not sure how this can be integrated in a web app like Play.

Any input is appreciated. Thanks.

[2019-04-12 15:26] yurymalkov commented on #381
Hi @oulenz,

The mentioned comment is wrong, it should be removed. At some point there was a different heuristic, which relied on traversing the graph and, thus, had this thread-safe issues.

All heuristics are now thread-safe, the default type should be 2.

The heuristics are as follows:
1: `extendCandidates = False` and `keepPrunedConnections = True`
2: `extendCandidates = False` and `keepPruned

[2019-04-12 15:38] oulenz commented on #381
Thank you for replying so quickly and clearing up this matter!

But there is no parametre that changes this flag, is there?

[2019-04-12 15:59] yurymalkov commented on #381
@oulenz Yes, unfortunately, it is hardcoded...
It seems that the most of the datasets are not clustered, so `extendCandidates = True` usually does not help (only slows down the construction).
However, there is a huge difference in search perfomance for the case of clustered or extremely low dimensional datasets.

[2019-04-12 16:08] oulenz commented on #381
Ok, I'm happy to use the default if that typically produces optimal results, it's one fewer parametre to tune. Thanks again!

[2019-04-12 16:58] searchivarius commented on #381
Let me re-open this, I will update the code docs. Thanks everybody!

[2019-04-13 02:08] searchivarius commented on #382
What is Play?

[2019-04-13 04:10] earboxer commented on #356
Looking at the code, my first guess is we need to modify [index.h](https://github.com/nmslib/nmslib/blob/314f48e0f86efafe9f6ad853236603400030a0ac/similarity_search/include/index.h#L57) to define SaveIndex and LoadIndex to be good, then allow the specific index types to call the function from their parent...

Possible references:

* [pivot_neighb_invindx.cc](https://github.com/nmslib/nmslib/blob/31

[2019-04-15 12:31] Saftophobia commented on #382
It's a web application [framework](https://github.com/playframework/playframework) for java/scala, I may ask this differently please.

When I start a cpp server via thrift, I assume it starts indexing. Is there a way I can start a server that reads an index that was created earlier? In case this doesn't exist, I would like to build an app in java/scala that reads an already created index and queri

[2019-04-16 02:39] searchivarius commented on #356
@earboxer let's maybe take it offline. leo@boytsov.info.

But basically, we need some generic saveData function that is being called every time there's need to save the index. Then, we can call loadData each time there's need to load the index.

[2019-04-16 03:05] searchivarius commented on #382
@Saftophobia if you do
[code]
then it will create and save the index.
Next time, you can do simply:
[code]
**Please, use the query server (but not the other code) from this branch:**
https://github.com/nmslib/nmslib/tree/nmslib4a_postdoc
Can't use the older code with the recent versions of Apache Thrift.

[2019-04-16 03:05] #382 closed

[2019-04-27 03:27] Neoanarika opened #383 "Custom metric ?"
Hi is it possible to learn your own distance metric first and then load into nmslib as a custom metric ?

[2019-04-28 19:43] searchivarius commented on #383
Hi @Neoanarika not easily, but possible. Also, how do you learn your metric? Often, the metric is learned as bi-linear form with symmetric PSD matrix. If this is a case, there is a transformation of the data, where similarity is just L2.

[2019-04-29 18:01] vamshin opened #384 "What is the plan(timeline) to implement AddBatch, DeleteBatch function?"
Hi  @Neoanarika,

I see the functions **AddBatch**, **DeleteBatch** are not implemented.  These functions seems to be useful in some cases.  What is the timeline or plan for the implementation of these functions?

https://github.com/nmslib/nmslib/blob/master/similarity_search/include/index.h#L88
https://github.com/nmslib/nmslib/blob/master/similarity_search/include/index.h#L93

[2019-04-29 18:07] vamshin opened #385 "What is the best way to merge 2 hnsw indices?"
Hi   @Neoanarika ,

I have 2 indices hnsw1(with 100 vectors), hnsw2(with 100 vectors). Currently i take the union of vectors from both the indices(200 vectors) and create a new index hnsw3.

Not sure if this is better approach. I am looking some thing like, Instead of building hnsw3 from scratch, is there a way i can merge hnsw1 and hnsw2 in place?

Also what do you think will be better in terms o

[2019-04-29 20:00] vamshin opened #386 "Why do we not have api to read all the nodes in the graph?"
Hi,

It would be nice to have the function to retrieve all the nodes that are part of the existing index.
Was just wondering any reason we did not expose this function?

Thanks in Advance

[2019-04-29 21:12] searchivarius commented on #384
Hi @vamshin I am working on this, I cannot give the timeline yet. This question is more appropriate for the gitter chat.

[2019-04-29 21:12] #384 closed

[2019-04-29 21:14] searchivarius commented on #386
Hi @vamshin the primary reason is that we have various methods not only graph-baed retrieval. But, I think it can be a good feature to have.

[2019-04-29 21:18] vamshin commented on #386
Thanks for the quick reply.

Also if we traverse the graph, do we get back all the points that are inserted in the index or is it lossy(we ignore storing some points). Sorry for the naive question. Just started digging into this :)

[2019-04-29 21:31] searchivarius commented on #386
@vamshin it's not lossy in the sense that all points are there.

[2019-04-29 22:22] searchivarius commented on #385
Hi @vamshin currently there's no way to do this, but there may be a way in the future. It's on the internal feature list already.

[2019-04-29 22:22] #385 closed

[2019-04-29 23:55] Neoanarika commented on #383
Ahhh ok thanks. I was thinking more on the lines of using a siamese network to learn a metric and loading the learnt metric into nmslib.

[2019-04-30 02:14] searchivarius commented on #383
@Neoanarika as far as I remember, in the end it does the cosine between two representations. You can (with a bit of effort) to implement this functionality, but
1) It needs to be all C++
2) It is going to be much more efficient to run the encoder parts before feeding vectors into the library.

[2019-04-30 02:14] #383 closed

[2019-05-04 22:06] bagavi opened #387 "Calculate efficiency in python"
I am running the following code in python
[code]
The `data` is a 1000x12000 array (1000 1200 dimensional images). How shall I calculate the `ImprDistComp` - the improvement in distance computation (over brute method) -- inside python environment?

Also, where can I set `efConstruction` and `efSearch` parameters of `hnsw` method?

[2019-05-05 03:49] searchivarius commented on #387
Hi @bagavi this is unfortunately not a visible metric.

[2019-05-15 00:53] searchivarius commented on #387
Sorry, I missed your another question, for setting the parameters, please, see the notebook:
https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_vector_dense_optim.ipynb
I don't think I am going to support the improvement in the number of distance computation in Python, this is not trivial.

[2019-05-15 00:53] #387 closed

[2019-05-15 00:54] #360 closed

[2019-05-17 00:01] vamshi1252 opened #388 "hnsw index file size"
Hi @Neoanarika ,

I am trying to estimate the size of the hnsw index saved on file system with respect to the embedding size.
I am seeing strange behavior.

For vector with 2 dimensions it takes 228 Bytes
For vector with 100 dimensions it takes 228 Bytes
For vector with 500 dimensions it still takes 228 Bytes

Sorry i have no idea on how the graph is serialized and stored.  Can you please help me

[2019-05-17 15:12] yurymalkov commented on #388
Hi @vamshi1252,
Probably, you are storing the graph before adding any elements.

[2019-05-17 16:10] searchivarius commented on #388
I am closing this, because these questions are better address through Gitter:
https://gitter.im/nmslib/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge
Who's https://github.com/Neoanarika BTW?

[2019-05-17 16:10] #388 closed

[2019-05-17 16:32] vamshi1252 commented on #388
@yurimalkov. No I was able to query the index and get the results. Checked the size of the index after getting results as well. So I am pretty sure graph is serialized with elements

[2019-05-20 20:13] gauravahuja commented on #117
Hi, is there an update on this issue?

[2019-05-20 22:44] searchivarius commented on #117
@gauravahuja no

[2019-05-23 01:04] keunhong opened #389 "Fork safety of Python objects for multiprocessing"
Hello,

I've been searching and couldn't quite find an answer for this so I'll ask here. Are the objects returned by `nmslib.init` and `ann.createIndex` fork safe i.e. if I pass them to a `multiprocessing.Process` as an argument will it work as indented?

I am using nmslib inside a dataloader for PyTorch and am encountering a deadlock in some cases. I was wonder if it is possible that this is the

[2019-05-23 01:08] searchivarius commented on #389
I don't think there's something that can cause a deadlock on NMSLIB side. Fork simply creates the copy of the process with the identical memory layout IMHO. However, I am not sure about Python or Python bindings. How exactly do you fork?

[2019-05-23 23:30] keunhong commented on #389
I've found the source of my bug and nmslib had nothing to do with it :) Sorry for the noise. It seems to handle multiprocessing fine.

[2019-05-23 23:30] #389 closed

[2019-05-23 23:46] searchivarius commented on #389
@keunhong no problem

[2019-05-26 02:39] searchivarius commented on #356
Hi @earboxer @ibeltagy @chomechome I am going to address this issue ASAP. I would have done this over this weekend, but I have some doubts about what's the best way to fix this. Historically, these indices  were meta-indices **except for L2 and cosine**.

So, I have two options
1. Embed a data loading/saving call into Load/SaveIndex and **always* load store data.
2. Somehow make loading data optio

[2019-05-26 19:17] chomechome commented on #356
Hello! If it's not decided yet, I suggest using a flag (option 2.3) since it's backwards compatible and is easier to use than separate save/load calls.

[2019-05-27 01:31] searchivarius commented on #356
@chomechome this makes sense: so the default False (not loading the data) is probably Ok? The reason I want to keep by default is that many people are using HNSW and just query data, i.e., they don't compute distances between arbitrary points. HNSW, for these common cases, does save the data on its own. So, for these people, saving/loading an additional copy of the data doesn't make sense.

[2019-05-27 02:44] ibeltagy commented on #356
I would also go with option 2.3 with False being the default. As you mentioned, I don't need to compute the distance and don't want to save the data, especially that reducing the index/data size is important for my application.

[2019-05-27 09:53] UpCoder opened #390 "all the type of space"
Hi, I try to figure out the all types of space, such as cosinesimil.
is there any another space? such as l2 or ip?

Thanks

[2019-05-27 15:44] earboxer commented on #390
It would be nice if all of the space choices were all next to eachother. [`l2` and `cosinesimil` are the only ones that can be saved and re-loaded right now](https://github.com/nmslib/nmslib/issues/356#issuecomment-439080366), but there are many other choices that should be able to be used.

The following list comes from grepping through the code (`grep -Rns "#define SPACE_"`)

*  SPACE_DUMMY

[2019-05-27 16:35] searchivarius commented on #390
There's a description of spaces in the manual, which I currently update (should be done quite soon), I will also create a table of spaces online soon.

[2019-05-28 03:40] safwank opened #391 "Serving multiple indices"
Sorry if this has been asked before, but is there documentation on how to serve multiple indices in the query server?

[2019-05-28 15:10] searchivarius commented on #391
@safwank Sorry, it's not supported, you need to have a sepearate server on the separate port for this. I don't think I am going to support multiple indices in the near future. Clearly, this can be done, but not in the basic library version.

[2019-05-28 15:10] #391 closed

[2019-05-29 00:02] safwank commented on #391
@searchivarius No worries, just wondering if it's possible. We'll just have to figure out how to work around it. Thanks!

[2019-05-29 07:31] Zheweiqiu opened #392 "Faster and more accurate when query data is included in the "train" and "add" stage"
I tried the following two settings:
1. Feed all data into the "train" and "add" stage and "query" data is randomly sampled from the whole data set, i.e. the query data is already included when building the graph.
2. Feed only partial data into the "train" and "add" stage, and during the "query" data is sample from the rest data,  i.e. the query data is excluded from the graph.
It turns out that 1

[2019-05-29 11:01] searchivarius commented on #392
If you include queries into the graph this can boost performance. But in a normal setting queries are not known in advance.

[2019-05-29 11:01] #392 closed

[2019-05-30 00:33] #369 closed

[2019-06-03 08:17] #214 closed

[2019-06-04 09:29] AndreyGurevich opened #393 "Broken link to parameters tuning guide"
In file https://github.com/nmslib/nmslib/tree/master/python_bindings there is a link
https://github.com/nmslib/nmslib/blob/master/python_bindings/parameters.md, but `parameters.md` is missing

[2019-06-04 11:49] searchivarius commented on #393
Fixed, thanks a lot for noticing. Please, note that this documentation is for version 1.8. I have been just upgrading to a new version.

[2019-06-04 11:49] #393 closed

[2019-06-04 11:52] searchivarius commented on #390
Please, see the updated docs. These are for the latest version 1.8:
https://github.com/nmslib/nmslib/tree/master/manual
Thanks!

[2019-06-04 11:52] #390 closed

[2019-06-04 11:53] searchivarius commented on #356
This issue should be tested in 1.8. I appreciate if you could test. I have also reorganized the docs. I believe they should be more accessible now:
https://github.com/nmslib/nmslib/tree/master/manual

[2019-06-04 11:54] searchivarius commented on #370
Hi @himansoo I pushed 1.8 to PyPi, could you check if this fixes the problem? I think it should. Many thanks!

[2019-06-04 11:55] searchivarius commented on #381
I have updated docs, thanks!
https://github.com/nmslib/nmslib/blob/master/manual/methods.md
I don't go into details of each specific pruning algorithms though.

[2019-06-04 11:55] #381 closed

[2019-06-04 13:49] #365 closed

[2019-06-04 13:58] searchivarius commented on #324
I hope this would be partially solved now with the introduction of `save_data` in `saveIndex` and `load_data` in `loadIndex`

[2019-06-04 13:58] #324 closed

[2019-06-04 14:00] searchivarius commented on #300
I believe this is now fixed with the flag `save_data=True` in `saveIndex` and `load_data=True` in `loadIndex`

[2019-06-04 14:00] #300 closed

[2019-06-04 14:00] #270 closed

[2019-06-04 14:01] #156 closed

[2019-06-04 14:01] #168 closed

[2019-06-04 14:01] #154 closed

[2019-06-04 14:02] #150 closed

[2019-06-04 14:02] #136 closed

[2019-06-04 14:03] #122 closed

[2019-06-04 14:03] #112 closed

[2019-06-04 14:03] #114 closed

[2019-06-04 14:03] #99 closed

[2019-06-04 14:04] #273 closed

[2019-06-04 16:08] AndreyGurevich commented on #393
Thank you
Yes, i've noticed that documentation is for 1.8, because parameter `save_data` at `saveIndex` promised to be very useful for me, but it's from 1.8.
Waiting for new release :)

[2019-06-04 16:09] searchivarius commented on #393
@AndreyGurevich it's kinda released (on PiPy). It just haven't tagged it yet.

[2019-06-04 23:41] himansoo commented on #370
I checked it. The case has resolved in the current version(=1.8).

Thanks for inform to me. ^^

[2019-06-04 23:41] #370 closed

[2019-06-05 01:45] searchivarius commented on #391
Hi @safwank BTW, I have made a simple fix that allows to serialize/load data more efficiently. It is in the latest release.

[2019-06-05 12:25] madhavi1102 opened #394 "Throwing Error while installing nmslib package in windows 10 machine using anaconda jupytr notebook."
Unable to install nmslib package in windows 10 machine. Earlier I faced issue of MS visual C++ build tools while installing,for that I had installed the Visual C++ build tools. Again after rerunning the pip install nmslib command in anaconda jupyter ,below error is thrown

  **.\nmslib\similarity_search\src\method\pivot_neighb_invindx.cc(296): note: while compiling class template member function '

[2019-06-06 00:18] searchivarius commented on #394
Hi @madhavi1102 are these all the errors that you see? Could you run
[code]
to record the complete file log?
Thanks!

[2019-06-06 01:40] searchivarius commented on #394
BTW, @madhavi1102 , which Windows version do you use? 32 bit or 64 bit?

[2019-06-07 02:17] vamshin opened #395 "How do we know the size of the graph in memory after we call LoadIndex?"
Hi searchivarius@,

Is there a way to know the memory consumption of the graph once loaded onto memory?

Usecase:-
I am trying to keep graphs which of certain size in memory and delete the smaller graphs right  away after usage

[2019-06-07 02:31] searchivarius commented on #395
Hi @vamshin there's no direct API call for this. It's not difficult to implement the one that would estimate the size. However, it is difficult to know for sure due to all the fragmentation issues. That said on many OS you can surely estimate the amount of memory used by the program. So, you can estimate the footprint, load the graph, estimate the footprint and compute the difference.

[2019-06-07 02:56] #395 closed

[2019-06-10 21:24] alberto-oliveira commented on #172
I'm still having the same issue, even when using high values of efConstruction, M, efSearch, and post=2.

My data is approximately 250000 x 2600 in size, and for each query point I'm looking to retrieve k = 1000 nearest neighbors. For some of the points, the number of neighbors retrieved is around 80, instead of the 1000 needed.

[2019-06-10 22:45] searchivarius commented on #172
@alberto-oliveira 1) could you share the data 2) what's your target retrieval speed? that's how fast should it be?

[2019-06-14 07:43] Zheweiqiu opened #396 "If normalization needed"
Hello,
I initialized a index with "cosinesimil" space, before passing data into index, do I need to normalize data first? And for query data?
Thanks in advance!

[2019-06-14 10:50] searchivarius commented on #396
Hi, no you don't have to. But, please, **ensure your data doesn't have all-zeros vectors**.

[2019-06-14 10:50] #396 closed

[2019-06-19 03:08] Zheweiqiu opened #397 "offline installation"
Hello,
Is there any way to install nmslib offline for python, i.e., pack everything in a package and we can do 'import nmslib' by adding the package to PYTHONPATH without installing it via pip?
Thanks in advance!

[2019-06-19 04:28] sullivanzheng opened #398 "Memory leak in Python when loadIndex(..., load_data = True) (again again)"
Hi,

I used nmslib to create an index for 100000 vectors with 200 dimensions with HNSW and cosinesimil. This index was saved to disk with option save_data=True.

If you load the index from disk with load_data=True, then it seems to me that loaded data will never be released from memory causing a memory leak.

The following code can reproduce this problem:
`import nmslib
import numpy.random as npr

[2019-06-19 08:47] searchivarius commented on #397
Hi @Zheweiqiu you can
1. build the library locally from the `similarity_search` folder
2. create a Python egg in the `python_bindings` directory by then running `python setup.py` build.
You can then add the **full* path of the egg to PYTHONPATH.

[2019-06-19 08:47] #397 closed

[2019-06-19 09:15] searchivarius commented on #398
Thank you for noticing. I have committed a fix: could you install a version from the develop branch and check if the leak disappears? https://github.com/nmslib/nmslib/tree/develop

[2019-06-19 09:55] searchivarius commented on #398
@sullivanzheng hold on a moment, I am going to double-check the fix.

[2019-06-19 13:37] Zheweiqiu commented on #397
Are these two steps two ways of building nmslib library locally or twos steps of one approach? And for the second part, how to 'create a Python egg in the python_bindings directory'? These question may seem stupid since I am a beginner.
Thank for any help!

[2019-06-20 00:47] searchivarius commented on #397
Hi, these are basically the setups. It's actually easier to go directly to the python_bindings folder and type:
[code]
If I understand correctly, the egg in the the ``build/lib...`` subdirectory. You can google for additional info. NMSLIB is not different in this respect compared to other python libraries. Once you build the egg, you can use it without installing. I did try this yesterday and it w

[2019-06-20 00:51] searchivarius commented on #398
Hi @sullivanzheng could you try the develop branch now? You need to install it locally from the ``python_bindings`` folder:
[code]
Make sure you deleted the previous version, e.g,:
[code]

I think I have fixed it now, but I will also need to set up good unit-like tests to catch leaks in the future. Turns out, it's a bit tricky to test for memory leaks automatically, b/c memory usage is a bit unpre

[2019-06-20 02:42] 1653091 opened #399 "pip install error"
I am using pip 3.7.3 x64 on WIndows.
![image](https://user-images.githubusercontent.com/46515998/59814384-559bb000-933f-11e9-97ad-9ad74d5c743c.png)
I already have pyblind11 and numpy.
Thanks a lot.

[2019-06-20 02:54] searchivarius commented on #399
Seems like a similar issue with #394: what is your MS Visual Studio version?
Thank you!

[2019-06-20 02:55] searchivarius commented on #394
I am merging it with #399.

[2019-06-20 02:55] #394 closed

[2019-06-20 04:59] 1653091 commented on #399
I'm using MS Visual Studio 19

[2019-06-21 08:52] 1653091 commented on #399
The error occures in file pivot_neighb_invindx.cc and it about _mm_prefetch function not found. So I try changing the header of  pivot_neighb_invindx.cc like this. It works
![image](https://user-images.githubusercontent.com/46515998/59910653-87467100-943c-11e9-95c5-3ce12e2c3311.png)
Anyone who have the same error like me can try it.

[2019-06-21 10:33] searchivarius commented on #399
Many thanks, I would have to patch & test!

[2019-06-23 16:36] #398 closed

[2019-06-23 17:57] searchivarius commented on #398
Hi @sullivanzheng the new minor release 1.8.1 should have fixed this error. I have also wrote a regression test to prevent at least some of these bugs in the future. If it still doesn't work for you, please, re-open the issue (with additional comments). Thank you!

[2019-06-30 07:28] jhagege commented on #358
+1. anyone found a way to accelerate pip install ?
Thanks :)

[2019-06-30 09:24] guyalo commented on #359
Solved for me by placing  `import nmslib` in the __init_,py file of the project

[2019-07-01 11:30] searchivarius commented on #359
@guyalo this is interesting, thank you. @matthen could you check if this helped you?

[2019-07-01 11:57] matthen commented on #359
Unfortunately that is not an option in the context of our work as we are using a mono repo with multiple entry points, unit tests, scripts etc, not all of which should import nmslib

[2019-07-01 18:17] VasantVK commented on #339
Does using the leven space return the queried string as the nearest neighbor with a distance of 0? I am getting some queries that are returning itself and some that aren't.

[2019-07-01 19:00] searchivarius commented on #339
@VasantVK no problem. Indeed, the search doesn't guarantee 100% accuracy.

[2019-07-03 02:17] searchivarius commented on #358
@jhagege it needs to be a binary installation. If anybody wants to help, the help is welcome.

[2019-07-03 07:12] scottgigante commented on #358
Related to #364 which appears to not quite have worked. Some points:

From appveyor (https://ci.appveyor.com/project/searchivarius/nmslib/builds/25077691/job/mb98fje0x6owt4xr):

* https://github.com/nmslib/nmslib/blob/master/.appveyor.yml#L52 change from `mv .pypirc` to `mv ../.pypirc`
* https://github.com/nmslib/nmslib/blob/master/.appveyor.yml#L59 change from `twine` to `python -m twine`

For tr

[2019-07-03 11:00] searchivarius commented on #358
@scottgigante let's not worry about this now. I think I may fix this some day. However, I think creating a binary distribution would be more important.

[2019-07-03 23:13] scottgigante commented on #358
@searchivarius to be clear this would create the binary distribution for each release. The alternative is to manually create them and upload manually with twine as in the deploy section of `appveyor,yml`.

[2019-07-05 23:00] searchivarius commented on #358
@scottgigante ahh right, sorry I forgot about this. It looks like I need to make it work, indeed.

[2019-07-08 23:27] sshleifer opened #400 "Available Spaces for Python API"
Are there docs for which spaces are allowed through the python API? I've seen some examples with 'angulardist' and 'cosinesim' but was wondering if there were more to try. Thanks!

[2019-07-09 04:30] searchivarius commented on #400
Please, find the description here https://github.com/nmslib/nmslib/blob/master/manual/spaces.md

[2019-07-09 04:30] #400 closed

[2019-07-11 13:20] LouisdeBruijn commented on #399
any update on this? I am getting an error aswell, but no simple fix for it.

[2019-07-13 13:21] Markusjsommer opened #401 "Bitpacked data instead of strings for bit_hamming?"
Creating space-separated strings to add to a bit_hamming HNSW index adds quite a bit of overhead for large data sets that may already be in a compressed format (e.g. one-hot genomic data in a uint8 numpy array created with np.packbits).

Is there a way to avoid creating strings representing binary data solely for the HNSW bit distance indexes, either in python or C++?

[2019-07-13 20:28] searchivarius commented on #401
@Markusjsommer there's an overhead in passing the string to NMSLIB, but not in storing, b/c internally these strings are bit-packed into integers. So, if, e.g., you read a binary from disk, convert it to a string and pass a string to NMSLIB, there's virtually no space overhead.

Well, it's somewhat a hassle, but it's no clear how much interest would be in supporting passing bit-packed data from Py

[2019-07-15 03:27] lqniunjunlper opened #402 "entry point bug after load index?"
see small_word_rand.cc:914
pEntryPoint_ = ElList_.empty() ? nullptr : ElList_.begin()->second;

Is the entry_point not the first node when create index ?

[2019-07-15 03:30] lqniunjunlper commented on #402
ELList is unordered_map, not consisted with order of insertion?

[2019-07-15 03:58] lqniunjunlper commented on #402
hi,
During the experiment process(see experiment.h, main.cc), the search is fast, avg time is 1 millisecond;
But when i reload the same SW-Graph index, search query is slow, almost 20 milliseconds;
code:
load index:
    std::string space_type = "word_embed";
    std::vector<std::string> space_params_vec = {"dist=cosine"};
    std::shared_ptr<AnyParams> space_params(new AnyParams(space_params_vec))

[2019-07-15 10:03] lqniunjunlper commented on #402
solved!

[2019-07-15 10:03] #402 closed

[2019-07-15 13:21] CrafterKolyan opened #403 "_sparse suffixes for L_p spaces in documentation"
There is no `_sparse` suffixes in almost all `L_p` spaces in documentation ( https://github.com/nmslib/nmslib/blob/master/manual/spaces.md#lp-spaces )
Seems it should be `l1_sparse`, `l2_sparse` and `linf_sparse`

[2019-07-15 13:33] searchivarius commented on #401
I am closing this for now, but, of course, if anybody wants to contribute a code that directly passes bit-vectors to NMSLIB, this is welcome.

[2019-07-15 13:33] #401 closed

[2019-07-15 16:25] searchivarius commented on #403
Indeed, thank you for noticing (added).

[2019-07-15 16:25] #403 closed

[2019-07-29 21:40] VasantVK opened #404 "Issue with building in parallel"
Hi, I was wondering if nmslib supported adding in data points in parallel? I see in the API reference, I can utilize num_threads for the query but my main issue is building the index. Below is a simple example I made where both functions work but return an empty array i.e. qq gives this: "(array([], dtype=int32), array([], dtype=float32))"

Any help would be appreciated. Thanks.

[code]

I should

[2019-07-30 23:58] searchivarius commented on #404
Hi @VasantVK no, unfortunately, there's no multi-threaded addition of data. Querying, however, is multi-threaded, but one needs to use ``knnQueryBatch``.

Regarding the error message, which function did it throw? You don't need an additional list for ``addDataPointBatch``. However, addDataPoint, if I remember correctly requires a vector, not a matrix. I suspect this was the function that raised th

[2019-07-31 17:19] VasantVK commented on #404
If I try to add the array (in the example below),
[code]

then I get an error message like this

[code]

I tried the same way with the ```addDataPoint``` but it didn't work either.

[2019-07-31 19:05] searchivarius commented on #404
@VasantVK it looks like it chokes on int matrices. Please, try float32 matrices instead.

[2019-07-31 20:24] VasantVK commented on #404
It does not work for that either. I changed the array to this ```iArr = numpy.full((10,2), numpy.float32(numpy.random.random()))```. It also does not seem to work for float64 as well.

[2019-07-31 23:15] searchivarius commented on #404
Hi @VasantVK
I cannot reproduce your issue.
Could you provide
1. the minimal end-to-end example
2. Python version
3. Numpy version?
4. nmslib version

[2019-08-05 18:17] VasantVK commented on #404
This is all the code I have. I am trying to implement it in another program so tested it here.

Python: ```Python 3.7.3```, Numpy: ```'1.16.4'```, nmslib: ```nmslib in /usr/local/lib/python3.7/site-packages (1.8)```

[code]

Can I ask what results you were getting? Thanks.

[2019-08-05 18:23] searchivarius commented on #404
Hi @VasantVK sorry if I wasn't clear: there should be a single process that creates an index. I am not sure what are the side effects of multiprocessing.

[2019-08-05 18:27] VasantVK commented on #404
In the example above, I think I am creating with a single process but am adding data points in parallel. But if it doesn't work that's fine. HNSW should work in the manner I want right?

[2019-08-05 18:45] searchivarius commented on #404
Dear @VasantVK since I do not understand the code and why it uses multiprocessing, I cannot tell anything, sorry. You need to follow the code in the notebooks. If you have a single-process example, where it doesn't work as intended during indexing, feel, free to re-open this issue. But don't forget to produce an end-to-end piece of code.

[2019-08-05 18:45] #404 closed

[2019-08-08 08:32] barney54321 commented on #399
I've also come across this issue on multiple computers, all running Windows 10 and Python 3.7.4
Here's the error from my pip log:
[err.txt](https://github.com/nmslib/nmslib/files/3480622/err.txt)

[2019-08-12 08:15] searchivarius commented on #399
@barney54321 I hope to look into this quite soon (likely after this Wed).

[2019-08-16 07:57] mohamed-ali opened #406 "loadIndex fails with MemoryError: std::bad_alloc & how to handle .dat suffix ?"
Thanks for the effort you put in this library.
I am facing two issues with loadIndex:

- A suffix .dat is added to the specified index name with no way to disable or change it.
- MemoryError for a relatively small index (2.0G) on a 32G server.

First, I create and save the index as follows:
[code]
the data contains roughly 6 million entries.

### .dat suffix is added automatically to the filename

[2019-08-16 16:31] searchivarius commented on #406
Hi @mohamed-ali thank you for kind words.
1. For L2 if you don't need distances calculations, you can disable saving data by setting ``save_data`` to false: https://nmslib.github.io/nmslib/api.html#nmslib.dist.FloatIndex.saveIndex
2. When loading index, don't add the prefix dat. ``saveIndex('someName')`` then ``loadIndex(someName)``.
Sorry about confusion with saving and not saving data. I plan to

[2019-08-22 14:20] alohia commented on #378
For anyone still facing this problem, the following commands worked for me and allowed me to install nmslib on amazon linux on EC2

[code]

[2019-08-29 07:06] Zheweiqiu opened #407 "CPU utilization"
Hi,
I am using hnsw. When my program is running, I notice that my CPUs are fully occupied. I tried both knnQueryBatch(with num_threads set to 1) and knnQuery but there is no difference on cpu utilization. Each thread takes up to 400% CPU. I am not sure what causes this problem.  So I am wondering if hnsw causes this problem.
Any help will be appreciate!

[2019-08-29 17:36] searchivarius commented on #407
Hi do you have a reproducible example? I think the code itself shouldn't be using all the threads unless you may run several threads or processes yourself.

[2019-08-30 18:47] brendanchambers opened #408 "pip install bug on arch linux"
In the file nmslib/python_bindings/setup.py,
Line 109 should read:
c_opts['msvc'].append("/arch:{}".format(os.environ['ARCH']))

Instead, it currently reads:
c_opts['msvc'].append("/arch:{}".format(os.envrion['ARCH']))

os.envrion -> os.environ

This prevents installation on impacted arch linux distributions.

[2019-09-18 03:02] changgongcheng opened #409 "how to input the label"
in c++，how to input the label ，the sample_data do not contain the label. who can help me?

[2019-09-18 14:29] geetickachauhan opened #410 "import nmslib throws error"
I am using scispacy UmlsLinker which relies on nmslib. Upon trying to import nmslib, I get the following
'ImportError: /envs/<conda_directory>/lib/python3.6/site-packages/nmslib.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZTINSt6thread6_StateE'
Trace is the following:
`from scispacy.umls_linking import UmlsEntityLinker -> from scispacy.candidate_generation import CandidateGenerator -> impo

[2019-09-22 16:24] searchivarius commented on #410
Hi @geetickachauhan I am a bit confused. There seems to be an issue related to install nmslib with scispacy, indeed, but does it help if you install nmslib directly (i.e., on your own)?

[2019-09-27 00:17] brendanchambers commented on #408
Updating, fixed and submitted pull request. Thank you!

[2019-10-11 09:40] 0x01h commented on #380
Is there any progress for this issue? @searchivarius

[2019-10-11 15:07] searchivarius commented on #380
no

[2019-10-13 17:52] brendanchambers commented on #408
Update:  After typofix, the AppVeyer build test failed for python 2 only. Python 3 checks passed. Other tests passed. Looks like a deeper issue, at least for python 2.

[2019-10-14 19:11] searchivarius commented on #408
@brendanchambers Python2 is a known issue, I need to fix it. There's one function that is only available in Python3 and it does unit testing.

[2019-10-15 16:40] DeNeutoy opened #413 "Please could we have a point release?"
It would be helpful if we could have a release which includes this commit:

https://github.com/nmslib/nmslib/commit/761b2f5ea46a765edaa655929cf8cbffa9d8855c

I think it may help ease install issues for scispacy.

Thanks!

[2019-10-15 20:55] brendanchambers commented on #408
Ah, makes sense. I'm using Python3 for what it's worth. Thanks!

[2019-10-16 13:42] DeNeutoy commented on #413
oooh binary builds would be great. Honestly I don't know too much about packaging C++ libraries so they work cross platform, but happy to install things and see if they work etc. I'll drop you an email.

[2019-10-17 17:15] geetickachauhan commented on #410
Hi @searchivarius I have experienced this issue before when installing the same library with pip as well as conda. It is most likely related to that issue rather than nmslib not being present. I will investigate this further and post if I was able to solve this issue.

[2019-10-21 23:11] TieSKey commented on #174
Are u still planning to remove the label? I find it useful for my usecase but if removing it increases search speed then plz go for it :P

[2019-10-22 00:02] searchivarius commented on #174
@TieSKey not in this version of nmslib, I don't think speed will be affected. However, could tell me more about the use case? It may be in general terms: leo@boytsov.info. Knowing why it's useful may help me with future versions.

[2019-10-22 07:15] 0x01h opened #414 ""print_progress=True" bar cannot be seen in Jupyter Notebook!"
Hi,

Even though we are able to see progress bar in terminal using this line:
`index.createIndex({'post': 2}, print_progress=True)`
![SS](https://user-images.githubusercontent.com/32897657/67264697-825e0080-f4b4-11e9-811f-ffde533e65b4.png)

Progress bar cannot be seen in *Jupyter Notebook* cells. Could you please fix this issue?

Thank you!

For example, [tqdm](https://github.com/tqdm/tqdm)'s prog

[2019-10-22 15:20] TieSKey commented on #174
Oh it is quite simple. I have several vectors that belong/describe the same document.
For each vector I set the owner document id as the label and the vector id (relative to each document) as the object id.
Ofc this can be done outside of the index but using the label it is quite convenient.

[2019-10-22 16:27] searchivarius commented on #414
@0x01h do you have an idea how tqdm interacts with Jupiter?

[2019-10-23 08:29] 0x01h commented on #414
Maybe this blog post could help.

https://www.mikulskibartosz.name/how-to-display-a-progress-bar-in-jupyter-notebook/

[2019-10-31 15:21] chandansharma02 commented on #399
Hi Leonid Boytsov..........Any luck with above?

[2019-10-31 15:38] searchivarius commented on #399
We should be soon done with this. We will also be able to provide binaries, albeit they might be a bit slower.

[2019-11-03 10:58] chandansharma02 commented on #399
Thank you looking forward for either. I am using windows 10. In case of binaries, speed is less of an issues as of now.

[2019-11-03 18:22] searchivarius commented on #399
@chandansharma02 ok, sure, should be done with this today.

[2019-11-04 07:34] huangchuanhong opened #418 "python api parameter 'post'"
hi,
I wonder what's the meaning of 'post' here, I can't find it in the manual or in the HNSW paper.
Thank you /Users/huangchuanhong/Library/Containers/com.tencent.xinWeChat/Data/Library/Caches/com.tencent.xinWeChat/2.0b4.0.9/c196284c4730a8cb498794dd3871eed8/dragImgTmp/WeChat30bb5acd81e18ac6300be4597d3de334.png

[2019-11-04 07:36] #418 closed

[2019-11-04 07:39] huangchuanhong opened #419 "python api parameter 'post'"
hi,
I wonder what's the meaning of 'post' here, I can't find it in the manual or in the HNSW paper.
Thank you

[2019-11-04 07:40] #419 closed

[2019-11-04 07:43] huangchuanhong opened #420 "python api parameter 'post'"
hi,
I wonder what's the meaning of {'post': 2} here, I can't find it in the manual or in the HNSW paper.
Thank you

'''
index.createIndex({'post':2}, print_progress=True)
'''

[2019-11-04 08:16] huangchuanhong commented on #420
I have found it in the manual as follows:

Third, HNSW has the parameter post, which defines the amount (and type) of postprocessing applied to the constructed graph. The default value is 0, which means no postprocessing. Additional options are 1 and 2 (2 means more postprocessing).

But I still don't know what's postprocessing applied here. Maybe I should read the paper more carefully before aski

[2019-11-04 16:23] searchivarius commented on #420
Hi @huangchuanhong it's in the code, but it's not documented, sorry.

[2019-11-04 16:23] #420 closed

[2019-11-05 09:20] #408 closed

[2019-11-05 10:19] searchivarius commented on #399
Hi @chandansharma02 could you check if the current binary version works for you? Thank you!

[2019-11-05 20:52] #407 closed

[2019-11-05 20:53] #358 closed

[2019-11-05 20:53] #322 closed

[2019-11-05 20:54] #307 closed

[2019-11-05 20:55] searchivarius commented on #413
Hi @DeNeutoy we've incorporated the requirement for a more recent pybind11 and have provided the binaries. This should hopefully resolve most issues with installation. It is still always possible to install from sources for maximum performance.

[2019-11-05 20:55] #413 closed

[2019-11-06 05:46] chandansharma02 commented on #399
Thank you again. Now I am able to pip install it and able to import the library. Will run the complete code and hope all works.

[2019-11-06 14:08] scottgigante commented on #358
Thanks @searchivarius !!!

[2019-11-06 14:12] searchivarius commented on #358
All credit goes to you @scottgigante sorry it took me so long. I will be more proactive in the future.

[2019-11-06 14:12] scottgigante commented on #358
No need for apologies! Glad it's up and running.

[2019-11-06 14:14] scottgigante commented on #245
Windows binaries are up! Looks like installation instructions have been simplified too.

[2019-11-06 15:44] #356 closed

[2019-11-06 15:46] searchivarius commented on #325
@zseder This is definitely fixed now. If you export CFLAGS for the Linux build and set e.g., -march=<something> or -msse.... it will go with a specified option. For a Windows build you need to specify the ARCH variable. Please, see the code here for a reference: https://github.com/nmslib/nmslib/blob/master/python_bindings/setup.py#L116

[2019-11-06 15:46] #325 closed

[2019-11-06 15:50] searchivarius commented on #245
@scottgigante actually, I will need to try re-compile with the latest Visual Studio. But, binaries are easy to install now.

[2019-11-06 16:36] searchivarius commented on #399
Nice, thank you for confirming @chandansharma02

[2019-11-06 16:37] #253 closed

[2019-11-06 16:39] searchivarius commented on #212
This is actually a bit tricky, b/c we don't build the library itself.

[2019-11-07 01:58] matthen commented on #358
the binary release hasn't been built and pushed to pypi yet, right? would appreciate a ping on this thread when it is! :)

[2019-11-07 02:34] searchivarius commented on #358
Hi @matthen it has been, but I am also rebuilding it (so there's a mix of two-version wheels on pypi). Feel free to check it tomorrow or in a few hours. Thank you!

[2019-11-10 09:39] AdityaSoni19031997 opened #422 "get reverse cosine similarity results?"
How can we get the reverse results from the ```knnQuery```?
By reverse i mean, it computes the ```cosine dist``` let's say as ```-1*cosine_dist```?
i.e. the one which has the highest ```cosine dist``` should come first after i run the `knnQuery`..

[2019-11-10 16:12] searchivarius commented on #422
@AdityaSoni19031997 it's very easy to do in Python, e.g., using numpy.

[2019-11-10 16:12] #422 closed

[2019-11-12 06:43] disa-mhembere commented on #130
Hello @searchivarius so was it your determination that rangequery for hnsw is abandoned at this point then?

[2019-11-12 17:30] JWalker1995 commented on #15
Was there any progress on this? I'm interested in using a mahalanobis metric that I can specify at query time.

[2019-11-12 17:37] searchivarius commented on #15
@JWalker1995 it's a really old closed issue: We have had separate query-time parameters for a long-time now. This original design flaw has been long fixed.

[2019-11-12 17:59] JWalker1995 commented on #15
Thank you!

[2019-11-14 02:01] searchivarius commented on #130
@disa-mhembere could you answer my e-mail? It's not impossible, but I'd like to know a bit more.

[2019-12-06 15:02] chadykamar commented on #414
Either one of these should fix it:
[code]
[code]

It'll import the correct one depending on if it's running in IPython/terminal or Jupyter. You can find the source [here](https://github.com/tqdm/tqdm/blob/master/tqdm/autonotebook.py).

[2019-12-06 15:08] searchivarius commented on #414
@chadykamar nice, but could you elaborate on this? NMSLIB currently just prints stuff to the terminal, how importing anothing tqdm can fix the issue? thank you!

[2019-12-06 15:08] fkaiserbio opened #423 "Sparse Jaccard Space fails for ultra-high dimensional input"
Hi,

I followed the [tutorial](https://github.com/nmslib/nmslib/blob/master/python_bindings/notebooks/search_generic_sparse_jaccard.ipynb) for sparse jaccard spaces. It worked great and I tried to adapt it to my problem.

However, I have to deal with highly sparse data with dimensions in the range of >1B. I tried to add data points to the index with e.g.

`index.addDataPoint(i, '2289927267 3696402

[2019-12-06 16:58] chadykamar commented on #414
Sorry, I misunderstood and thought that NMSLIB actually did use tqdm.

As I understand it, Python' `sys.stdout` is a wrapper around the "real" stdout file descriptor. Jupyter probably redirects Python `sys.stdout` somehow so that it prints to the notebooks's HTML GUI. However, since NMSLIB is C++ wrapped with pybind, it prints directly to the actual stdout file descriptor, which is the terminal th

[2019-12-06 17:05] chadykamar commented on #414
Sorry, I misunderstood and thought that NMSLIB actually did use tqdm.

As I understand it, Python' sys.stdout is a wrapper around the "real" stdout file descriptor. Jupyter probably redirects Python sys.stdout somehow so that it prints to the notebooks's HTML GUI. However, since NMSLIB is C++ wrapped with pybind, it prints directly to the actual stdout file descriptor, which is the terminal that J

[2019-12-07 08:59] searchivarius commented on #423
Hi @fkaiserbio sorry we don't support ids larger than the four byte **signed** int, sorry. However, does it really matter for approximate search? You can probably easily replace all your IDs with `id % 2147483648` or `id % 2147483647`. This should have a minuscule effect on the overall accuracy: and the search is approximate anyways.

[2019-12-08 12:09] fkaiserbio commented on #423
Hi @searchivarius! Thanks for clarification and the suggestion. You are probably right, I will do the conversion of the IDs and test for the accuracy on our data.Thanks for your help and the great library!

[2019-12-08 12:09] #423 closed

[2019-12-09 17:29] searchivarius commented on #414
@chadykamar thank you for the clarification and the reference. It's a bit of a lower priority, but it's certainly possible to fix. Also, if anybody is willing to help, they are most welcome.